<section class="container-fluid with-maxwidth chapter">

    <article class="article">

        <h2 class="article-title">New Project</h2>
        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form" #heroForm="ngForm">
                    <div class="form-group row">
                        <label class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-select placeholder="Owner" required [(ngModel)]="project.org.id" name="owner">
                                    <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                                        {{org.org.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="project.name" name="name" id="name"
                                       matInput placeholder="Project name">
                            </mat-input-container>

                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="repo" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-select placeholder="Access level" [(ngModel)]="project.visibility" name="Access level">
                                    <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                                        {{visibility}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <div class="form-group row">
                        <label for="repo" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-select placeholder="Type" required [(ngModel)]="project.projectType" name="type">
                                    <mat-option *ngFor="let projectType of projectTypes" [value]="projectType">
                                        {{projectType}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row" [hidden]="project.projectType === 'Local'">
                        <label for="repo" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="project.url" name="url" id="repo"
                                       matInput placeholder="Repository URL e.g. https://github.com/username/Fx-UI.git">
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="form-group row" [hidden]="project.projectType === 'Local'">
                        <label for="username" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <mat-input-container class="full-width">
                            <input [(ngModel)]="project.username" name="username" id="username"
                                   matInput placeholder="Repository access-key or username">
                            </mat-input-container>
                        </div>
                    </div>
                    <div class="form-group row" [hidden]="project.projectType === 'Local'">
                        <label for="pass" class="col-md-2 control-label"></label>
                        <div class="col-md-8">
                            <mat-input-container class="full-width">
                            <input type="password" [(ngModel)]="project.password" name="password" id="pass"
                                   matInput placeholder="Repository secret-key or password">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="divider divider-md"></div>
                    <div class="form-group row">
                        <label for="repo" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-form-field>
                                <mat-select placeholder="Auto-Code" [(ngModel)]="project.genPolicy" name="Auto-Code">
                                    <mat-option *ngFor="let gen of genPolicies" [value]="gen">
                                        {{gen}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="form-group row" [hidden]="project.genPolicy === 'None'">
                        <label for="spec" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="project.openAPISpec" name="spec" id="spec"
                                       matInput placeholder="OpenAPI Spec URL e.g. https://ip/v2/api-docs">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="divider divider-md"></div>

                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            <button mat-raised-button color="primary" (click)="create();"
                                    class="btn-w-md no-margin-left">Add
                            </button>
                            <span class="space space-md"></span>
                            <button mat-raised-button type="button" class="btn-w-md" [routerLink]="['/app/projects']">Cancel
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-2"></div>
                        <div class="col-md-10">
                            <div class="callout callout-info">
                                <p>Fx will monitor the project repository for new commits and will automatically sync back changed files.</p>
                                <p>Code generation can automatically create test-suites for API endpoints and will commit the changes back to version-control system.</p>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </article>
</section>
