<section class="container-fluid with-maxwidth chapter">
    <article class="article">

        <h4 class="article-title">New Project</h4>

        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form" #heroForm="ngForm">
                    <!-- Project details -->

                    <div class="form-group row">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-6">
                            <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
                            <mat-form-field>
                                <mat-select placeholder="Owner" required [(ngModel)]="project.org.id" name="owner">
                                    <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                                        {{org.org.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <!--<div class="form-group row">
                        <label for="repo" class="col-md-2 control-label">
                        </label>
                        <div class="col-md-8">
                            <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
                            <mat-form-field>
                                <mat-select placeholder="Access level" [(ngModel)]="project.visibility"
                                            name="Access level">
                                    <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                                        {{visibility}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>-->

                    <div class="form-group row">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="project.name" name="name" id="name"
                                       matInput placeholder="Project name">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <!-- Repository details -->

                    <div class="form-group row">
                        <label class="col-md-1 control-label">
                        </label>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Cloud Account" required [(ngModel)]="project.cloudAccount" name="type">
                                    <mat-option *ngFor="let ca of cloudAccounts" [value]="ca" (change)="setCloudAccount(cloudAccount);">
                                        {{ca.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Public or private repository's registered account where organizations host and review code. <br/>
                                <a target="_blank"
                                   href="#/app/cloud-accounts">Click here to register account<i class="material-icons"
                                                  style="font-size: 18px;">open_in_new</i></a>T
                            </p>
                        </div>
                    </div>

                    <!--<div class="form-group row">-->
                        <!--<label for="name" class="col-md-1 control-label"></label>-->
                        <!--<div class="col-md-4">-->
                            <!--<mat-form-field>-->
                                <!--<mat-select placeholder="Repository type" required [(ngModel)]="project.projectType"-->
                                            <!--name="type">-->
                                    <!--<mat-option *ngFor="let projectType of projectTypes" [value]="projectType">-->
                                        <!--{{projectType}}-->
                                    <!--</mat-option>-->
                                <!--</mat-select>-->
                            <!--</mat-form-field>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div [hidden]="project.cloudAccount.accountType === 'Local' || !project.cloudAccount.accountType">
                        <div class="form-group row">
                            <label for="name" class="col-md-1 control-label"></label>
                            <div class="col-md-4">
                                <mat-input-container class="full-width">
                                    <input required [(ngModel)]="project.url" name="url" id="repo"
                                           matInput placeholder="Repository URL">
                                </mat-input-container>
                            </div>
                            <div class="col-md-7">
                                <div class="callout1 text-muted callout-info1">
                                    <p>e.g. https://github.com/username/MyApp.git. Follows the below steps to create a
                                        new
                                        repo.
                                        <br/>Step 1: Fork the <a target="_blank"
                                                                 href="https://github.com/intesar/Fx-Sample">Sample
                                            repository <i class="material-icons"
                                                          style="font-size: 18px;">open_in_new</i></a>
                                        <br/>Step 2: Update environments and jobs section in Fxfile.yaml.
                                        <a target="_blank" href="https://github.com/intesar/Fx-Sample"> Learn more <i
                                                class="material-icons"
                                                style="font-size: 18px;">open_in_new</i></a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!--<div class="form-group row">-->
                            <!--<label for="name" class="col-md-1 control-label"></label>-->
                            <!--<div class="col-md-4">-->
                                <!--<mat-input-container class="full-width">-->
                                    <!--<input [(ngModel)]="project.username" name="username"-->
                                           <!--matInput placeholder="Repository username or access-key">-->
                                <!--</mat-input-container>-->
                            <!--</div>-->
                            <!--<div class="col-md-7">-->
                                <!--<div class="callout1 text-muted callout-info1">-->
                                    <!--<p>Fx monitors and sync back changed files from the repository. If the repo is private FX requires user/pass with read-access.</p>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="form-group row">-->
                            <!--<label for="name" class="col-md-1 control-label"></label>-->
                            <!--<div class="col-md-4">-->
                                <!--<mat-input-container class="full-width">-->
                                    <!--<input type="password" [(ngModel)]="project.password" name="password"-->
                                           <!--matInput placeholder="Repository password or access-token">-->
                                <!--</mat-input-container>-->
                            <!--</div>-->
                        <!--</div>-->
                    </div>

                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <!-- Auto-Code -->

                    <div class="form-group row">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-form-field>
                                <mat-select placeholder="Auto-Code" [(ngModel)]="project.genPolicy"
                                            name="Auto-Code">
                                    <mat-option *ngFor="let gen of genPolicies" [value]="gen">
                                        {{gen}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>Auto-Code detects new APIs and will create & commits quality & security
                                    test coverage into your repo. Auto-Code requires write access to your
                                    repository.</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row" [hidden]="project.genPolicy === 'None' || !project.genPolicy">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="project.openAPISpec" name="spec" id="spec"
                                       matInput placeholder="OpenAPI Spec URL">
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p> e.g. https://ip/v2/api-docs. Auto-Code requires OpenAPISpec of your application to
                                    create test/security coverage. How-to generate OpenAPISpec for your Java, .Net
                                    and other applications.
                                    <a target="_blank" href="https://swagger.io/open-source-integrations/">
                                        Learn more <i class="material-icons"
                                                      style="font-size: 18px;">open_in_new</i></a>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="divider divider-dashed divider-lg pull-in"></div>

                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-6">
                            <button mat-raised-button color="primary" (click)="create();"
                                    class="btn-w-md no-margin-left">Add Project
                            </button>
                            <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects']">
                                Cancel
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </article>

</section>