<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Issue-Tracker Hub</h1>
        </div>
        <p class="text-muted">Fx can auto file, validate & close bugs in issue-tracker systems.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">
        <div class="container-fluid with-maxwidth chapter">
            <article class="article">
                <h2 class="article-title1">
                    <button mat-button color="primary" class="btn-w-md pull-left"
                            [routerLink]="['/app/issues/new']">
                        <i class="fa fa-plus"></i>
                        Register IssueTracker
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">URL</th>
                            <th class="mdl-data-table__cell--non-numeric">Create-date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let key of keys">
                            <td class="mdl-data-table__cell--non-numeric bold">
                                <a href="javascript:;"
                                   [routerLink]="['/app/issues', key.id]">{{key.name}}</a></td>
                            <td class="mdl-data-table__cell--non-numeric bold">{{key.prop1}}<a target="_blank" href="{{key.prop1}}"> <i
                                    class="material-icons"
                                    style="font-size: 18px;">open_in_new</i></a> </td>
                            <td class="mdl-data-table__cell--non-numeric">{{key.createdDate | date:'shortDate'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <mat-paginator [hidden]="length <= pageSize"
                               [pageSize]="pageSize"
                               hidePageSize="true"
                               (page)="change($event)"
                               [length]="length"
                >
                </mat-paginator>

            </article>
        </div>
    </article>
</section>
