<div class="box box-default">
  <div>
    <article>
      <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
        <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> {{project.name}} </a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', id, 'test-suites']"> Test Suites </a>
        &nbsp;<span class="text-muted"> > </span>&nbsp;{{testSuite.name}}
        &nbsp;<span class="text-muted"> > </span>&nbsp;Edit
      </section>
    </article>
  </div>
</div>

<!-- <div class="box box-default">
  <div class="box-body">
    <a href="javascript:;" [routerLink]="['/app/projects']"> Projects &nbsp; </a>
    <span class="text-muted"> > </span> &nbsp;
    <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> {{project.name}} </a>
    <span class="text-muted"> > </span> &nbsp;
    <a href="javascript:;" [routerLink]="['/app/projects', id, 'test-suites']"> Test Suites </a> &nbsp; <span class="text-muted"> > </span>
    &nbsp; {{testSuite.id}} > &nbsp; Edit >
  </div>
</div> -->
<section class="container-fluid with-maxwidth chapter">

  <br/>
  <article class="article">
    <div class="box box-default">
      <div class="box-body ml-4">

        <form [formGroup]="thirdFormGroup">

          <div class="form-group row">
            <!--label for="name" class="col-md-0 control-label"></label-->
            <div class="col-md-5">
              <mat-form-field class="full-width">
                <input required [(ngModel)]="testSuite.name" formControlName="nameCtrl"
                       matInput placeholder="Test Suite name" autocomplete="off">
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input [(ngModel)]="testSuite.endpoint" [ngModelOptions]="{standalone: true}"
                       matInput placeholder="End Point" autocomplete="off">
              </mat-input-container>
            </div>
          </div>
          <!-- Test case Start -->

          <div formArrayName="testCases"
               *ngFor="let item of thirdFormGroup.get('testCases').controls; let i = index;">
            <div [formGroupName]="i">
              <!--input formControlName="authType" placeholder="Item name"-->


              <div class="form-group row">
                <label  class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <span >{{i+1}}# TestCase.... <button style="min-width: auto;" mat-button  class="btn-w-md m-l-27"  (click)="removeItem(i)"
                  >
                <i class="fa fa-trash" style="font-size: 20px;"></i>
              </button></span>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input  formControlName="id"
                            matInput placeholder="Id" autocomplete="off">
                  </mat-input-container>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <textarea  formControlName="body"
                               matInput placeholder="Body" autocomplete="off"></textarea>
                  </mat-input-container>
                </div>
              </div>
            </div>
          </div>
          <button mat-button color="primary" class="btn-w-md"  (click)="addItem()"
          >
            <i class="fa fa-plus"></i>
            Add Test Case
          </button>
          <!-- Test case End -->


          <div class="form-group row">
            <label class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                          <textarea matInput placeholder="Assertions"
                                    [(ngModel)]='testSuite.assertionsText'
                                    [ngModelOptions]="{standalone: true}" autocomplete="off"></textarea>
              </mat-input-container>
            </div>
          </div>
          <div class="row">

            <!--div-- class="col-md-12">

              <div class="divider divider-dashed divider-lg pull-in"></div>

              <div class="form-group row">
                <label  class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-slide-toggle color="primary" (change)="onChange($event)" > Advance </mat-slide-toggle>
                  <span class="space space-md"></span>
                </div>
              </div>
            </div-->
           <div class="col-md-12">
             <div class="divider divider-dashed divider-lg pull-in"></div>
             &nbsp;&nbsp;&nbsp;<button mat-button color="primary" class="btn-w-md" (click)="advance=!advance" >
             <i *ngIf="!advance" class="fa fa-plus"></i>
             <i *ngIf="advance" class="fa fa-minus"></i>

             Advance&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           </button>

             <div *ngIf="!advance"  class="divider divider-dashed divider-lg pull-in"></div>

           </div>
            <div *ngIf="advance" class="col-md-12">

              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="testSuite.description" [ngModelOptions]="{standalone: true}"
                           matInput placeholder="Description" autocomplete="off">
                  </mat-input-container>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">Types&nbsp;&nbsp;
                  <mat-radio-group class="ui-md-radio-group-inline" [(ngModel)]="testSuite.type" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button  *ngFor="let type of types" [value]="type.id">{{type.value}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-8">
                  <!--mat-form-field>
                    <mat-select placeholder="Method" required
                                [(ngModel)]="testSuite.method"
                                name="type" [ngModelOptions]="{standalone: true}"
                    >
                      <mat-option *ngFor="let type of methods" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Please select Methods </mat-error>
                  </mat-form-field-->Method&nbsp;&nbsp;
                  <mat-radio-group class="ui-md-radio-group-inline" [(ngModel)]="testSuite.method" [ngModelOptions]="{standalone: true}">
                    <mat-radio-button  *ngFor="let type of methods" [value]="type">{{type}}&nbsp;&nbsp;&nbsp;&nbsp;</mat-radio-button>
                  </mat-radio-group>
                </div>
              </div>
              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="testSuite.auth" [ngModelOptions]="{standalone: true}"
                           matInput placeholder="Auth Name" autocomplete="off">
                  </mat-input-container>
                </div>
              </div>


              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="testSuite.headers" [ngModelOptions]="{standalone: true}"
                           matInput placeholder="Headers" autocomplete="off">
                  </mat-input-container>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">

                  <mat-form-field class="full-width">
                    <mat-select placeholder="Category"
                                [(ngModel)]="testSuite.category"
                                name="category" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let type of categories" [value]="type">
                        {{type}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Please select Type </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">
                  <mat-form-field class="full-width">
                    <mat-select placeholder="Severity"
                                [(ngModel)]="testSuite.severity"
                                name="severity" [ngModelOptions]="{standalone: true}">
                      <mat-option *ngFor="let type of severities" [value]="type.id">
                        {{type.value}}
                      </mat-option>
                    </mat-select>
                    <mat-error>Please select Type </mat-error>
                  </mat-form-field>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                          <textarea matInput placeholder="Tags"
                                    [(ngModel)]='testSuite.tagsText'
                                    [ngModelOptions]="{standalone: true}" autocomplete="off"></textarea>
                  </mat-input-container>
                </div>
              </div>

              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                          <textarea matInput placeholder="Authors"
                                    [(ngModel)]='testSuite.authorsText'
                                    [ngModelOptions]="{standalone: true}" autocomplete="off"></textarea>
                  </mat-input-container>
                </div>
              </div>
              <div class="form-group row">
                <label  class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <!--mat-slide-toggle color="primary" checked="true"  [(ngModel)]='testSuite.inActive'> In Active </mat-slide-toggle-->
                  <mat-slide-toggle  [checked]="testSuite.inactive" color="primary" (change)="testSuite.inactive=$event.checked" > in Active </mat-slide-toggle>
                  <span class="space space-md"></span>
                </div>
              </div>
              <div class="divider divider-dashed divider-lg pull-in"></div>

            </div>
          </div>


          <div>





            <div>

              <mat-card-actions class="pull-right">
                <button mat-raised-button color="primary"
                        class="nav-btn"
                        [disabled]="thirdFormGroup.invalid"
                        (click)="saveTestSuite();">Save & Complete
                </button>
              </mat-card-actions>
            </div>
          </div>
        </form>

      </div>
    </div>
  </article>
</section>