<h2 mat-dialog-title>New Slack Credentials</h2>

<mat-dialog-content class="mat-typography">
  <form role="form" #heroForm="ngForm">

    <!-- Registration Form on Modal Dialog Box Start -->

    <!-- Name Start -->
    <div class="form-group row">
      <label for="itname" class="col-md-0 control-label"></label>
      <div class="col-md-6">
        <mat-input-container class="full-width">
          <input required [(ngModel)]="entry.name" name="itname" id="itname"
                 matInput placeholder="Name" autocomplete="off">
          <mat-error>Required</mat-error>
        </mat-input-container>
      </div>
      <div class="col-md-6">
        <div class="callout1 text-muted callout-info1">
          <p class="mt-4">
            e.g. Engineering
          </p>
        </div>
      </div>
    </div>
    <!-- Name End -->

    <div class="form-group row" >  <!--*ngIf="entry.accountType === 'Slack'"-->
      <label for="secret_slack1" class="col-md-0 control-label">
      </label>
      <div class="col-md-6" >
        <mat-input-container class="full-width">
          <input required="true" [(ngModel)]="entry.secretKey" name="secret1" id="secret_slack1"
                 matInput type="password" placeholder="Slack token">
        </mat-input-container>
      </div>
      <div class="col-md-6">
        <div class="callout1 text-muted callout-info1">
          <p>
            Slack access tokens
            <a target="_blank"
               href="https://api.slack.com/custom-integrations/legacy-tokens">&nbsp;learn
              more.<i class="material-icons"
                      style="font-size: 18px;">open_in_new</i></a>
          </p>
        </div>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-md-0"></div>
      <div class="col-md-8">

      </div>
    </div>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" color="primary" class="btn-w-md" (click)="onClose();">Cancel
  </button>
  <button [disabled]="!heroForm.valid" mat-raised-button color="primary" (click)="create();"
          class="btn-w-md no-margin-left">Add
  </button>
</mat-dialog-actions>
