<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/orgs']">Orgs</a> 
                <span class="text-muted"> &nbsp;>&nbsp; </span>New
            </section>
        </article>
    </div>
</div>

<!-- <div class="box box-default">
    <div class="box-body">
        <a href="javascript:;" [routerLink]="['/app/orgs']">Organizations</a> 
        <span class="text-muted"> > </span>New
    </div>
</div> -->
<section class="container-fluid with-maxwidth chapter">
    <br>
  <article class="article">
    <div class="box box-default">
      <div class="box-body">
        <div class="box-body">
        <form role="form" #heroForm="ngForm">
            <h6 class="mat-step-label-selected pb-4">Org Details</h6>
          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.name" name="name" id="name"
                       matInput placeholder="Organization name">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label for="company" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.company" name="company" id="company"
                       matInput placeholder="Company">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label for="billingEmail" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.billingEmail" name="billingEmail" id="billingEmail"
                       matInput placeholder="Billing email">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group">
              <button mat-raised-button color="primary" (click)="create();"
                      class="btn-w-md no-margin-left" [disabled]="!heroForm.valid">Create Organization
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/orgs']">Cancel
              </button>
          </div>

        </form>
        </div>
      </div>
    </div>
  </article>
</section>
