<section class="container-fluid with-maxwidth chapter">

    <article class="article">

        <h2 class="article-title"><a href="javascript:;" [routerLink]="['/app/regions']"> Bot </a> / {{entry.name}}</h2>
        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form" #heroForm="ngForm">

                    <div class="form-group row">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.name" name="name" id="name"
                                       matInput placeholder="Bot name">
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>
                                    A bot is light-weight and stateless process and can be deployed across developer
                                    laptops & private/public clouds.
                                    Name represents bot region name. You'll use this name to schedule job runs. example
                                    usage: 'region: Org/Name'.
                                </p>
                            </div>
                        </div>
                    </div>

                    <!--<div class="form-group row">-->
                        <!--<label for="name" class="col-md-1 control-label"></label>-->
                        <!--<div class="col-md-2">-->
                            <!--<mat-input-container class="full-width">-->
                                <!--<input required disabled [(ngModel)]="entry.min" name="min" id="min"-->
                                       <!--matInput placeholder="Count">-->
                            <!--</mat-input-container>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group row">
                        <label class="col-md-1 control-label">
                        </label>

                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.account.name" name="accountName"
                                       id="accountName"
                                       matInput placeholder="Account name">
                            </mat-input-container>
                        </div>
                        <!--<div class="col-md-4">-->
                        <!--<mat-form-field>-->
                        <!--<mat-select placeholder="Cloud Account" required disabled [(ngModel)]="entry.cloudAccount" name="type"   (change)="getRegions()">-->
                        <!--<mat-option *ngFor="let ca of cloudAccounts" [value]="ca">-->
                        <!--{{entry.cloudAccount.name}}-->
                        <!--</mat-option>-->
                        <!--</mat-select>-->
                        <!--</mat-form-field>-->
                        <!--</div>-->
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Public or private cloud endpoint.
                            </p>
                        </div>
                    </div>

                    <div class="form-group row" [hidden]="entry.account.accountType === 'Self_Hosted'">
                        <label class="col-md-1 control-label">
                        </label>

                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.region" name="cloudRegion" id="cloudregion"
                                       matInput placeholder="Region">
                            </mat-input-container>
                        </div>
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Cloud region where the bot is deployed.
                            </p>
                        </div>
                    </div>

                    <div class="form-group row" [hidden]="entry.account.accountType !== 'Self_Hosted'">
                        <label class="col-md-1 control-label">
                        </label>
                        <div class="col-md-10">
                            <p class="text-muted">
                                Execute this script to run a Fx execution bot: <br/>
                                <code>{{entry.manualScript}}</code>
                            </p>
                        </div>
                    </div>


                    <!--<div class="form-group row">-->
                    <!--<label for="min" class="col-md-2 control-label"></label>-->
                    <!--<div class="col-md-8">-->
                    <!--<mat-input-container class="full-width">-->
                    <!--<input required [(ngModel)]="entry.min" name="min" id="min"-->
                    <!--matInput placeholder="Count">-->
                    <!--</mat-input-container>-->

                    <!--</div>-->
                    <!--</div>-->

                    <div class="form-group row">
                        <div class="col-md-1"></div>
                        <div class="col-md-8">
                            <button mat-raised-button color="primary" (click)="update();"
                                    class="btn-w-md no-margin-left">Save
                            </button>
                            <button mat-button type="button" color="primary" class="btn-w-md" (click)="ping();">Check Status
                            </button>
                            <button mat-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
                            </button>
                            <button mat-button type="button" color="primary" class="btn-w-md"
                                    [routerLink]="['/app/regions']">Cancel
                            </button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </article>
</section>
