<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title"><a href="javascript:;" [routerLink]="['/app/regions']"> Bot </a> / {{entry.name}}</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Owner" disabled required [(ngModel)]="entry.org.id" name="owner">
                  <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                    {{org.org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Access level" [(ngModel)]="entry.visibility" name="Access level">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="divider divider-dashed divider-lg pull-in"></div>

          <div class="form-group row">
            <label for="name" class="col-md-2 control-label"></label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input required disabled [(ngModel)]="entry.name" name="name" id="name"
                       matInput placeholder="Bot name">
              </mat-input-container>

            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-form-field>
                <mat-select placeholder="Cloud Account" required disabled [(ngModel)]="entry.cloudAccount" name="type"   (change)="getRegions()">
                  <mat-option *ngFor="let ca of cloudAccounts" [value]="ca">
                    {{ca.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-form-field>
                <mat-select placeholder="Region" required disabled [(ngModel)]="entry.region" name="type">
                  <mat-option *ngFor="let r of regions" [value]="r">
                    {{r}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>



          <!--<div class="form-group row">-->
            <!--<label for="min" class="col-md-2 control-label"></label>-->
            <!--<div class="col-md-8">-->
              <!--<mat-input-container class="full-width">-->
                <!--<input required [(ngModel)]="entry.min" name="min" id="min"-->
                       <!--matInput placeholder="Count">-->
              <!--</mat-input-container>-->

            <!--</div>-->
          <!--</div>-->



          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left">Save
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" class="btn-w-md" [routerLink]="['/app/regions']">Cancel
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
