<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Jobs</h1>
        </div>
        <p class="text-muted">Schedule jobs using cron expression in Project's Fxfile or run them ad-hoc.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">
        <div class="container-fluid with-maxwidth chapter">
            <article class="article">
                <h2 class="article-title1">
                </h2>
                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Project</th>
                            <th class="mdl-data-table__cell--non-numeric">Env</th>
                            <th class="mdl-data-table__cell--non-numeric">Bot-Region</th>
                            <th class="mdl-data-table__cell--non-numeric">Issue-Tracker</th>
                            <th class="mdl-data-table__cell--non-numeric">Next-Fire</th>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let job of jobs">
                            <td class="mdl-data-table__cell--non-numeric">{{job.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{job.project.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{job.environment}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{job.regions}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{job.issueTracker}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{job.nextFire | date:'short'}}</td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="javascript:;" (click)="runJob(job.id)">Run</a> &nbsp;
                                <a href="javascript:;" (click)="advRun(job)">Adv</a> &nbsp;
                                <a href="javascript:;" [routerLink]="['/app/jobs', job.id, 'runs']">History</a> &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <mat-paginator [hidden]="length <= pageSize"
                               [pageSize]="pageSize"
                               hidePageSize="true"
                               (page)="change($event)"
                               [length]="length"
                >
                </mat-paginator>

            </article>
        </div>
    </article>
</section>
