<section class="container-fluid with-maxwidth chapter">

    <article class="article">

        <h2 class="article-title">New Project</h2>
        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form" #heroForm="ngForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="email" class="form-control" [(ngModel)]="project.name" name="name" id="name" placeholder="Project name">
                    </div>
                    <div class="divider divider-dashed divider-lg pull-in"></div>
                    <div class="form-group">
                        <label for="repo">Git Repository</label> <h6> (FxMaster will auto pull new commits.)</h6>
                        <input type="email" class="form-control" [(ngModel)]="project.url" name="url" id="repo" placeholder="Git repository url e.g. https://github.com/username/Fx-UI.git">
                    </div>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="email" class="form-control" [(ngModel)]="project.username" name="username" id="username" placeholder="Git repository's access-key or username">
                    </div>
                    <div class="form-group">
                        <label for="pass">Password</label>
                        <input type="password" class="form-control" [(ngModel)]="project.password" name="password" id="pass" placeholder="Git repository's secret-key or password">
                    </div>

                    <div class="divider divider-md"></div>
                    <button mat-raised-button color="primary" (click)="create(); heroForm.reset()" class="btn-w-md no-margin-left">Add</button>
                    <span class="space space-md"></span>
                    <button mat-raised-button type="button" class="btn-w-md" (click)="heroForm.reset()">Reset</button>

                </form>

            </div>
        </div>
    </article>
</section>