<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> {{project.name}} </a>
                <span class="text-muted">&nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp;</span>New
            </section>
        </article>
    </div>
</div>
<br />

<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <div class="box box-default">
            <div class="box-body">

                <form>
                    <div class="form-group row">

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="End Point" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Http Method" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Headers" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Request Body" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Response Body" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Response Headers" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Assertions" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Status Code" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Failed Assertions" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Result" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required id="name" matInput placeholder="Description" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                    </div>
                    <mat-card-actions class="pull-right">
                        <button mat-raised-button color="primary" class="nav-btn"> Create Issue                        </button>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </article>
</section>