<div class="box box-default">
<div>
    <article>
        <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
            <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
            &nbsp;<span class="text-muted"> > </span> &nbsp;
            <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> {{project.name}} </a>
            &nbsp;<span class="text-muted"> > </span> &nbsp;
            <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> Jobs </a>
            &nbsp;<span class="text-muted"> > </span>&nbsp; New

        </section>
    </article>
</div>
</div>
<section class="container-fluid with-maxwidth chapter">
    
    <br/>
    <article class="article">
            
        <div class="box box-default">
            <div class="box-body">

                <mat-horizontal-stepper [linear]="true" #stepper>

                    <mat-step [stepControl]="firstFormGroup">
                        <form [formGroup]="firstFormGroup">
                            <ng-template matStepLabel>Job Details</ng-template>

                            <div class="form-group row"></div>
                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input required [(ngModel)]="job.name" formControlName="nameCtrl" id="name"
                                               matInput placeholder="Job name" autocomplete="off">
                                        <mat-error>Required</mat-error>
                                    </mat-input-container>
                                </div>
                                <div class="col-md-7">
                                    <div class="callout1 text-muted callout-info1">
                                        <p class="mt-4"> e.g. Dev, Stg, QA, UAT, or Nightly etc
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-0 control-label">
                                </label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select  placeholder="Environment" required
                                                    [(ngModel)]="job.environment.id" [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let env of envs" [value]="env.id">
                                                {{env.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Required</mat-error>
                                    </mat-form-field>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input required [(ngModel)]="job.regions" [ngModelOptions]="{standalone: true}" [matAutocomplete]="autoRegions"
                                               matInput placeholder="Bot Region">
                                        <mat-error>Required</mat-error>
                                    </mat-input-container>
                                    <mat-autocomplete #autoRegions="matAutocomplete">
                                        <mat-option *ngFor="let option of regions" [value]="option">
                                            {{option}}
                                        </mat-option>

                                    </mat-autocomplete>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input [(ngModel)]="job.cron" [ngModelOptions]="{standalone: true}" [matAutocomplete]="auto"
                                               matInput placeholder="Cron Expression">
                                    </mat-input-container>
                                    <mat-autocomplete #auto="matAutocomplete">
                                        <mat-option *ngFor="let option of crons" [value]="option.exp">
                                            {{option.exp}} - <small>{{option.desc}}</small>
                                        </mat-option>
                                    </mat-autocomplete>
                                </div>
                            </div>

                            <div>
                                <mat-card-actions>
                                    <button mat-raised-button color="primary"
                                            class="nav-btn"
                                            [disabled]="firstFormGroup.invalid"
                                            matStepperNext
                                            >Next
                                    </button>
                                </mat-card-actions>
                            </div>
                        </form>
                    </mat-step>

                    <mat-step [stepControl]="secondFormGroup">
                      <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Auto Bug Management</ng-template>

                          <div class="form-group row">
                              <label for="name" class="col-md-0 control-label"></label>
                              <div class="col-md-5">
                                  <mat-input-container class="full-width">
                                      <input [(ngModel)]="job.issueTracker.url"  [ngModelOptions]="{standalone: true}"
                                             matInput placeholder="Issue-Tracker URL (Optional)" autocomplete="off">
                                  </mat-input-container>
                              </div>
                              <div class="col-md-7">
                                  <div class="callout1 text-muted callout-info1">
                                      <p class="mt-4">e.g. https://github.com/username/MyApp
                                      </p>
                                  </div>
                              </div>
                          </div>

                          <div class="form-group row" >
                              <label class="col-md-0 control-label">
                              </label>
                              <div class="col-md-5">
                                  <mat-form-field>
                                      <mat-select placeholder="Account Type (Optional)" [(ngModel)]="entry.accountType"
                                                  name="type" [ngModelOptions]="{standalone: true}">
                                          <mat-option *ngFor="let type of accountTypes" [value]="type" (click)="getITAccountsByAccountType(type);">
                                              {{type}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>

                          <div class="form-group row" *ngIf="entry.accountType === 'GitHub' || entry.accountType === 'Jira'">
                              <label class="col-md-0 control-label">
                              </label>
                              <div class="col-md-5">
                                  <mat-form-field>
                                      <mat-select placeholder="Credentials (Optional)"
                                                  [(ngModel)]="job.issueTracker.account"  [ngModelOptions]="{standalone: true}">
                                          <mat-option *ngFor="let account of itAccounts" [value]="account.id">
                                              {{account.name}}
                                          </mat-option>
                                      </mat-select>
                                  </mat-form-field>
                              </div>
                          </div>

                        <div>
                          <mat-card-actions>
                            <button mat-raised-button color="primary"
                                    class="nav-btn"
                                    [disabled]="secondFormGroup.invalid"
                                    matStepperNext
                                    >Next
                            </button>
                          </mat-card-actions>
                          <button mat-button matStepperPrevious>Back</button>
                        </div>
                      </form>
                    </mat-step>

                    <mat-step [stepControl]="thirdFormGroup">
                        <form [formGroup]="thirdFormGroup">
                            <ng-template matStepLabel>Notifications</ng-template>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input [(ngModel)]="job.notifications[0].to"  [ngModelOptions]="{standalone: true}"
                                               matInput placeholder="Emails (Optional)" autocomplete="off">
                                    </mat-input-container>
                                </div>
                                <div class="col-md-7">
                                <div class="callout1 text-muted callout-info1">
                                    <p class="mt-4">e.g. me@company.com, team@company.com etc</p>
                                </div>
                            </div>

                            </div>



                            <hr>
                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input [(ngModel)]="job.notifications[1].channel"  [ngModelOptions]="{standalone: true}"
                                               matInput placeholder="Slack Channel (Optional)">
                                    </mat-input-container>
                                </div>

                                <div class="col-md-7">
                                    <div class="callout1 text-muted callout-info1">
                                        <p class="mt-4">e.g. Engineering</p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-0 control-label">
                                </label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select placeholder="Slack Credentials (Optional)"
                                                    [(ngModel)]="job.notifications[1].account"  [ngModelOptions]="{standalone: true}">
                                            <mat-option *ngFor="let account of notifyAccounts" [value]="account.id">
                                                {{account.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div>
                                <div>
                                    <mat-card-actions>
                                        <button mat-raised-button color="primary"
                                                class="nav-btn"
                                                [disabled]="thirdFormGroup.invalid"
                                                (click)="saveJob();">Create Job & Complete
                                        </button>
                                        <button mat-button matStepperPrevious>Back</button>
                                    </mat-card-actions>
                                </div>
                            </div>
                        </form>
                    </mat-step>

                </mat-horizontal-stepper>

            </div>
        </div>
    </article>
</section>