<!-- Code for show tasks from left side timeline -->
<div class="box box-default">
  <div>
    <article>
      <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
        <span>Tasks</span>
      </section>
    </article>
  </div>
</div>
<section class="container-fluid with-maxwidth chapter">
  <article class="article1">
    <div class="mat-elevation-z8 box-default">
      <mat-table [dataSource]="dataSource" matSort matSortActive="modified-date" matSortDisableClear matSortDirection="desc">


        <ng-container matColumnDef="Project">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Project </mat-header-cell>
          <mat-cell *matCellDef="let taskData"> {{taskData.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Task">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Task </mat-header-cell>
          <mat-cell *matCellDef="let taskData"> {{taskData.eventType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="statusType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let taskData">
            <span *ngIf="taskData.status == 'Done'" class="text-success"><i class="fa fa-check"></i> COMPELETED</span>
            <span *ngIf="taskData.status == 'In_progress'" class="text-warning"> <i class="fa fa-spinner fa-spin"></i>
              PROCESSING</span>
            <span *ngIf="taskData.status == 'Timeout'" class="text-danger"><i class="fa fa-hourglass-end"></i> TIMEOUT</span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="Time">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
          <mat-cell *matCellDef="let taskData"> {{taskData.modifiedDate | timeAgo}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="logs">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Logs </mat-header-cell>
          <mat-cell *matCellDef="let taskData">
            <a href="javascript:;" *ngIf="taskData.logId != null" [routerLink]="['/app/message', taskData?.logId]">
              <i class="material-icons" *ngIf="taskData.logId != null">
                description
              </i>
            </a>
            <span *ngIf="!taskData.logId">
                NA
              </span>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
        [length]="length">
      </mat-paginator>
    </div>
  </article>
</section>