
<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">
            <a href="javascript:;" [routerLink]="['/app/jobs']"> Jobs </a>
            /
            <!--<a href="javascript:;" [routerLink]="['/app/projects', projectId, 'jobs', jobId]"> -->{{job.name}}<!--</a>--> /
            Runs</h2>
        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Region</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Total/Passed</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Time (ms)</th>
                    <th class="mdl-data-table__cell--non-numeric">Bytes</th>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of list">
                    <td class="mdl-data-table__cell--non-numeric">{{item.job.regions}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.status}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalTests}}/{{item.task.totalTestCompleted}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ ( (item.task.totalTestCompleted * 100 ) / (item.task.totalTestCompleted + item.task.failedTests) ).toFixed(0) }}%
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalTime}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalBytes}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;" [routerLink]="['/app/jobs', jobId, 'runs', item.id]">#{{item.runId}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>
