<mat-card>
  <section class="container-fluid with-maxwidth chapter">
    <article class="article1">
<!--
        <h5>New Project</h5>-->

        <div class="box1211 box-default12">
            <div class="box-body1">
              
                <!-- <div *ngIf="show"> -->
                    <!-- <mat-checkbox #big type="checkbox" color="primary" name="size" (change)="0" check>Click Checkbox to Generate Auto-Code Options</mat-checkbox> -->
                    
                   
                <!-- <div class="box-body" *ngIf="big.checked"> -->
                    <div class="box-body">

                        <!-- <form role="form" #heroForm="ngForm">         -->
  <div class="form-group row">
    <label for="name" class="col-md-0 control-label"></label>
    <div class="col-md-4">
        <!-- <mat-form-field> -->
            <!-- <mat-select placeholder="Auto-Code" required [(ngModel)]="project.genPolicy"
                        name="Auto-Code">
                <mat-option *ngFor="let gen of genPolicies" [value]="gen">
                    {{gen}}
                </mat-option>
            </mat-select> -->

            <mat-radio-group class="example-radio-group" [(ngModel)]="project.genPolicy">Auto-Code Options<br/><br/>
                <mat-radio-button 
                class="example-radio-button" 
                [checked]="gen === 'Create'"
                *ngFor="let gen of genPolicies"
                color="primary" 
                [value]="gen">
                  {{gen}}
                </mat-radio-button>
              </mat-radio-group>


        <!-- </mat-form-field> -->
    </div>
    <div class="col-md-8">
        <div class="callout1 text-muted callout-info1">
            <p>Auto-Code (automatic test coverage for your APIs).
                <br/>Continuously generates 5-point test coverage (Quality, Security, DOS,
                Injections, Data-Leak, Log-forging etc) for all project endpoints.
                <br/>Requires repository credentials for code check-in.
            </p>
        </div>
    </div>
</div>

<div class="form-group row" *ngIf="project.genPolicy === 'Create'">
    <div class="col-md-12" *ngFor="let res of autoCodeConfig.generators">
    <mat-accordion>
        <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <b>Type - {{ res.type }}</b>
                </mat-panel-title>
              </mat-expansion-panel-header>
          
              <mat-form-field>
                <textarea matInput placeholder="Assertions" [(ngModel)]='res.assertions'></textarea>
              </mat-form-field>
                   <br/>
                   <label>Severity</label>
             <mat-radio-group class="example-radio-group" [(ngModel)]='res.severity'>
            <mat-radio-button color="primary" class="example-radio-button" *ngFor="let sev of severity" [value]="sev">
              {{sev}}
            </mat-radio-button>
          </mat-radio-group>
          <br/>
          <div *ngIf='res.inactive === true'>
          <mat-checkbox type="checkbox" color="primary" [(ngModel)]='res.inactive' checked>Active - {{res.inactive}}</mat-checkbox>
        </div>
<br/>
          <mat-form-field>
            <mat-select placeholder="Database" required
                                name="Database">
              <mat-option *ngFor="let res of autoCodeConfig.generators" [value]="res.database">
                            {{res.database}}
              </mat-option>
            </mat-select>
        </mat-form-field>

            </mat-expansion-panel>

            

      </mat-accordion>
</div>
</div>

<div class="form-group row" *ngIf="project.genPolicy === 'Create'">
    <label for="name" class="col-md-0 control-label"></label>
    <div class="col-md-5">
        <mat-input-container class="full-width">
            <input required [(ngModel)]="project.openAPISpec" name="spec" id="spec"
                   matInput placeholder="OpenAPI Spec URL">
        </mat-input-container>
    </div>
    <div class="col-md-7">
        <div class="callout1 text-muted callout-info1">
            <p> e.g. https://ip/v2/api-docs. Auto-Code requires OpenAPISpec of your application to
                create test/security coverage. How-to generate OpenAPISpec for your Java, .Net
                and other applications.
                <a target="_blank" href="https://swagger.io/open-source-integrations/">
                    Learn more <i class="material-icons"
                                  style="font-size: 18px;">open_in_new</i></a>
            </p>
        </div>
    </div>
 
</div>

<mat-card-actions>
    <button color="primary" 
    mat-raised-button matStepperNext 
    class="nav-btn pull-right">Save & Next</button>
</mat-card-actions>

<!-- </form> -->

</div>


<!-- <div class="form-group row" *ngIf="project.genPolicy === 'Create'">
    <label for="name" class="col-md-0 control-label"></label>
    <div class="col-md-5">
        <mat-form-field>
            <mat-select placeholder="Database" required
                                name="Database">
              <mat-option *ngFor="let res of autoCodeConfig.generators" [value]="res.database">
                            {{res.database}}
              </mat-option>
            </mat-select>
        </mat-form-field>
</div>
</div> -->

<!-- </div> -->

</div>
</div>
</article>

</section>


</mat-card>