<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/accounts']"> Accounts&nbsp; </a>
                <span class="text-muted"> &nbsp;>&nbsp; </span> {{entry.name}}<span class="text-muted"> &nbsp;>&nbsp; </span>Edit
            </section>
        </article>
    </div>
</div>
<!-- <div class="box box-default"> 
    <div class="box-body"> 
        <a href="javascript:;" [routerLink]="['/app/accounts']"> Accounts </a>
        <span class="text-muted"> > </span> {{entry.name}}<span class="text-muted"> > </span>Edit
    </div> 
</div>  -->
<section class="container-fluid with-maxwidth chapter">
    <br>
  <article class="article">
    <div class="box box-default">
      <div class="box-body padding-xl">
        <div class="box-body">
        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.name" name="name" id="name"
                       matInput placeholder="Name">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-form-field>
                <mat-select placeholder="Account Type" required disabled [(ngModel)]="entry.accountType" name="type">
                  <mat-option *ngFor="let type of accountTypes" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType == 'GitLab' || entry.accountType === 'Microsoft_VSTS_Git'">
            <label for="accessKey" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="accessKey"
                       matInput type="text" placeholder="Access-Key/Username">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType == 'GitLab' || entry.accountType === 'Microsoft_VSTS_Git'">
            <label for="secret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="secret"
                       matInput type="password" placeholder="Secret-Key/Password">
              </mat-input-container>
            </div>
          </div>

          <!-- AWS  Start  -->
          <div *ngIf="entry.accountType === 'AWS'">

            <div class="form-group row">
              <label for="awsAccessKey" class="col-md-0 control-label">
              </label>
              <div class="col-md-5">
                <mat-input-container class="full-width">
                  <input required [(ngModel)]="entry.accessKey" name="accessKey" id="awsAccessKey"
                         matInput type="text" placeholder="Access-Key">
                </mat-input-container>
              </div>
              <div class="col-md-7">
                <div class="callout1 text-muted callout-info1">
                  <p>AWS access keys
                    <a target="_blank"
                       href="https://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">&nbsp;learn
                      more <i class="material-icons"
                              style="font-size: 18px;">open_in_new</i></a>
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group row">
              <label for="awsSecret" class="col-md-0 control-label">
              </label>
              <div class="col-md-5">
                <mat-input-container class="full-width">
                  <input required [(ngModel)]="entry.secretKey" name="secret" id="awsSecret"
                         matInput type="password" placeholder="Secret-Key">
                </mat-input-container>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-md-0 control-label">
              </label>
              <div class="col-md-5">
                <a href="javascript:;" (click)="toggleCloud()">Advanced section</a>
              </div>
            </div>

            <div [hidden]="cloudShow">

              <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">
                  <mat-form-field>
                    <mat-select placeholder="Available regions" [(ngModel)]="entry.allowedRegions"
                                name="region" multiple>
                      <mat-option *ngFor="let region of AWSREGIONS" [value]="region">
                        {{region}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                    <p>
                      Restrict users from deploying bots across non available regions.
                    </p>
                  </div>
                </div>
              </div>

              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="entry.prop1" name="prop1" id="privateKey"
                           matInput placeholder="Key-Pair">
                  </mat-input-container>
                </div>
                <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                    <p>
                      Optional. The system will look for 'fx-kp' key-pair in the selected region.
                      If the key-pair is missing it will create one with the above name. Override
                      value to
                      provide your own key-pair.
                    </p>
                  </div>
                </div>
              </div>
              <!--prop2 -->
              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="entry.prop2" name="prop2" id="fxsg"
                           matInput placeholder="Security Group name">
                  </mat-input-container>
                </div>
                <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                    <p>
                      Optional. The system will use default security-group in the selected region.
                      Override value to provide your own security-group.
                    </p>
                  </div>
                </div>
              </div>
              <!--prop3 -->
              <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                  <mat-input-container class="full-width">
                    <input [(ngModel)]="entry.prop3" name="prop3" id="fxsubnet"
                           matInput placeholder="Subnet name or id">
                  </mat-input-container>
                </div>
                <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                    <p>
                      Optional. The system will use default subnet in the selected region.
                      Override value to provide your own subnet.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- AWS  End    -->

          <!-- BitBucket  Start    -->
          <div class="form-group row" *ngIf="entry.accountType === 'BitBucket'">
            <label for="bitBucketAccessKey" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="bitBucketAccessKey"
                       matInput type="text" placeholder="Username/Access-Key">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>BitBucket access keys
                  <a target="_blank"
                     href="https://bitbucket.org">&nbsp;learn more.<i class="material-icons"
                                                                      style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType === 'BitBucket'">
            <label for="bitBucketSecret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <textarea [(ngModel)]="entry.secretKey" name="secret" id="bitBucketSecret"
                          matInput type="password" placeholder="Password/Private-Key"></textarea>
              </mat-input-container>
            </div>
              <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                      <p>
                          Note: Private-key begins with "-----BEGIN RSA PRIVATE KEY-----"
                      </p>
                  </div>
              </div>
          </div>
          <!-- BitBucket  End    -->
          <!-- Git  Start    -->
          <div class="form-group row" *ngIf="entry.accountType === 'Git'">
            <label for="gitAccessKey" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="gitAccessKey"
                       matInput type="text" placeholder="Access-Key">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>
                  Git is a version control system for tracking changes in computer files and coordinating
                  work on those files among multiple people. It is primarily used for source code management in software development, but it can be used to keep track of changes in any set of
                  files. As a distributed revision control system it is aimed at speed, data integrity, and support for distributed, non-linear workflows
                  <br/><a target="_blank"
                          href="https://git-scm.com/">Click here to know more<i class="material-icons"
                                                                                style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType === 'Git'">
            <label for="gitSecret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="gitSecret"
                       matInput type="password" placeholder="Secret-Key">
              </mat-input-container>
            </div>
          </div>
          <!-- Git  End    -->
          <!-- Microsoft TFS  Start    -->
          <div class="form-group row" *ngIf="entry.accountType === 'Microsoft_TFS_Git'">
            <label for="microsoftTfsAccessKey" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="microsoftTfsAccessKey"
                       matInput type="text" placeholder="Username/Accesskey">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>Microsoft TFS access keys
                  <a target="_blank"
                     href="https://www.visualstudio.com/tfs/">&nbsp;learn more.<i class="material-icons"
                                                                                  style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType === 'Microsoft_TFS_Git'">
            <label for="microsoftTfsSecret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="microsoftTfsSecret"
                       matInput type="password" placeholder="Password/SecretKey">
              </mat-input-container>
            </div>
          </div>
          <!-- Microsoft TFS  End    -->
          <!-- GitHub Start  -->
          <div class="form-group row" *ngIf="entry.accountType === 'GitHub'">
            <label for="gitHubAccessKey" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="gitHubAccessKey"
                       matInput type="text" placeholder="Username/Access-Key">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>GitHub access keys
                  <a target="_blank"
                     href="https://github.com/settings/tokens">&nbsp;learn more. <i class="material-icons"
                                                                                    style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="entry.accountType === 'GitHub'">
            <label for="gitHubSecret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <textarea  [(ngModel)]="entry.secretKey" name="secret" id="gitHubSecret"
                          matInput type="password" placeholder="Password/Private-Key"></textarea>
              </mat-input-container>
            </div>
              <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                      <p>
                          Note: Private-key begins with "-----BEGIN RSA PRIVATE KEY-----"
                      </p>
                  </div>
              </div>
          </div>
          <!-- GitHub End  -->
          <!-- Jira Start  -->
          <div class="form-group row" *ngIf="entry.accountType === 'Jira'">
            <label for="gitHubAccessKey" class="col-md-0 control-label">
            </label>
            <div  class="col-md-5">
              <mat-input-container class="full-width" *ngIf="entry.accountType != 'Slack'">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="jiraAccessKey"
                       matInput type="text" placeholder="Username/Access-Key">
              </mat-input-container>
            </div>
            <!--<div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>Jira access keys
                  <a target="_blank"
                     href="https://github.com/settings/tokens">&nbsp;learn more. <i class="material-icons"
                                                                                    style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>-->
          </div>

          <div class="form-group row"  *ngIf="entry.accountType === 'Jira'">
            <label for="gitHubSecret" class="col-md-0 control-label">
            </label>
            <div  class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="jiraSecret"
                       matInput type="password" placeholder="Secret-Key/Password">
              </mat-input-container>
            </div>
          </div>
          <!-- Jira End  -->

          <div class="form-group row" *ngIf="entry.accountType === 'Slack'">
            <label for="secret_slack" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="secret_slack"
                       matInput type="password" placeholder="Slack token">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>
                  Slack access tokens
                  <a target="_blank"
                     href="https://api.slack.com/custom-integrations/legacy-tokens">&nbsp;learn more.<i class="material-icons"
                                                                                                        style="font-size: 18px;">open_in_new</i></a>T
                </p>
              </div>
            </div>
          </div>

          <!--<div class="form-group row" *ngIf="entry.accountType === 'Email'">
            <label for="secret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="from" id="email"
                       matInput type="text" placeholder="From:">
              </mat-input-container>
            </div>
          </div>-->

          <div class="form-group row">
            <div class="col-md-0"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left" [disabled]="!heroForm.valid">Save
              </button>
              <button mat-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/accounts']">Cancel
              </button>
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>
  </article>
</section>
