<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/orgs']"> Organizations </a>
                <span class="text-muted"> > </span>  
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">{{org.name}}</a>
                <span class="text-muted"> > </span>
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">Users</a>
                <span class="text-muted"> > </span>
                 {{entry.users.username}}
                 <span class="text-muted"> > </span> Reset Password
            </section>
        </article>
    </div>
</div>
<!-- <div class="box box-default"> 
    <div class="box-body"> 
            <a href="javascript:;" [routerLink]="['/app/orgs']"> Organizations </a>
            <span class="text-muted"> > </span>  
            <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">{{org.name}}</a>
            <span class="text-muted"> > </span>
            <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">Users</a>
            <span class="text-muted"> > </span>
             {{entry.users.username}}
             <span class="text-muted"> > </span> Reset Password
    </div> 
</div>  -->
<section class="container-fluid with-maxwidth chapter">
    <br>
  <article class="article">
    <div class="box box-default">
      <div class="box-body padding-xl">
          <div class="box-body">
        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required disabled [(ngModel)]="entry.users.name" name="name" id="name"
                       matInput placeholder="User">
              </mat-input-container>
            </div>
          </div>


          <div class="form-group row">
            <label class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="member.password" name="pass" id="pass" type="password"
                       matInput placeholder="Password" min="8">
              </mat-input-container>
            </div>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="member.confirmPassword" name="pass" id="confirmPassword" type="password"
                       matInput placeholder="Confirm password" min="8">
              </mat-input-container>
            </div>
          </div>


          <div class="form-group row">
            <div class="col-md-0"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left">Reset
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/orgs', org.id, 'users']">Cancel
              </button>
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>
  </article>
</section>
