<div class="box box-default"> 
        <div class="box-body"> 
                <a href="javascript:;" [routerLink]="['/app/orgs']">
                     Organizations </a>
                     <!-- <a href="javascript:;" [routerLink]="['/app/orgs/', org.id, 'users']">
                      <span class="text-muted"> > </span>{{org.name}}</a> -->
                      <span class="text-muted"> > </span>{{org.name}}
                      <span class="text-muted"> > </span>Users
        </div> 
    </div> 
<section class="container-fluid with-maxwidth chapter">
        <br>
    <article class="article">
            <button mat-button color="primary" class="btn-w-md pull-right1"
                    [routerLink]="['/app/orgs', org.id, 'users', 'new']">
                <i class="fa fa-plus"></i>
                New User
            </button>
            <div class="divider divider-sm"></div>
        
        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <!--<th class="mdl-data-table__cell--non-numeric">Username</th>
                    <th class="mdl-data-table__cell--non-numeric">Active</th>-->
                    <th class="mdl-data-table__cell--non-numeric">Role</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">Create-date</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let orgUser of orgUsers">
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;" [routerLink]="['/app/orgs/', org.id, 'users', orgUser.id]">{{orgUser.users.name}}</a>
                    </td>
                    <!--<td class="mdl-data-table__cell--non-numeric">{{orgUser.users.username}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{!orgUser.users.inactive}}</td>-->
                    <td class="mdl-data-table__cell--non-numeric">{{orgUser.orgRole}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{orgUser.status}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{orgUser.createdDate | date:'shortDate'}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;"
                           [routerLink]="['/app/orgs/', org.id, 'users', orgUser.id, 'password-reset']">Password</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>
</section>
