<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/orgs']">
                    Orgs</a>&nbsp;
                <span class="text-muted"> &nbsp;<i class="fa fa-chevron-right"></i>&nbsp; </span>{{org.name}}
                <span class="text-muted"> &nbsp;<i class="fa fa-chevron-right"></i>&nbsp; </span>Users
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true">Users
        </label>
        <label mat-tab-link [routerLink]="['/app/orgs', org.id]">Edit
        </label>
    </nav>
    <br />

    <article class="article">
        <div class="box1 box-default">
            <div class="box-body">
                <h2 class="article-title1">
                    <button mat-button color="primary" class="btn-w-md pull-left text-justify" [routerLink]="['/app/orgs', org.id, 'users', 'new']">
                        <i class="fa fa-plus"></i>
                        New User
                    </button>
                    <p class="text-muted float-right">Total ({{length}})</p>
                    <div class="divider divider-sm"></div>
                </h2>
                <br />

                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let orgUser"> <a href="javascript:;" [routerLink]="['/app/orgs/', org.id, 'users', orgUser.id]">{{orgUser.users.name}}</a>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="role">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Role </mat-header-cell>
                            <mat-cell *matCellDef="let orgUser"> {{orgUser.orgRole}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                            <mat-cell *matCellDef="let orgUser"> {{orgUser.status}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Create-date </mat-header-cell>
                            <mat-cell *matCellDef="let orgUser"> {{orgUser.createdDate | date:'shortDate'}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="password">
                            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                            <mat-cell *matCellDef="let orgUser">
                                <a href="javascript:;" [routerLink]="['/app/orgs/', org.id, 'users', orgUser.id, 'password-reset']">Password</a>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </article>
</section>