<h6 mat-dialog-title>New Test Suite</h6>

<mat-dialog-content class="mat-typography">
  <!-- <p class="fluid-container" style="white-space: pre;">{{data}}</p> -->
  <!--<form [formGroup]="firstFormGroup">-->
    <ace-editor class="col-md-12 border editor" [(text)]="testSuitText" [theme]="'github'" [mode]="'yaml'"
                [options]="{maxLines: 'Infinity', minLines: '25', showPrintMargin: false,fontSize:'11pt'}"
                [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000" #editor>
    </ace-editor>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" class="nav-btn" (click)="saveTestSuiteYaml();">Create & Commit
  </button>
  <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
</mat-dialog-actions>
