<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']"> {{project.name}} </a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>
                &nbsp;{{job.name}}
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>
                &nbsp;Runs
            </section>
        </article>
    </div>
</div>
<!-- <pre>{{list | json}}</pre> -->
<section class="container-fluid with-maxwidth no-breadcrumbs chapter">
    <article class="article">
        <mat-tab-group (selectedTabChange)="getAnalyticsData()">
            <mat-tab label="Runs">
                <div class="box box-default mt-4">
                    <div class="box-body">
                        <section class="box box-transparent">
                            <div class="box-body">
                                <div class="article-title-style">
                                    <div class="mat-elevation-z8 box-default">
                                        <mat-table [dataSource]="dataSource" matSort matSortActive="no"
                                            matSortDisableClear matSortDirection="desc">
                                            <!-- Region Column -->
                                            <ng-container matColumnDef="region">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Region
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.regions}} </mat-cell>
                                            </ng-container>
                                            <!-- Date Column -->
                                            <ng-container matColumnDef="date">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Date
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.createdDate |
                                                    date:'short'}}
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Pass/Fail Column -->
                                            <ng-container matColumnDef="passfail">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Pass/Fail
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <span class="text-success h6"><b>{{element.task.totalTestCompleted
                                                            ||
                                                            0}}</b></span>&nbsp;<span class="text-success small">Passed</span>&nbsp;
                                                    <span *ngIf="element.task.failedTests != 0"><span class="text-danger h6"><b>{{element.task.failedTests
                                                                || 0}}</b></span>&nbsp;<span class="text-danger small">Failed</span>&nbsp;</span>
                                                </mat-cell>
                                            </ng-container>
                                            <!-- Success Column -->
                                            <ng-container matColumnDef="success">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Sucess
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    {{ ( (element.task.totalTestCompleted ) /
                                                    (element.task.totalTestCompleted +
                                                    element.task.failedTests) ) | percent}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Data Column -->
                                            <ng-container matColumnDef="data">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Data
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    {{element.task.totalBytes | byteFormat}}
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Total Time Column -->
                                            <ng-container matColumnDef="totaltime">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Total Time
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element"> {{element.task.totalTime |
                                                    mstoDuration}} </mat-cell>
                                            </ng-container>

                                            <!-- Bugs Column -->
                                            <ng-container matColumnDef="bugs">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Bugs
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.job.issueTrackerToDo === false">
                                                        <span class="text-danger"><b>{{element.task.issuesLogged || 0}}</b></span>
                                                        <span class="text-danger small">New</span>&nbsp;
                                                        <span class="text-success"><b>{{element.task.issuesClosed ||
                                                                0}}</b></span>
                                                        <span class="text-success small">Closed</span>
                                                        <span class="text-danger"><b>{{element.task.totalOpenIssues ||
                                                                0}}</b></span>
                                                        <span class="text-danger small">Open</span>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>

                                            <ng-container matColumnDef="bugs2">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <div *ngIf="element.job.issueTrackerToDo === true">
                                                        <span class="text-danger"> N/A </span>
                                                    </div>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Status Column -->

                                            <ng-container matColumnDef="status">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> Status
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <span *ngIf="element.task.status == 'COMPLETED'" class="text-success">{{element.task.status}}</span>
                                                    <span *ngIf="element.task.status != 'COMPLETED' && element.task.status != 'PROCESSING'"
                                                        class="text-danger">{{element.task.status}}</span>
                                                    <span *ngIf="element.task.status == 'PROCESSING'" class="text-warning"><i
                                                            class="fa fa-spinner fa-spin" aria-hidden="true"></i>
                                                        {{element.task.status}}</span>
                                                </mat-cell>
                                            </ng-container>

                                            <!-- Number Column -->
                                            <ng-container matColumnDef="no">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header> No
                                                </mat-header-cell>
                                                <mat-cell *matCellDef="let element">
                                                    <a href="javascript:;" [routerLink]="['/app/projects' , projectId, 'jobs' , job.id, 'runs', element.id]">{{element.runId}}</a>
                                                </mat-cell>
                                            </ng-container>


                                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                        </mat-table>
                                        <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true"
                                            (page)="change($event)" [length]="length">
                                        </mat-paginator>

                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Analytics">
                <div class="box box-default mt-4">
                    <div class="box-body">
                        <section class="box box-transparent">
                            <div class="box-body">
                                <div class="row article-title-style">
                                    <div class="col-md-6">
                                        <div *ngIf="chart">
                                            <canvas id="canvas1">{{ chart }}</canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="chart2">
                                            <canvas id="canvas2">{{ chart2 }}</canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="chart3">
                                            <canvas id="canvas3">{{ chart3 }}</canvas>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div *ngIf="chart4">
                                            <canvas id="canvas4">{{ chart4 }}</canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="AutoSuggest">
                <div class="box box-default mt-4">
                    <div class="box-body">
                        <section class="box box-transparent">
                            <div class="box-body">
                                <div class="row article-title-style">

                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </article>
</section>