
<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">
            <a href="javascript:;" [routerLink]="['/app/jobs']"> Jobs </a>
            /
            <!--<a href="javascript:;" [routerLink]="['/app/projects', projectId, 'jobs', jobId]"> -->{{job.name}}<!--</a>--> /
            Runs</h2>
        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Region</th>
                    <th class="mdl-data-table__cell--non-numeric">Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Pass/Fail</th>
                    <th class="mdl-data-table__cell--non-numeric">Success</th>
                    <th class="mdl-data-table__cell--non-numeric">Time</th>
                    <th class="mdl-data-table__cell--non-numeric">Data</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <th class="mdl-data-table__cell--non-numeric">No</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of list">
                    <td class="mdl-data-table__cell--non-numeric">{{item.regions}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.createdDate | date:'short'}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalTestCompleted}}/{{item.task.failedTests}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ ( (item.task.totalTestCompleted ) / (item.task.totalTestCompleted + item.task.failedTests) ) | percent}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalTime | mstoDuration}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{item.task.totalBytes | byteFormat}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <span *ngIf="item.task.status == 'COMPLETED'"
                              class="text-success">{{item.task.status}} <i class="fa fa-check" aria-hidden="true"></i></span>
                        <span *ngIf="item.task.status != 'COMPLETED'" class="text-warning">{{item.task.status}} <i class="fa fa-spinner fa-spin" aria-hidden="true"></i></span>
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;" [routerLink]="['/app/jobs', jobId, 'runs', item.id]">#{{item.runId}}</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>
</section>
