<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']"> {{project.name}} </a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;{{job.name}}
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;Runs
            </section>
        </article>
    </div>
</div>

<section class="container-fluid with-maxwidth chapter">

    <article class="article">

        <section class="box box-transparent">
            <div class="box-body">

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Region</th>
                            <th class="mdl-data-table__cell--non-numeric">Date</th>
                            <th class="mdl-data-table__cell--non-numeric">Pass/Fail</th>
                            <th class="mdl-data-table__cell--non-numeric">Success</th>
                            <th class="mdl-data-table__cell--non-numeric">Data</th>
                            <th class="mdl-data-table__cell--non-numeric">Total Time</th>
                            <!--<th class="mdl-data-table__cell--non-numeric">Actual Time</th>-->
                            <th class="mdl-data-table__cell--non-numeric">Bugs</th>
                            <th class="mdl-data-table__cell--non-numeric">Status</th>
                            <th class="mdl-data-table__cell--non-numeric">No</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list">
                            <td class="mdl-data-table__cell--non-numeric">{{item.regions}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.createdDate | date:'short'}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                        <span class="text-success"> Passed: {{item.task.totalTestCompleted}}
                            <span class="text-danger" *ngIf="item.task.failedTests != 0">&nbsp;&nbsp; Failed: {{item.task.failedTests}}</span>
                        </span>
                                <!--{{item.task.totalTestCompleted}}/{{item.task.failedTests}}-->
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ ( (item.task.totalTestCompleted ) / (item.task.totalTestCompleted +
                                item.task.failedTests) ) | percent}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.task.totalBytes |
                                byteFormat}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.task.totalTime |
                                mstoDuration}}
                            </td>
                            <!--<td class="mdl-data-table__cell--non-numeric">{{item.task.timeTaken | mstoDuration}}</td>-->
                            <td class="mdl-data-table__cell--non-numeric" *ngIf="item.job.issueTrackerToDo === false">
                                <span class="text-danger"><b>{{item.task.issuesLogged || 0}}</b></span>&nbsp;<span class="text-danger small">New</span>&nbsp;
                                <span class="text-success"><b>{{item.task.issuesClosed || 0}}</b></span>&nbsp;<span class="text-sucess small">Closed</span>
                                <span class="text-danger"><b>{{item.task.totalOpenIssues || 0}}</b></span>&nbsp;<span class="text-danger small">Open</span>

                            </td>
                            <td class="mdl-data-table__cell--non-numeric" *ngIf="item.job.issueTrackerToDo === true">
                                <span class="text-danger" > N/A </span>
                            </td>

                            <td class="mdl-data-table__cell--non-numeric">
                                <span *ngIf="item.task.status == 'COMPLETED'"
                                      class="text-success">{{item.task.status}}</span>
                                <span *ngIf="item.task.status != 'COMPLETED' && item.task.status != 'PROCESSING'"
                                      class="text-danger">{{item.task.status}}</span>
                                <span *ngIf="item.task.status == 'PROCESSING'" class="text-warning"><i
                                        class="fa fa-spinner fa-spin"
                                        aria-hidden="true"></i> {{item.task.status}}</span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                <!-- <a href="javascript:;" [routerLink]="['/app/jobs', jobId, 'runs', item.id]">#{{item.runId}}</a> -->
                                <a href="javascript:;"
                                   [routerLink]="['/app/projects' , projectId, 'jobs' , job.id, 'runs', item.id]">{{item.runId}}</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </section>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>
</section>
