  <section class="container-fluid with-maxwidth chapter">
		<article class="article">				
						<div class="box box-default">
							<div class="box-body">
<mat-horizontal-stepper linear #stepper>
	<mat-step [stepControl]="frmStepOne">
		<ng-template matStepLabel>Project Registration</ng-template>
		<step-one-component></step-one-component>
		<!-- <div>
			<button mat-button mat-raised-button matStepperNext>Next</button>
		</div> -->
	</mat-step>
	<mat-step [stepControl]="frmStepTwo">
		<ng-template matStepLabel>AutoCode Generation</ng-template>
		<step-two-component></step-two-component>
		<!-- <div>
			<button mat-button mat-raised-button matStepperPrevious>Back</button>
			<button mat-button mat-raised-button matStepperNext>Next</button>
		</div> -->
	</mat-step>
	<mat-step [stepControl]="frmStepThree">
		<ng-template matStepLabel>Jobs</ng-template>
		<step-three-component></step-three-component>
		<!-- <div>
			<button mat-button mat-raised-button matStepperPrevious>Back</button>
			<button mat-button mat-raised-button matStepperNext>Submit</button>
		</div> -->
	</mat-step>
</mat-horizontal-stepper>
</div>
</div>
</article>
</section>