<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Accounts</h1>
        </div>
        <p class="text-muted">Manage git, cloud & collaboration endpoint credentials.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">
        <div class="container-fluid with-maxwidth chapter">

            <article class="article">
                <h2 class="article-title1">
                    <button mat-button color="primary" class="btn-w-md pull-left"
                            [routerLink]="['/app/accounts/new']">
                        <mat-icon class="material-icons">add</mat-icon>
                        REGISTER ACCOUNT
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Visibility</th>
                            <th class="mdl-data-table__cell--non-numeric">Create-Date</th>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let account of accounts">
                            <td class="mdl-data-table__cell--non-numeric bold">{{account.org.name}}/{{account.name}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric bold">{{account.accountType}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{account.visibility}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{account.createdDate | date:'shortDate'}}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;"
                                                                             [routerLink]="['/app/accounts', account.id]">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <mat-paginator [hidden]="length <= pageSize"
                               [pageSize]="pageSize"
                               hidePageSize="true"
                               (page)="change($event)"
                               [length]="length"
                >
                </mat-paginator>

            </article>
        </div>
    </article>

</section>
