<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title"><a href="javascript:;" [routerLink]="['/app/vault']"> Vault </a> / {{entry.key}}</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Owner" disabled required [(ngModel)]="entry.org.id" name="type">
                  <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                    {{org.org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Access level" [(ngModel)]="entry.visibility" name="visibility">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="divider divider-md"></div>

          <div class="form-group row">
            <label for="name" class="col-md-2 control-label"></label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input required disabled [(ngModel)]="entry.key" name="name" id="name"
                       matInput placeholder="Entry key">
              </mat-input-container>
            </div>
          </div>


          <div class="form-group row">
            <label for="secret" class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.val" name="secret" id="secret"
                       matInput type="password" placeholder="Secret">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left">Save
              </button>
              <button mat-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/vault']">Cancel
              </button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="callout callout-info">
                <p>Secret's can be injected into projects Fxfile's 'baseUrl', 'username', 'password', & test-suite files.
                  This helps you from not exposing sensitive environment details in version-control system.</p>
                <p> e.g. <code ngNonBindable>password: '{{@Vault.FxLabs/MyPassword}}'</code></p>
                <p> Where 'FxLabs/MyPassword' is the secret name.</p>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
