<h2 mat-dialog-title>CICD Job Invoke Script</h2>

<mat-dialog-content class="mat-typography">

    <div class="callout callout-info text-danger">
        <code>{{integration}} {{data}}</code>
    </div>
    <div class="callout callout-danger">
        <p>Use the command to integrate with any build system.</p>
        <p>On the Configuration page in Jenkins, go to the Build block.</p>
        <p>Click on the "Add" build step dropdown and select Execute shell.</p>
        <p>Paste the script in the text area and click on Save or Apply button.
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</mat-dialog-actions>