<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'issue']">{{project.name}}</a>
                <span class="text-muted">&nbsp; <i class="fa fa-chevron-right"></i> &nbsp;</span>Issues
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">

    <article class="article1">

        <div class="box1 box-default">
            <div class="box-body">

                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'issue', 'new']">
                            <i class="fa fa-plus"></i>
                            New Issue
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>
                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let issue" [routerLink]="['/app/projects', id, 'issue', element.id, 'edit']">
                                <a href="javascript:;">{{issue.result}}</a></mat-cell>
                        </ng-container>
                        <!--End Point-->
                        <ng-container matColumnDef="endPoint">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>End Point</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                {{issue.endPoint}}</mat-cell>
                        </ng-container>
                        <!--Method Point-->
                        <ng-container matColumnDef="method">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Method</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                {{issue.method}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="jobsNoHeader">
                            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-button color="primary" (click)="advRun(element)"><i class="material-icons">play_circle_outline</i>
                                    &nbsp; Run &nbsp;
                                </button>
                                <button mat-button color="primary" [routerLink]="['/app/projects' , id, 'issue' , element.id, 'runs']">History</button>
                                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                    <button mat-button color="primary" (click)="openJenkins()"><i class="material-icons">all_inclusive</i>
                                        &nbsp; Jenkins &nbsp;
                                    </button><br>
                                    <button mat-button color="primary" (click)="openMaven()"><i class="material-icons"
                                            style="transform: rotate(90deg);">explicit</i>
                                        &nbsp; Maven &nbsp;
                                    </button>
                                    <br>
                                    <button mat-button color="primary" (click)="openGradle()"><i class="material-icons">filter_tilt_shift</i>
                                        &nbsp; Gradle &nbsp;
                                    </button>
                                </mat-menu>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </article>
</section>