<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects']">Projects</a>
                <span class="text-muted">&nbsp; &nbsp;<i class="fa fa-chevron-right"></i>&nbsp;&nbsp;</span>
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'issue']">{{project.name}}</a>
                <span class="text-muted">&nbsp; &nbsp;<i class="fa fa-chevron-right"></i> &nbsp;&nbsp;</span>Issues
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'issue']" [active]="true">
            &nbsp;Issues
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'edit']">
            &nbsp;&nbsp; Edit
        </label>
    </nav>

    <article class="article1">

        <div class="box1 box-default">
            <div class="box-body">

                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'issue', 'new']">
                            <i class="fa fa-plus"></i>
                            New Issue
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>
                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Issues</mat-header-cell>
                            <mat-cell *matCellDef="let issue" [routerLink]="['/app/projects', id,'issue', issue.id, 'edit']">
                                <a href="javascript:;">{{issue.issueName}}</a></mat-cell>
                        </ng-container>
                        <!--End Point-->
                        <ng-container matColumnDef="endPoint">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>End Point</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                {{issue.endpoint}}</mat-cell>
                        </ng-container>
                        <!--Http Method-->
                        <ng-container matColumnDef="method">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Method</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                <span [ngClass]="{'text-info': issue.method === 'GET','text-danger': issue.method === 'DELETE',
                                    'text-success': issue.method === 'POST','text-warning': issue.method === 'PUT'}">
                                    <b>{{issue.method}}</b></span></mat-cell>
                        </ng-container>
                        <!-- environment -->
                        <ng-container matColumnDef="env">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Environment</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                {{issue.env}}</mat-cell>
                        </ng-container>
                        <!-- Status -->
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                            <mat-cell *matCellDef="let issue">
                                    <span [ngClass]="{'bg-success': issue.issueStatus === 'ClOSED',
                                    'bg-danger': issue.issueStatus === 'OPEN'}" class="p-1 text-white rounded">{{issue.issueStatus}}</span>
                                </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </article>
</section>