<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'issue']"> {{project.name}} </a>
                <span class="text-muted">&nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp;</span>New
            </section>
        </article>
    </div>
</div>
<br />

<section class="container-fluid with-maxwidth chapter">
    <article class="article">
        <div class="box box-default">
            <div class="box-body">

                <form [formGroup]="firstFormGroup">
                    <div class="form-group row">

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.endpoint" required id="name" formControlName="nameCtrl"
                                    matInput placeholder="End Point" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <mat-form-field class="col-md-5">
                            <mat-select [(ngModel)]="issue.method" placeholder="State" formControlName="nameCtrl1"
                                placeholder="Http Method">
                                <mat-option *ngFor="let method of httpMethod" [value]="method">{{method}}</mat-option>
                            </mat-select>
                            <mat-error>Please select </mat-error>
                        </mat-form-field>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.headersText" required id="name" formControlName="nameCtrl2"
                                    matInput placeholder="Headers" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4">  Comma seperated value (value,value).
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <textarea [(ngModel)]="issue.requestBody" required id="name" formControlName="nameCtrl3"
                                    matInput placeholder="Request Body" autocomplete="off"></textarea>
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <textarea [(ngModel)]="issue.responseBody" required id="name" formControlName="nameCtrl4"
                                    matInput placeholder="Response Body" autocomplete="off"></textarea>
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <textarea [(ngModel)]="issue.responseHeaders" required id="name" formControlName="nameCtrl5"
                                    matInput placeholder="Response Headers" autocomplete="off"></textarea>
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.assertions" required id="name" formControlName="nameCtrl6"
                                    matInput placeholder="Assertions" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.statusCode" required id="name" formControlName="nameCtrl7"
                                    matInput placeholder="Status Code" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.failedAssertions" required id="name" formControlName="nameCtrl8"
                                    matInput placeholder="Failed Assertions" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.result" required id="name" formControlName="nameCtrl9"
                                    matInput placeholder="Result" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <textarea [(ngModel)]="issue.description" required id="name" formControlName="nameCtrl10"
                                    matInput placeholder="Description" autocomplete="off"></textarea>
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="issue.env" required id="name" formControlName="nameCtrl11"
                                    matInput placeholder="Environment" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> some text
                                </p>
                            </div>
                        </div>

                    </div>
                    <mat-card-actions class="pull-right">
                        <button mat-raised-button color="primary" class="nav-btn" type="submit" [disabled]="firstFormGroup.invalid"
                            (click)="createIssue();">
                            Create Issue </button>
                    </mat-card-actions>
                </form>
            </div>
        </div>
    </article>
</section>