<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Projects</h1>
        </div>
        <p class="text-muted">Continuous test automation & security for REST APIs.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">
        <div class="container-fluid with-maxwidth chapter">

            <article class="article">
                <!--<h2 class="article-title">Continuous Test Automation for REST APIs. Ship fast, high-quality, & secure releases.</h2>-->
                <h2 class="article-title1">
                    <button mat-button color="primary" class="btn-w-md pull-left" [routerLink]="['/app/projects/new']">
                        <i class="fa fa-plus"></i>
                        Create Project
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Auto-Code</th>
                            <th class="mdl-data-table__cell--non-numeric">Version-Control</th>
                            <th class="mdl-data-table__cell--non-numeric">Create-date</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let project of projects">
                            <td class="mdl-data-table__cell--non-numeric bold">
                                <a href="javascript:;"
                                   [routerLink]="['/app/projects', project.id]">{{project.name}}</a>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{project.genPolicy}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{project.account.accountType}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{project.createdDate | date:'shortDate'}}
                        </tr>
                        </tbody>
                    </table>
                </div>

                <mat-paginator [hidden]="length <= pageSize"
                               [pageSize]="pageSize"
                               hidePageSize="true"
                               (page)="change($event)"
                               [length]="length"
                >
                </mat-paginator>

            </article>

        </div>
    </article>
</section>
