<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                Projects
            </section>
        </article>
    </div>
</div>

<section class="">
    <article class="article padding-lg-v1 article-dark article-bordered">
        <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
            <p class="text-muted">Continuous test automation & security for REST APIs.</p>
            <br/>
            <div class="row">
                <div class="col-xl-3 col-lg-6">
                    <a href="javascript:;" class="item-card bg-color-primary">
                        <a href="javascript:;" [routerLink]="['/app/projects/new']">
                            <div class="card__image">
                                <!--<img alt="product" [src]="product.img"/>-->
                                <p class="text-center text-white">
                                <span>
                                    <button mat-icon-button> <mat-icon
                                            class="material-icons">add</mat-icon> </button>
                                    <h5 style="color:white">Add Project</h5>
                                    <br/>
                                </span>
                                </p>
                            </div>

                            <div class="card__body card-white">
                                <div class="card__title">
                            <span>
                                <h6> .</h6>
                                <h4 class="text-muted"> .</h4>
                            </span>
                                </div>
                                <div class="card__price">
                                </div>
                            </div>
                        </a>
                    </a>
                </div>
                <div class="col-xl-3 col-lg-6" *ngFor="let project of projects">
                    <a href="javascript:;" class="item-card">
                        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']"
                           matTooltip="Go to jobs" matTooltipPosition="above">
                            <div class="card__image">
                                <h5 class="text-center text-muted1">{{project.name}}</h5>
                            </div>
                            <!-- </a> -->
                            <div class="card__body card-white">
                                <div class="card__title">
                                    <h6>Create date</h6>
                                    <h4 class="text-muted">{{project.createdDate | date:'mediumDate'}}</h4>
                                </div>
                                <div class="card__price">
                                </div>
                            </div>
                        </a>
                    </a>
                </div>
            </div>
        </section>
    </article>
</section>


<mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
               [length]="length">
</mat-paginator>
