<ul class="nav" myAccordionNav myAppendSubmenuIcon mySlimScroll myHighlightActiveItems>

  <br/>
    <li>
   <a mat-button [routerLink]="['/app/projects']"><i class="nav-icon material-icons">home</i><span class="nav-text">Projects</span></a>
  </li>
  <!--<li>
    <a mat-button [routerLink]="['/app/jobs']"><i class="nav-icon material-icons">alarm</i><span class="nav-text">Jobs</span></a>
  </li>-->



  <li><a href="javascript:void(0);"></a></li>
      <!--<li class="li-small"><a mat-button href="javascript:;"><i class="nav-icon material-icons text-muted">apps</i><span class="nav-text text-muted">Services</span></a></li> -->

        <!--<li class="li-small"><a mat-button [routerLink]="['/app/issues']"><i class="nav-icon material-icons">bug_report</i><span class="nav-text">Issue-Tracker Hub</span></a></li>
        <li class="li-small"><a mat-button [routerLink]="['/app/notification-accounts']"><i class="nav-icon material-icons">add_alert</i><span class="nav-text">Notification Hub</span></a></li>
        <li><a mat-button [routerLink]="['/app/monitor']"><i class="nav-icon material-icons">favorite_border</i>&nbsp; &nbsp; <span class="nav-text">  Monitoring Hub</span></a></li>
        <li><a mat-button [routerLink]="['/app/doc']"><i class="nav-icon material-icons">folder_open</i>&nbsp; &nbsp; <span class="nav-text">  Doc Hub</span></a></li>
        <li class="li-small"><a mat-button [routerLink]="['/app/support']"><i class="nav-icon material-icons">help_outline</i><span class="nav-text">Support Hub</span></a></li>-->
        <!--<li class="li-small"><a mat-button [routerLink]="['/app/analytics']"><i class="nav-icon material-icons">dashboard</i><span class="nav-text">Analytics Hub</span></a></li>-->
        <!--<li><a mat-button [routerLink]="['/app/dashboard']"><i class="nav-icon material-icons">home</i><span class="nav-text">Dashboard</span></a></li>-->




    <li class="nav-divider"></li>

    <li>
        <a mat-button href="#/code"><i class="nav-icon material-icons">settings applications</i><span class="nav-text">Manage</span></a>
        <ul>
            <li><a mat-button [routerLink]="['/app/orgs']"><i class="nav-icon material-icons">domain</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Org & Users</span></a></li>
            <!--<li><a mat-button [routerLink]="['/app/billing']"><i class="nav-icon material-icons">attach_money</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Billing</span></a></li>-->
            <li><a mat-button [routerLink]="['/app/accounts']"><i class="nav-icon material-icons">vpn_key</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Accounts</span></a></li>
            <li><a mat-button [routerLink]="['/app/vault']"><i class="nav-icon material-icons">security</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Vault</span></a></li>
            <li><a mat-button [routerLink]="['/app/regions']"><i class="nav-icon material-icons">cloud_queue</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Test Bots</span></a></li>
            <li><a mat-button [routerLink]="['/app/marketplace']"><i class="nav-icon material-icons">shopping_cart</i>&nbsp; &nbsp; &nbsp; &nbsp; <span class="nav-text">Marketplace</span></a></li>

        </ul>
    </li>

</ul>
