<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/vault']">Vault</a> 
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>&nbsp;New
            </section>
        </article>
    </div>
</div>

<section class="container-fluid with-maxwidth chapter">
    <br>
  <article class="article">
    <div class="box box-default">
      <div class="box-body">
        <div class="box-body">
        <form role="form" #heroForm="ngForm">
            <h6 class="mat-step-label-selected pb-4">Vault Details</h6>
          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.key" name="name" id="name"
                       matInput placeholder="Entry key">
              </mat-input-container>
            </div>
              <div class="col-md-7">
                  <div class="callout1 text-muted callout-info1">
                      <p>Store App's username, passwords, url as secret's and safely inject it into projects Fxfile's
                          'baseUrl', 'username', 'password', & test-suite files.
                          Vault helps you avoid sensitive environment details in version-control system.</p>
                      <p> e.g. usage <code ngNonBindable>password: '{{@Vault.FxLabs/MyPassword}}'</code></p>
                      <p> Where 'FxLabs/MyPassword' is the secret name.</p>
                  </div>
              </div>
          </div>

          <div class="form-group row">
            <label for="secret" class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.val" name="secret" id="secret"
                       matInput type="password" placeholder="Secret">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-0"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="create();"
                      class="btn-w-md no-margin-left" [disabled]="!heroForm.valid">Create Secret
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/vault']">Cancel
              </button>
            </div>
          </div>

        </form>
        </div>
      </div>
    </div>
  </article>
</section>
