<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/regions']"> Test Bots</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>&nbsp;Super-Bot-Network
            </section>
        </article>
    </div>
</div>
<section class="chapter page-terms">
    <article class="article padding-lg-v1">

        <div class="container-fluid with-maxwidth chapter">
            <nav mat-tab-nav-bar>
                <label mat-tab-link [routerLink]="['/app/regions']">My Bots
                </label>
                <label mat-tab-link [active]="true" [routerLink]="['/app/superbotnetwork']">Super-Bot-Network
                </label>
            </nav>

            <article class="article">
                <h2 class="article-title1">
                    <h6><p class="text-muted float-left">Ready to use global Test-Bots provided by FX Labs.</p></h6>
                    <p class="text-muted float-right">Total ({{length}})</p>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>
                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Name</th>
                                <th class="mdl-data-table__cell--non-numeric">Region</th>
                                <th class="mdl-data-table__cell--non-numeric">Count</th>
                                <th class="mdl-data-table__cell--non-numeric">Cost</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of list">
                                <td class="mdl-data-table__cell--non-numeric">{{item.org.name}}/{{item.name}}</td>
                                <td class="mdl-data-table__cell--non-numeric" [hidden]="item.manual">{{item.region}}</td>
                                <td class="mdl-data-table__cell--non-numeric" [hidden]="!item.manual">Registered</td>
                                <td class="mdl-data-table__cell--non-numeric">{{item.min}}</td>
                                <td class="mdl-data-table__cell--non-numeric">Free</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>

        </div>

        <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)" [length]="length">
        </mat-paginator>

    </article>
</section>