<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/regions']"> Test Bots</a>
                <span class="text-muted"> &nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp; </span>
                {{entry.name}}
                <span class="text-muted"> &nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp; </span>Edit
            </section>
        </article>
    </div>
</div>
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true" [routerLink]="['/app/regions']">My Bots
        </label>
        <label mat-tab-link [routerLink]="['/app/superbotnetwork']">Super-Bot-Network
        </label>
        <button mat-button type="button" color="warn" class="btn-w-xs float-right" (click)="delete();">Delete
        </button>
        <button mat-button class="btn-w-xs float-right" color="primary" (click)="openDialog();">Savings</button>
    </nav>
    <br>
    <article class="article">
        <div class="box box-default">
            <div class="box-body">
                <section class="box box-transparent">
                    <div class="box-body">
                        <div class="box1 box-default">
                            <div class="box-body padding-xl">
                                <form role="form" #heroForm="ngForm">

                                    <div class="form-group row">
                                        <label for="name" class="col-md-0 control-label"></label>
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input required [(ngModel)]="entry.name" name="name" id="name" matInput
                                                    placeholder="Bot name">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p>A bot is a light-weight and stateless container and can be deployed
                                                    on developer laptops, bare-metal servers & private/public cloud
                                                    regions. Bot is headless and it has no open ports or APIs to
                                                    talk. Bot receives tasks from FX Control-Plane over SSL.</p>
                                                <p>Name represents bot region name. You'll use this name to schedule
                                                    job runs. example usage: 'region: Org/Name'.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div [hidden]="entry.account.accountType === 'Self_Hosted'" class="form-group row">
                                        <label class="col-md-0 control-label">
                                        </label>

                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input required disabled [(ngModel)]="entry.account.name" name="accountName"
                                                    id="accountName" matInput placeholder="Account name">
                                            </mat-input-container>
                                        </div>
                                        <div class="callout1 text-muted callout-info1">
                                            <p>
                                                Public or private cloud endpoint.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group row" [hidden]="entry.account.accountType === 'Self_Hosted'">
                                        <label class="col-md-0 control-label">
                                        </label>

                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input required disabled [(ngModel)]="entry.region" name="cloudRegion"
                                                    id="cloudregion" matInput placeholder="Region">
                                            </mat-input-container>
                                        </div>
                                        <div class="callout1 text-muted callout-info1">
                                            <p>
                                                Cloud region where the bot is deployed.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group row" [hidden]="!entry.account || entry.account.accountType === 'Self_Hosted'">
                                        <label for="min" class="col-md-0 control-label"></label>
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input disabled [(ngModel)]="entry.min" name="min" id="min" matInput
                                                    placeholder="Count">
                                            </mat-input-container>
                                        </div>
                                        <div class="callout1 text-muted callout-info1">
                                            <p>
                                                Total bot instances.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="form-group row" [hidden]="entry.account.accountType !== 'Self_Hosted'">
                                        <label class="col-md-0 control-label">
                                        </label>
                                        <div class="col-md-12">
                                            <p class="text-muted">Run the below command on any Linux/Windows/Mac
                                                system with Docker installed.</p>
                                            <p class="callout callout-info">
                                                <code>{{entry.manualScript}}</code>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button mat-raised-button color="primary" (click)="update();" class="btn-w-md no-margin-left"
                                            [disabled]="!heroForm.valid">Save
                                        </button>
                                        <button mat-button type="button" color="primary" class="btn-w-md" (click)="ping();">Check
                                            Status
                                        </button>
                                        <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/regions']">Cancel
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </article>
</section>