<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/regions']">Test Bots </a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>&nbsp;New
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter" xmlns="http://www.w3.org/1999/html">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true" [routerLink]="['/app/regions']">My Bots
        </label>
        <label mat-tab-link [routerLink]="['/app/superbotnetwork']">Super-Bot-Network
        </label>
    </nav>
    <br>
    <article class="article">
        <div class="box box-default">
            <div class="box-body">
                <div class="box-body">
                    <mat-horizontal-stepper [linear]="isLinear" #stepper>
                        <mat-step [stepControl]="firstFormGroup">
                            <form [formGroup]="firstFormGroup">
                                <ng-template matStepLabel>Bot Details</ng-template>
                                <form role="form" #heroForm1="ngForm" class="row">
                                    <mat-input-container class="col-md-5">
                                        <input required [(ngModel)]="entry.name" name="name" id="name" matInput
                                            placeholder="Bot name" autocomplete="off" (change)="enable();">
                                    </mat-input-container>
                                    <div class="col-md-7">
                                        <div class="callout1 text-muted callout-info1">
                                            <p>A bot is a light-weight and stateless container and can be deployed on
                                                developer laptops,
                                                bare-metal servers & private/public cloud regions. Bot is headless and
                                                it has no
                                                open ports or APIs to talk. Bot receives tasks from FX Control-Plane
                                                over SSL.</p>
                                            <p>Name represents bot region name. You'll use this name to schedule job
                                                runs. example
                                                usage: 'region: Org/Name'.
                                            </p>
                                        </div>
                                    </div>
                                </form>
                                <div class="pull-right">
                                    <button mat-button type="button" [routerLink]="['/app/regions']">Cancel
                                    </button>
                                    <button mat-raised-button color="primary" class="btn-w-md" (click)="manualDeploy();"
                                        [disabled]="!heroForm1.valid">
                                        Create Self Hosted Bot & Complete
                                    </button> &nbsp; &nbsp;
                                    <button mat-raised-button color="primary" class="btn-w-md" matStepperNext
                                        [disabled]="!heroForm1.valid">
                                        Auto Deploy to Cloud & Next</button>
                                </div>
                            </form>
                        </mat-step>

                        <mat-step [stepControl]="secondFormGroup">
                            <form [formGroup]="secondFormGroup">
                                <ng-template matStepLabel>Deploy Cloud</ng-template>
                                <form role="form" #heroForm2="ngForm" class="row">
                                    <!-- Account start here -->
                                    <button class="col-md-1 mat-button" [disabled]="prevAccountFlag" (click)="previousAccount()"><i
                                            class="fa fa-chevron-left"></i></button>
                                    <div class="col-md-10">
                                        <div class="h6">Select Account</div>
                                        <div class="row">

                                            <div class="col-xl-3 mb-3" *ngFor="let account of cloudAccounts1">
                                                <a href="javascript:;" class="item-card text-dark mat-elevation-z8">
                                                    <div class="text-center" (click)="getRegions($event, account)"
                                                        [ngClass]="{'active': entry.account == account}">
                                                        <div class="card-header">
                                                            <div *ngIf="account.accountType === 'AZURE'"><i class="fa fa-windows fa-2x mt-2 text-primary"
                                                                    aria-hidden="true"></i></div>
                                                            <div *ngIf="account.accountType === 'AWS'"><i class="fa fa-amazon fa-2x mt-2 text-warning"
                                                                    aria-hidden="true"></i></div>
                                                            <div *ngIf="account == 'newButton'" (click)="openDialog()">
                                                                <i class="fa fa-plus py-3 text-primary fa-2x"></i>
                                                            </div>
                                                            <span> {{account.accountType}}</span>
                                                        </div>
                                                        <div class="card-footer no-border">{{account.name}}</div>
                                                        <div *ngIf="account == 'newButton'" class="card-footer text-primary p-0 no-border" (click)="openDialog()">New
                                                            Cloud</div>
                                                    </div>
                                                </a>
                                            </div>

                                        </div>
                                    </div>
                                    <button class="col-md-1 mat-button" [disabled]="nextAccountFlag" (click)="nextAccount()"><i
                                            class="fa fa-chevron-right"></i></button>
                                    <br><br>
                                    <!-- Account end here -->

                                    <!-- Region start here -->

                                    <button class="col-md-1 mat-button" [disabled]="prevRegionFlag" (click)="previousRegion()"
                                        *ngIf="showRegion"><i class="fa fa-chevron-left"></i></button>
                                    <div class="col-md-10">
                                        <div class="h6" *ngIf="showRegion">Select Region</div>
                                        <div class="row">

                                            <div class="col-xl-3 mb-3" *ngFor="let r of regions1">
                                                <a href="javascript:;" class="item-card text-dark mat-elevation-z8">
                                                    <div class="text-center" (click)="selectedRegion($event, r)"
                                                        [ngClass]="{'active': entry.region == r}">
                                                        <div class="card-header">
                                                            <div *ngIf="r == 'Central India' || r == 'South India' || r == 'West India'">
                                                                <div class="flag-icon flag-icon-in h2"></div>
                                                                <div>India</div>
                                                            </div>
                                                            <div *ngIf="r == 'us-east-1' || r == 'us-east-2' || r == 'us-west-1' || r == 'us-west-2' || r == 'sa-east-1' || r == 'West US 2' || r == 'West US' || r == 'East US 2' || r == 'East US' || r == 'Central US' || r == 'North Central US' || r == 'South Central US' || r == 'West Central US'">
                                                                <div class="flag-icon flag-icon-um h2"></div>
                                                                <div>US</div>
                                                            </div>
                                                            <div *ngIf="r == 'eu-west-1' || r == 'North Europe'">
                                                                <div class="flag-icon flag-icon-ie h2"></div>
                                                                <div>Ireland</div>
                                                            </div>
                                                            <div *ngIf="r == 'eu-west-2' || r == 'UK West' || r == 'UK South'">
                                                                <div class="flag-icon flag-icon-gb h2"></div>
                                                                <div>United Kingdom</div>
                                                            </div>
                                                            <div *ngIf="r == 'ap-northeast-1' || r == 'ap-northeast-3' || r == 'Japan West' || r == 'Japan East'">
                                                                <div class="flag-icon flag-icon-jp h2"></div>
                                                                <div>Japan</div>
                                                            </div>
                                                            <div *ngIf="r == 'ap-northeast-2' || r == 'Korea Central' || r == 'Korea South'">
                                                                <div class="flag-icon flag-icon-kr h2"></div>
                                                                <div>Korea</div>
                                                            </div>
                                                            <div *ngIf="r == 'eu-west-3'">
                                                                <div class="flag-icon flag-icon-fr h2"></div>
                                                                <div>France</div>
                                                            </div>
                                                            <div *ngIf="r == 'ca-central-1' || r == 'Canada East' || r == 'Canada Central'">
                                                                <div class="flag-icon flag-icon-ca h2"></div>
                                                                <div>Canada</div>
                                                            </div>
                                                            <div *ngIf="r == 'eu-central-1' || r == 'Germany Central' || r == 'Germany Northeast'">
                                                                <div class="flag-icon flag-icon-de h2"></div>
                                                                <div>Germany</div>
                                                            </div>
                                                            <div *ngIf="r == 'australiasoutheast'">
                                                                <div class="flag-icon flag-icon-sc h2"></div>
                                                                <div>Seychelles</div>
                                                            </div>
                                                            <div *ngIf="r == 'Australia East' || r == 'ap-southeast-2' || r == 'Australia Southeast'">
                                                                <div class="flag-icon flag-icon-au h2"></div>
                                                                <div>Australia</div>
                                                            </div>
                                                            <div *ngIf="r == 'South East Asia' || r == 'ap-southeast-1'">
                                                                <div class="flag-icon flag-icon-sg h2"></div>
                                                                <div>Singapore</div>
                                                            </div>
                                                            <div *ngIf="r == 'East Asia'">
                                                                <div class="flag-icon flag-icon-hk h2"></div>
                                                                <div>Hong Kong</div>
                                                            </div>
                                                            <div *ngIf="r == 'West Europe'">
                                                                <div class="flag-icon flag-icon-nl h2"></div>
                                                                <div>Netherland</div>
                                                            </div>
                                                            <div *ngIf="r == 'Brazil South'">
                                                                <div class="flag-icon flag-icon-br h2"></div>
                                                                <div>Brazil</div>
                                                            </div>
                                                            <div *ngIf="r == 'China North' || r == 'China East'">
                                                                <div class="flag-icon flag-icon-cn h2"></div>
                                                                <div>China</div>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer py-2 no-border">{{r}}</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <button class="col-md-1 mat-button" [disabled]="nextRegionFlag" (click)="nextRegion()"
                                        *ngIf="showRegion"><i class="fa fa-chevron-right"></i></button>
                                    <br><br>
                                    <!-- Region end here -->

                                    <!-- Cluster start here -->
                                    <div class="col-md-1"></div>
                                    <div class="col-md-10" *ngIf="showCluster">
                                        <div class="h6">Select Cluster &nbsp;<span>each bot requires 1GB VM</span></div>
                                        <div class="row">
                                            <div class="col-xl-3 mb-3" *ngFor="let cluster of clusterValue" (click)="selectedCluster($event, cluster)">
                                                <a href="javascript:;" class="item-card text-dark mat-elevation-z8">
                                                    <div class="text-center" [ngClass]="{'active': entry.min == cluster}">
                                                        <div class="card-header">
                                                            <i class="material-icons">group_work</i>
                                                            <div>Cluster</div>
                                                        </div>
                                                        <div class="card-footer py-2 no-border">{{cluster}}</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                    </div>
                                    <div class="col-md-1"></div>
                                    <!-- Cluster end here -->
                                </form>
                                <div class="pull-right">
                                    <button mat-button matStepperPrevious>Back</button>
                                    <button mat-raised-button color="primary" (click)="create();" [disabled]="!heroForm2.valid">
                                        Deploy Bot & Complete
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                    </mat-horizontal-stepper>
                </div>
            </div>
        </div>
    </article>
</section>