<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
             {{project.name}}
             <span class="text-muted">&nbsp; <i class="fa fa-chevron-right"></i> &nbsp;</span>Jobs
            </section>
        </article>
    </div>
</div>

<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true">Jobs
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'environments']">Environments
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']">Test Suites
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">Coverage
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'configuration']">Configuration</label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'manage']">Git</label>
    </nav>
    <br/>

    <article class="article">

        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'jobs', 'new']">
                            <i class="fa fa-plus"></i>
                            New Job
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>
                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Name</th>
                                <th class="mdl-data-table__cell--non-numeric">Env</th>
                                <th class="mdl-data-table__cell--non-numeric">Bot-Region</th>
                                <th class="mdl-data-table__cell--non-numeric">Bug Management</th>
                                <th class="mdl-data-table__cell--non-numeric">Notifications</th>

                                <th class="mdl-data-table__cell--non-numeric">Next-Fire</th>
                                <th class="mdl-data-table__cell--non-numeric"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let job of jobs">
                                <td class="mdl-data-table__cell--non-numeric">
                                    <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs', job.id, 'edit']">{{job.name}}</a></td>
                                <td class="mdl-data-table__cell--non-numeric">{{job.environment?.name}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{job.regions}}</td>
                                <!-- Auto bug -->
                                <td class="mdl-data-table__cell--non-numeric">
                                    <div *ngIf="job.issueTrackerToDo" class="ml-3"> {{"TODO"}}</div>
                                    <div *ngIf="!job.issueTrackerToDo" class="ml-4">
                                        <mat-checkbox [checked]="true" [disabled]="true">
                                        </mat-checkbox>
                                        <span class="text-danger">{{job.openIssues}}</span>&nbsp;<span class="text-muted small">Open</span>&nbsp;<span class="text-success">{{job.closedIssues}}</span>&nbsp;<span class="text-muted small">Closed</span>

                                    </div>
                                </td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <div class="ml-4">
                                        <mat-checkbox [checked]="true" *ngIf="!job.notificationToDo" [disabled]="true"></mat-checkbox>
                                    </div>
                                    <div *ngIf="job.notificationToDo" class="ml-3">
                                        {{"TODO"}}
                                    </div>
                                </td>

                                <!--<td class="mdl-data-table__cell&#45;&#45;non-numeric"></td>-->
                                <td class="mdl-data-table__cell--non-numeric">{{job.nextFire | date:'short'}}</td>
                                <td class="mdl-data-table__cell--non-numeric">
                                    <button mat-button color="primary" (click)="advRun(job)" class="btn-w-md"><i class="material-icons">play_circle_outline</i>
                                        &nbsp; Run &nbsp;
                                    </button>

                                    &nbsp;&nbsp;
                                    <a href="javascript:;" [routerLink]="['/app/projects' , id, 'jobs' , job.id, 'runs']" matTooltip="history" matTooltipPosition="above">
                                        History </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)" [length]="length">
        </mat-paginator>

    </article>

</section>