<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">{{project.name}}</a>
                <span class="text-muted">&nbsp; <i class="fa fa-chevron-right"></i> &nbsp;</span>Jobs
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true">Jobs
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'environments']">Environments
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']">Test Suites
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">Coverage
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'configuration']">AutoCode</label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'manage']">Git</label>
    </nav>
    <br />

    <article class="article1">

        <div class="box1 box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'jobs', 'new']">
                            <i class="fa fa-plus"></i>
                            New Job
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>
                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
                            <mat-cell *matCellDef="let element" [routerLink]="['/app/projects', id, 'jobs', element.id, 'edit']">
                                <a href="javascript:;">{{element.name}}</a></mat-cell>
                        </ng-container>
                        <!--Env Name-->
                        <ng-container matColumnDef="env">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Env</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.environment?.name}}</mat-cell>
                        </ng-container>

                        <!--Bot Region-->
                        <ng-container matColumnDef="bot-region">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bot-Region</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.regions}}</mat-cell>
                        </ng-container>

                        <!--Bug Management-->
                        <ng-container matColumnDef="bug-management">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Bug Management</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div *ngIf="element.issueTrackerToDo" class="ml-3"> {{"TODO"}}</div>
                                <div *ngIf="!element.issueTrackerToDo">
                                    <span class="text-danger">{{element.openIssues}}</span>&nbsp;<span class="text-muted small">Open</span>&nbsp;<span
                                        class="text-success">{{element.closedIssues}}</span>&nbsp;<span class="text-muted small">Closed</span>
                                </div>

                            </mat-cell>
                        </ng-container>

                        <!--Notification-->
                        <ng-container matColumnDef="notifications">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Notifications</mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <div class="ml-4">
                                    <mat-checkbox [checked]="true" *ngIf="!element.notificationToDo" [disabled]="true"></mat-checkbox>
                                </div>
                                <div *ngIf="element.notificationToDo" class="ml-3">
                                    {{"TODO"}}
                                </div>

                            </mat-cell>
                        </ng-container>

                        <!--Next Fire-->
                        <ng-container matColumnDef="next-fire">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Next-Fire</mat-header-cell>
                            <mat-cell *matCellDef="let element">{{element.nextFire | date:'short'}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="jobsNoHeader">
                            <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                            <mat-cell *matCellDef="let element">
                                <button mat-button color="primary" (click)="advRun(element)"><i class="material-icons">play_circle_outline</i>
                                    &nbsp; Run &nbsp;
                                </button>
                                <button mat-button color="primary" [routerLink]="['/app/projects' , id, 'jobs' , element.id, 'runs']"
                                    >History</button>
                                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                                    <mat-icon>more_vert</mat-icon>
                                </button>
                                <mat-menu #menu="matMenu" [overlapTrigger]="false">
                                    <button mat-button color="primary" (click)="openJenkins()"><i class="material-icons">all_inclusive</i>
                                        &nbsp; Jenkins &nbsp;
                                    </button><br>
                                    <button mat-button color="primary" (click)="openMaven()"><i class="material-icons"
                                            style="transform: rotate(90deg);">explicit</i>
                                        &nbsp; Maven &nbsp;
                                    </button>
                                    <br>
                                    <button mat-button color="primary" (click)="openGradle()"><i class="material-icons">filter_tilt_shift</i>
                                        &nbsp; Gradle &nbsp;
                                    </button>
                                </mat-menu>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </article>
</section>