<div class="box box-default">
        <div>
            <article>
                <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                        <a href="javascript:;" [routerLink]="['/app/messages']">Activities</a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;{{item.subject}}
                </section>
            </article>
        </div>
    </div>
<!-- <div class="box box-default">
    <div class="box-body">
        <a href="javascript:;" [routerLink]="['/app/messages']">Alerts</a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;{{item.subject}}
    </div>
</div> -->
<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <!-- <h2 class="article-title"> <a href="javascript:;" [routerLink]="['/app/messages']">Alerts</a> / {{item.subject}}
        </h2> -->

        <div class="box box-default table-box mdl-shadow--2dp">
            <div class="item-card card__horizontal1">
                <div class="card__body card-white">
                    <div class="card__title">
                        <h4>{{item.subject}}</h4>
                        <h6>{{item.type}}</h6>
                    </div>
                    <div class="card__price">
                        <span>Date: {{item.createdDate | date:'short'}}</span>
                        <span>Task:  {{item.taskType}}</span>
                        <span>Status: {{item.status}}</span>

                    </div>
                    <div class="divider divider-solid divider-lg"></div>
                    <p class="card__desc" style="white-space: pre;">{{item.message}}</p>
                </div>
            </div>
        </div>
    </article>
</section>