<div class="box box-default"> 
        <div class="box-body"> 
            <a href="javascript:;" [routerLink]="['/app/vault']"> Vaults </a>
            <span class="text-muted"> > </span> {{entry.key}}<span class="text-muted"> > </span>Edit
        </div> 
    </div> 
<section class="container-fluid with-maxwidth chapter">
        <br>
    <article class="article">
        <div class="box box-default">
            <div class="box-body padding-xl">
                <div class="box-body">
                <form role="form" #heroForm="ngForm">

                    <div class="form-group row">
                        <label for="name" class="col-md-0 control-label"></label>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.key" name="name" id="name"
                                       matInput placeholder="Entry key">
                            </mat-input-container>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label for="secret" class="col-md-0 control-label">
                        </label>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="entry.val" name="secret" id="secret"
                                       matInput type="password" placeholder="Secret">
                            </mat-input-container>
                        </div>

                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>Store App username, password, and url as secret's and safely inject it into projects
                                    Fxfile's 'baseUrl', 'username', 'password', & test-suite files.
                                    Vault helps you avoid sensitive environment details in version-control system.</p>
                                <p>e.g. usage in Fxfile.yaml's auths section. Where <code>'{{entry.org.name}}/{{entry.key}}'</code> is the secret name.</p>
                                <code>password: '<span ngNonBindable>{{@Vault.</span><span>{{entry.org.name}}/{{entry.key}}</span><span ngNonBindable>}}'</span></code>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-0"></div>
                        <div class="col-md-8">
                            <button mat-raised-button color="primary" (click)="update();"
                                    class="btn-w-md no-margin-left" [disabled]="!heroForm.valid">Save
                            </button>
                            <button mat-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
                            </button>
                            <button mat-button type="button" color="primary" class="btn-w-md"
                                    [routerLink]="['/app/vault']">Cancel
                            </button>
                        </div>
                    </div>

                </form>
            </div>
            </div>
        </div>
    </article>
</section>
