<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']"> {{project.name}} </a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs', job.id, 'runs']">{{job.name}}</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs', job.id, 'runs']">Runs</a>
                &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span>
                &nbsp;{{run.runId}}
            </section>
        </article>
    </div>

</div>
<section class="container-fluid with-maxwidth no-breadcrumbs chapter">

    <div class="box box-default table-box mdl-shadow--2dp">
        <div class="item-card card__horizontal1">
            <div class="card__body card-white">
                <div class="card__title row">
                    <div class="col-md-4">
                        <h4>Status:
                            <span *ngIf="run.task.status == 'COMPLETED'" class="text-success">{{run.task.status}}</span>
                            <span *ngIf="run.task.status != 'COMPLETED' && run.task.status != 'PROCESSING'" class="text-danger">{{run.task.status}}</span>
                            <span *ngIf="run.task.status == 'PROCESSING'" class="text-warning"><i class="fa fa-spinner fa-spin"
                                    aria-hidden="true"></i> {{run.task.status}}</span>
                        </h4>
                        <h6>{{run.task.description}}</h6>
                        <h6>Region: {{run.regions}}</h6>
                    </div>
                    <div class="col-md-8">
                        <button mat-raised-button class="btn-w-sm text-danger float-right" (click)="deleteRun();">
                            Delete &nbsp;
                        </button>
                        <button mat-raised-button class="btn-w-sm text-primary float-right" (click)="rerun();">
                            Re-Run &nbsp;
                        </button>
                        <button mat-raised-button class="btn-w-sm text-primary float-right" (click)="nextRun();"
                            >Next</button>
                        <button mat-raised-button class="btn-w-sm text-primary float-right" (click)="prevRun();"
                            >Previous</button>
                        <button mat-raised-button *ngIf="run.task.status == 'PROCESSING'" class="btn-w-sm text-warning float-right"
                            (click)="cancel();">
                            Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="no-breadcrumbs page-dashboard">
        <div class="row">
            <!-- Stats -->
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">check</i>
                    </div>
                    <div class="box-info">
                        <span>Test Executions</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalTests']}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top text-muted">
                        <i class="material-icons color-warning">data_usage</i>
                    </div>
                    <div class="box-info">
                        <span>Data</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalBytes'] | byteFormat}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">av_timer</i>
                    </div>
                    <div class="box-info">
                        <span>Duration</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalTime'] | mstoDuration}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="fa fa-times-circle color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Bugs</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <!--<small class="text-success">{{run.stats['Critical_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['Critical_Failed'] || 0}}</small>-->
                        <small class="text-danger">{{run.task.issuesLogged || 0}}<span class="text-small"> New </span></small>
                        <small class="text-success">{{run.task.issuesClosed || 0}}<span class="text-small"> Closed</span></small>
                        <!--<small class="text-danger">{{run.task.totalOpenIssues || 0}}<span class="text-small"> Open</span></small>-->
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer" (click)="status='Failed';search()">
                <div class="box box-default">
                    <div class="box-top bg-color-danger">
                        <i class="fa fa-times-circle"></i>
                    </div>
                    <div class="box-info">
                        <span>Fail</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['failedTests']}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer" (click)="status='Passed';search()">
                <div class="box box-default">
                    <div class="box-top bg-color-success">
                        <i class="material-icons">check</i>
                    </div>
                    <div class="box-info">
                        <span>Success Rate</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{success | percent}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Security Stats -->
            <div class="col-xl-2 col-sm-6 pointer" (click)="category='SQL_Injection';search()">
                <div class="box box-default pricing-table">
                    <div class="box-top">
                        <i class="fa fa-database color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>SQL</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['SQL_Injection_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['SQL_Injection_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer" (click)="category='RBAC';search()">
                <div class="box box-default pricing-table">
                    <div class="box-top">
                        <i class="material-icons color-danger">supervisor_account</i>
                    </div>
                    <div class="box-info">
                        <span>RBAC</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['RBAC_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['RBAC_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='DDOS';search()">
                    <div class="box-top">
                        <i class="fa fa-globe color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>DDoS</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['DDOS_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['DDOS_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='UnSecured';search()">
                    <div class="box-top">
                        <i class="fa fa-user-secret color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Invalid Auth</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['UnSecured_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['UnSecured_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='SLA';search()">
                    <div class="box-top">
                        <i class="fa fa-clock-o color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>PERFORMANCE SLA</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['SLA_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['SLA_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='Functional';search()">
                    <div class="box-top">
                        <i class="fa fa-tasks color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Functional</span>
                    </div>
                    <div class="box-bottom">
                        <small class="text-success">{{run.stats['Functional_Passed'] || 0}}</small> / <small class="text-danger">{{run.stats['Functional_Failed']
                            || 0}}</small>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-input-container class="full-width">
                    <input [(ngModel)]="keyword" name="search" id="search" matInput type="search" placeholder="Search suites..."
                        (keyup.enter)="search()">
                </mat-input-container>
            </div>
            <div class="col-md-4">
                <div class="full-width">
                    <mat-chip-list>
                        <mat-chip>Filter: </mat-chip>
                        <mat-chip *ngIf="keyword" (removed)="keyword='';search()">{{keyword}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                        <mat-chip *ngIf="category" (removed)="category='';search()">{{category}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                        <mat-chip *ngIf="status === 'Failed'" (removed)="status='';search()" class="text-danger">{{status}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                        <mat-chip *ngIf="status === 'Passed'" (removed)="status='';search()" class="text-success">{{status}}<mat-icon matChipRemove>cancel</mat-icon></mat-chip>
                    </mat-chip-list>
                </div>
            </div>
            <!--
            <div class="col-md-4">
                <span class="pull-right">Bugs:
                    <span class="text-danger"><b>{{run.task.issuesLogged || 0}}</b></span>&nbsp;<span class="text-danger small">New</span>&nbsp;
                    <span class="text-success"><b>{{run.task.issuesClosed || 0}}</b></span>&nbsp;<span class="text-success small">Closed</span>
                    <span class="text-danger"><b>{{run.task.totalOpenIssues || 0}}</b></span>&nbsp;<span class="text-danger small">Open</span>
                </span>
            </div>
-->

        </div>
    </div>
    <br />
    <div class="mat-elevation-z8 box-default">
        <mat-table [dataSource]="dataSource" matSort matSortActive="suite" matSortDisableClear matSortDirection="desc">
            <ng-container matColumnDef="suite">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Suite </mat-header-cell>
                <mat-cell *matCellDef="let suites"> {{suites.suiteName | slice:0:55}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="category">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                <mat-cell *matCellDef="let suites"> {{suites.category}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="severity">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Severity </mat-header-cell>
                <mat-cell *matCellDef="let suites"> {{suites.severity}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let suites">
                    <span class="text-success h6"><b>{{suites.tests - suites.failed || 0}}</b></span>&nbsp;<span class="text-success small">Passed</span>&nbsp;
                    <span *ngIf="suites.failed != 0"><span class="text-danger h6"><b>{{suites.failed || 0}}</b></span>&nbsp;<span
                            class="text-danger small">Failed</span>&nbsp;</span>
                </mat-cell>
            </ng-container>
            <ng-container matColumnDef="data">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Data </mat-header-cell>
                <mat-cell *matCellDef="let suites"> {{suites.size | byteFormat}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="time">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Time </mat-header-cell>
                <mat-cell *matCellDef="let suites"> {{suites.time | mstoDuration}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="analytics">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Analytics </mat-header-cell>
                <mat-cell *matCellDef="let suites">
                    <a href="javascript:;" (click)="getTestSuiteResponseByName(suites.suiteName)" matTooltip="logs"
                        matTooltipPosition="above">
                        <i class="material-icons">
                            description
                        </i></a>
                    <a href="javascript:;" [routerLink]="['/app/projects', projectId, 'jobs', jobId, 'runs', run.id, 'history', suites.suiteName]"
                        matTooltip="analytics" matTooltipPosition="above"><i class="nav-icon material-icons">timeline</i></a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator [pageSizeOptions]="pageSizeOptions" [pageSize]="pageSize" (page)="change($event)" [length]="length">
        </mat-paginator>
    </div>

</section>