<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
        <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']"> {{project.name}} </a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs', job.id, 'runs']">{{job.name}}</a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;
        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs', job.id, 'runs']">History</a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;{{run.runId}}
            </section>
        </article>
    </div>
</div>
<section class="container-fluid with-maxwidth no-breadcrumbs chapter">
    
    <div class="box box-default table-box mdl-shadow--2dp">
        <div class="item-card card__horizontal1">
            <div class="card__body card-white">
                <div class="card__title">
                    <h4>Status:
                        <span *ngIf="run.task.status == 'COMPLETED'" class="text-success">{{run.task.status}}</span>
                        <span *ngIf="run.task.status != 'COMPLETED' && run.task.status != 'PROCESSING'"
                              class="text-danger">{{run.task.status}}</span>
                        <span *ngIf="run.task.status == 'PROCESSING'" class="text-warning"><i
                                class="fa fa-spinner fa-spin" aria-hidden="true"></i> {{run.task.status}}</span>
                    </h4>
                    <h6>{{run.task.description}}</h6>
                    <h6>Region: {{run.job?.regions}}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="no-breadcrumbs page-dashboard">
        <div class="row">
            <!-- Stats -->
            <div class="col-xl-2 col-sm-6 pointer" (click)="category='';search()">
                <div class="box box-default pricing-table">
                    <div class="box-top">
                        <i class="material-icons color-info">assignment</i>
                    </div>
                    <div class="box-info">
                        <span>Test-Suites</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.task['totalSuiteCompleted']}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">check</i>
                    </div>
                    <div class="box-info">
                        <span>Test Executions</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalTests']}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top text-muted">
                        <i class="material-icons color-warning">data_usage</i>
                    </div>
                    <div class="box-info">
                        <span>Data</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalBytes'] | byteFormat}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">av_timer</i>
                    </div>
                    <div class="box-info">
                        <span>Duration</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['totalTime'] | mstoDuration}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top bg-color-danger">
                        <i class="fa fa-times-circle"></i>
                    </div>
                    <div class="box-info">
                        <span>Fail</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.task['failedTests']}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top bg-color-success">
                        <i class="material-icons">check</i>
                    </div>
                    <div class="box-info">
                        <span>Success Rate</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{success | percent}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <!-- Security Stats -->
            <div class="col-xl-2 col-sm-6 pointer" (click)="category='SQL_Injection';search()">
                <div class="box box-default pricing-table">
                    <div class="box-top">
                        <i class="fa fa-database color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>SQL</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.stats['SQL_Injection_Passed'] + run.stats['SQL_Injection_Failed'] || 0}}  / {{run.stats['SQL_Injection_Failed'] || 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='XSS_Injection';search()">
                    <div class="box-top">
                        <i class="fa fa-code color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>XSS</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.stats['XSS_Injection_Passed'] + run.stats['XSS_Injection_Failed'] || 0}} / {{run.stats['XSS_Injection_Failed'] || 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='DDOS';search()">
                    <div class="box-top">
                        <i class="fa fa-globe color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>DDoS</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.stats['DDOS_Passed']  + run.stats['DDOS_Failed'] || 0}} / {{run.stats['DDOS_Failed'] || 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='UnSecured';search()">
                    <div class="box-top">
                        <i class="fa fa-user-secret color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Invalid Auth</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.stats['UnSecured_Passed']  + run.stats['UnSecured_Failed'] || 0}} / {{run.stats['UnSecured_Failed'] || 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6 pointer">
                <div class="box box-default pricing-table" (click)="category='Functional';search()">
                    <div class="box-top">
                        <i class="fa fa-tasks color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Functional</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{run.stats['Functional_Passed'] + run.stats['Functional_Failed'] || 0}} / {{run.stats['Functional_Passed'] || 0}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="fa fa-times-circle color-danger"></i>
                    </div>
                    <div class="box-info">
                        <span>Critical</span>
                    </div>
                    <div class="box-bottom text-muted">
                        <span>{{run.stats['Critical_Passed'] + run.stats['Critical_Failed'] || 0}} / {{run.stats['Critical_Failed'] || 0}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <mat-input-container class="full-width">
                    <input [(ngModel)]="keyword" name="search" id="search"
                           matInput type="search" placeholder="Search suites..." (keyup.enter)="search()">
                </mat-input-container>
            </div>
            <div class="col-md-4">
                <div class="full-width">
                    <mat-chip-list>
                        <mat-chip>Filter: </mat-chip>
                        <mat-chip *ngIf="category">{{category}}</mat-chip>
                    </mat-chip-list>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <article class="article">
        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Suite</th>
                    <th class="mdl-data-table__cell--non-numeric">Category</th>
                    <th class="mdl-data-table__cell--non-numeric">Severity</th>
                    <th class="mdl-data-table__cell--non-numeric">Status</th>
                    <!--<th class="mdl-data-table__cell--non-numeric">Total/Pass</th>
                    <th class="mdl-data-table__cell--non-numeric">Success</th>-->
                    <th class="mdl-data-table__cell--non-numeric">Data</th>
                    <th class="mdl-data-table__cell--non-numeric">Time</th>
                    <th class="mdl-data-table__cell--non-numeric">Analytics</th>
                </tr>

                </thead>
                <tr *ngFor="let s of suites">
                    <!--<td class="mdl-data-table__cell--non-numeric" *ngIf="s.failed == 0"><span class="text-success"><i
                            class="material-icons">done</i> </span></td>-->
                    <!--<td class="mdl-data-table__cell--non-numeric" *ngIf="s.failed != 0"><span class="text-danger"><i
                            class="material-icons">clear</i> </span></td>-->
                    <td class="mdl-data-table__cell--non-numeric">
                        {{s.suiteName | slice:0:55}}
                    </td>
                    <td class="mdl-data-table__cell--non-numeric">{{s.category}}</td>

                    <td class="mdl-data-table__cell--non-numeric"><span>{{s.severity}} </span></td>

                    <td class="mdl-data-table__cell--non-numeric">
                        <span class="text-success"> Passed: {{s.tests - s.failed}}
                            <span class="text-danger" *ngIf="s.failed != 0">&nbsp;&nbsp; Failed: {{s.failed}}</span>
                        </span>
                    </td>

                    <!--<td class="mdl-data-table__cell--non-numeric" *ngIf="s.failed != 0"><span
                            class="text-danger"> Fail: {{s.failed}}</span></td>-->

                    <!--<td class="mdl-data-table__cell--non-numeric">{{s.tests}}/{{s.tests - s.failed}}</td>
                    <td class="mdl-data-table__cell--non-numeric">
                        {{ ( (s.tests ) / (s.tests + s.failed) ) | percent }}
                    </td>-->

                    <td class="mdl-data-table__cell--non-numeric">{{s.size | byteFormat}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{s.time | mstoDuration}}</td>


                    <td class="mdl-data-table__cell--non-numeric">
                        <a href="javascript:;" (click)="getTestSuiteResponseByName(s.suiteName)" matTooltip="logs"
                           matTooltipPosition="above">
                            <i class="material-icons">
                                description
                            </i></a>
                        <a href="javascript:;" [routerLink]="['/app/jobs', jobId, 'history', s.suiteName]"
                           matTooltip="analytics" matTooltipPosition="above"><i
                                class="nav-icon material-icons">timeline</i></a>
                    </td>


                </tr>
                <!--<tfoot>
                <tr class="bg-color-info1">
                    <th class="mdl-data-table__cell--non-numeric">Aggregate</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                    <th class="mdl-data-table__cell--non-numeric">
                        <span class="text-success">Passed: {{total-failed}}</span><span class="text-danger">&nbsp;&nbsp; Failed: {{failed}}</span>
                    </th>
                    <th class="mdl-data-table__cell--non-numeric">{{size | byteFormat}}</th>
                    <th class="mdl-data-table__cell--non-numeric">{{time | mstoDuration}}</th>
                </tr>
                </tfoot>-->
            </table>
        </div>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>

    <!--
    <a href="javascript:;" (click)="getTestSuiteResponsesByRunId()"> View Logs </a>

    <div class="box box-default table-box mdl-shadow--2dp">
        <div class="item-card card__horizontal1" *ngFor="let item of list">
            <div class="card__body card-white">
                <div class="card__title">
                    <h4>{{item.testSuite}}</h4>
                    <h6>Test-Suite</h6>
                </div>
                <div class="card__price">
                    <span>Pass: {{item.totalPassed}}</span>
                    <span class="type--strikethrough">Fail: {{item.totalFailed}}</span>
                    <span>Time: {{item.requestTime}}</span>
                </div>
                <div class="divider divider-solid divider-lg"></div>
                <p class="card__desc" style="white-space: pre;">{{item.logs}}</p>
            </div>
        </div>
    </div>
    -->
</section>