<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Issue-Tracker Hub</h1>
        </div>
        <p class="text-muted">Fx can auto file, validate & close bugs in issue-tracker systems.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">
        <div class="container-fluid with-maxwidth chapter">
            <article class="article">
                <h2 class="article-title">
                    <button mat-raised-button color="primary" class="btn-w-md pull-right"
                            [routerLink]="['/app/issues/new']">New Issue-Tracker
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Type</th>
                            <th class="mdl-data-table__cell--non-numeric">Visibility</th>
                            <th class="mdl-data-table__cell--non-numeric">Create-Date</th>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let key of keys">
                            <td class="mdl-data-table__cell--non-numeric bold">{{key.org.name}}/{{key.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric bold">{{key.skill.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{key.visibility}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{key.createdDate | date:'shortDate'}}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;"
                                                                             [routerLink]="['/app/issues', key.id]">Edit</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
    </article>
</section>
