<div class="page-err1">
    <div class="err-container">
        <div class="err">
            <h3>Advance Run</h3>
            <br/>

            <form role="form" #heroForm="ngForm">

                <div class="form-group row">
                    <label class="col-md-3 control-label">Project</label>
                    <div class="col-md-4">
                        <span>{{data.project.name}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">Job</label>
                    <div class="col-md-4">
                        <span>{{data.name}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">Environment</label>
                    <div class="col-md-4">
                        <span>{{data.environment}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">Issue-Tracker</label>
                    <div class="col-md-4">
                        <span>{{data.issueTracker}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">Notifications</label>
                    <div class="col-md-4">
                        <span *ngFor="let n of data.notifications">{{n}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">Tags</label>
                    <div class="col-md-4">
                        <span *ngFor="let t of data.tags">{{t}}</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 control-label">
                        Bot Region
                    </label>
                    <div class="col-md-4">
                        <mat-form-field>
                            <mat-select placeholder="{{data.regions}}" [(ngModel)]="regions" name="regions">
                                <mat-option *ngFor="let region of list" [value]="region">
                                    {{region.org.name}}/{{region.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-3"></div>
                    <div class="col-md-8">
                        <button mat-raised-button color="primary" (click)="run();"
                                class="btn-w-md no-margin-left">Run
                        </button>

                        <button mat-button type="button" color="primary" (click)="dialogRef.close()">Cancel</button>

                    </div>
                </div>

            </form>


        </div>
    </div>
</div>