
<h2 mat-dialog-title>{{data.name}}</h2>

<mat-dialog-content class="mat-typography">
        <form role="form" #heroForm="ngForm">

            <div class="form-group row">
                <label class="col-md-4 control-label">Environment</label>
                <div class="col-md-8">
                    <span>{{data.environment?.name}}</span>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">Test Suites</label>
                <div class="col-md-8">
                    <mat-input-container>
                        <input matInput [(ngModel)]="suites" placeholder="comma separated suite names" name="name">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-4 control-label">
                    Bot Region
                </label>
                <div class="col-md-8">
                    <mat-form-field>
                        <mat-select placeholder="{{data.regions}}" [(ngModel)]="regions" name="regions">
                            <mat-option *ngFor="let region of list" [value]="region">
                                {{region.org.name}}/{{region.name}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" (click)="run();" class="btn-w-md no-margin-left" cdkFocusInitial>Run</button>
</mat-dialog-actions>
