<h2 mat-dialog-title>{{data.name}}</h2>

<mat-dialog-content class="mat-typography">
    <form role="form" #heroForm="ngForm">
        <div class="form-group row">
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Select environment" [(ngModel)]="environment" name="environment">
                        <mat-option *ngFor="let env of envs" [value]="env.id">
                            {{env.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Bot Region" [(ngModel)]="regions" name="regions" [ngModelOptions]="{standalone: true}">
                        <mat-option *ngFor="let option of list" [value]="option">
                            {{option.org.name}}/{{option.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-md-4">
                <button mat-raised-button (click)="testSuiterun();" color="primary" cdkFocusInitail>Run</button>
            </div>
        </div>


        <div class="col-md-12 text-warning text-center h2" *ngIf="processing">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
        <div *ngIf="!processing">
            <div *ngFor="let testCaseResponse of runResult">
                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Status</th>
                                <th class="mdl-data-table__cell--non-numeric">Success</th>
                                <th class="mdl-data-table__cell--non-numeric">Time Taken</th>
                                <th class="mdl-data-table__cell--non-numeric">Data</th>
                            </tr>
                        </thead>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric"><span class="text-success"> Passed: {{testCaseResponse.totalPassed}}
                                    <span class="text-danger" *ngIf="testCaseResponse.failed != 0">&nbsp;&nbsp; Failed: {{testCaseResponse.totalFailed}}</span></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">
                                {{ ( (testCaseResponse.totalPassed ) / (testCaseResponse.totalPassed + testCaseResponse.totalFailed) ) | percent }}
                            </td>
                            <td class="mdl-data-table__cell--non-numeric">{{testCaseResponse.requestTime | mstoDuration}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{testCaseResponse.totalBytes | byteFormat}}</td>
                        </tr>
                        <tfoot>
                        </tfoot>
                    </table>
                </div>
                <mat-dialog-content class="mat-typography">
                    <h2 mat-dialog-title>Wire Logs</h2>
                    <ace-editor class="col-md-12 border editor" [(text)]="testCaseResponse.logs" [theme]="'github'" [mode]="'yaml'" [options]="{maxLines: 'Infinity', minLines: '15', showPrintMargin: false}"
                        [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000">
                    </ace-editor>
                </mat-dialog-content>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close class="text-danger pull-right">Close</button>
</mat-dialog-actions>