<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title">{{subscription.name}}</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Owner" required disabled [(ngModel)]="subscription.org.id" name="type">
                  <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                    {{org.org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Access level" [(ngModel)]="subscription.visibility" name="Access level">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="divider divider-dashed divider-lg pull-in"></div>

          <div class="form-group row">
            <label for="name" class="col-md-1 control-label"></label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required disabled [(ngModel)]="subscription.name" name="name" id="name"
                       matInput placeholder="Bot name">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-form-field>
                <mat-select placeholder="Account Type" disabled [(ngModel)]="subscription.cloudAccount.id" name="cloudAccount" id="cloudAccount">
                  <mat-option *ngFor="let cloudAccount of cloudAccounts" [value]="cloudAccount.id" (click)="setCloudAccount(cloudAccount);">
                    {{cloudAccount.name}} ({{cloudAccount.accountType}})
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="subscription.prop1" name="url"
                       matInput placeholder="Issue Tracker URL">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>Fx will automatically open, update, and close bugs for failed test in the Issue-Tracking system.</p>
              </div>
            </div>
          </div>

          <div class="form-group row" [hidden]="!subscription.cloudAccount.accountType !== 'JIRA'">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input [(ngModel)]="subscription.prop2"
                       matInput placeholder="Jira project short name" name="project_name">
              </mat-input-container>
            </div>
          </div>

          <!--<div class="form-group row">-->
            <!--<label class="col-md-1 control-label">-->
            <!--</label>-->
            <!--<div class="col-md-4">-->
              <!--<mat-input-container class="full-width">-->
                <!--<input [(ngModel)]="subscription.prop3"-->
                       <!--matInput placeholder="Username/Access-key" name="accessKey">-->
              <!--</mat-input-container>-->
            <!--</div>-->
          <!--</div>-->

          <!--<div class="form-group row">-->
            <!--<label class="col-md-1 control-label">-->
            <!--</label>-->
            <!--<div class="col-md-4">-->
              <!--<mat-input-container class="full-width">-->
                <!--<input [(ngModel)]="subscription.prop4"-->
                       <!--matInput placeholder="Password/Secret-key" name="secretKey">-->
              <!--</mat-input-container>-->
            <!--</div>-->
          <!--</div>-->

          <div class="form-group row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left">Save
              </button>
              <button mat-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/issues']">Cancel
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
