<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title">Bot</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label for="name" class="col-md-2 control-label">Bot Name</label>
            <div class="col-md-10">
              <input type="text" class="form-control" [(ngModel)]="subscription.name" disabled name="name" id="name"
                     placeholder="Bot name">
            </div>
          </div>

          <div class="form-group row">
            <label for="skill" class="col-md-2 control-label">Issue Tracker Type
            </label>
            <div class="col-md-10">
              <input type="text" class="form-control" [(ngModel)]="subscription.skill.name" disabled name="skill" id="skill"
                     placeholder="Bot Type">
            </div>
          </div>

          <div class="form-group row">
            <label for="repo" class="col-md-2 control-label">Issue Tracker URL
            </label>
            <div class="col-md-10">
              <input type="url" class="form-control" [(ngModel)]="subscription.prop1" name="url" id="repo"
                     placeholder="Issue Tracker URL">
            </div>
          </div>

          <div class="form-group row">
            <label for="repo" class="col-md-2 control-label">Visibility
            </label>
            <div class="col-md-10">
              <mat-form-field>
                <mat-select placeholder="Visibility" [(ngModel)]="subscription.visibility" name="visibility">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="divider divider-md"></div>
          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button mat-raised-button color="primary" (click)="update(); heroForm.reset()"
                      class="btn-w-md no-margin-left">Save
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" color="warn" class="btn-w-md" (click)="delete(); heroForm.reset()">Delete
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" class="btn-w-md" [routerLink]="['/app/issues']">Cancel
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
