<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title">{{subscription.name}}</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Owner" required disabled [(ngModel)]="subscription.org.id" name="type">
                  <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                    {{org.org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Access level" [(ngModel)]="subscription.visibility" name="Access level">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="divider divider-dashed divider-lg pull-in"></div>

          <div class="form-group row">
            <label for="name" class="col-md-2 control-label"></label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input required disabled [(ngModel)]="subscription.name" name="name" id="name"
                       matInput placeholder="Bot name">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-form-field>
                <mat-select placeholder="Issue Tracker Type" disabled [(ngModel)]="subscription.skill.id" name="skill" id="skill">
                  <mat-option *ngFor="let skill of skills" [value]="skill.id">
                    {{skill.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="subscription.prop1" name="url"
                       matInput placeholder="Issue Tracker URL">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row" [hidden]="!subscription.skill.id || subscription.skill.id != '4028b881620688c001620689a0010000'">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input [(ngModel)]="subscription.prop2"
                       matInput placeholder="Jira project short name" name="project_name">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input [(ngModel)]="subscription.prop3"
                       matInput placeholder="Username/Access-key" name="accessKey">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-2 control-label">
            </label>
            <div class="col-md-8">
              <mat-input-container class="full-width">
                <input [(ngModel)]="subscription.prop4"
                       matInput placeholder="Password/Secret-key" name="secretKey">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <button mat-raised-button color="primary" (click)="update();"
                      class="btn-w-md no-margin-left">Save
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" color="warn" class="btn-w-md" (click)="delete();">Delete
              </button>
              <span class="space space-md"></span>
              <button mat-raised-button type="button" class="btn-w-md" [routerLink]="['/app/issues']">Cancel
              </button>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
              <div class="callout callout-info">
                <p>
                  <code ngNonBindable>
                    e.g. issueTracker: Org/name
                  </code>
                </p>
                <p>
                  <code ngNonBindable>
                    e.g. issueTracker: FxLabs/Stg-GitHub-Bot
                  </code>
                </p>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
