<section class="app-header">
    <div class="app-header-inner" [ngClass]="{'bg-color-light': ['11','12','13','14','15','16','21'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-dark': AppConfig.colorOption === '31',
                 'bg-color-primary': ['22','32'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-success': ['23','33'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-info': ['24','34'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-warning': ['25','35'].indexOf(AppConfig.colorOption) >= 0,
                 'bg-color-danger': ['26','36'].indexOf(AppConfig.colorOption) >= 0}">

        <!--<div class="d-lg-none d-xl-none float-left">
          <button mat-button myToggleOffcanvasNav class="md-button header-icon toggle-sidebar-btn">
            <i class="material-icons">menu</i>
          </button>
        </div>-->


        <div class="brand d-none d-lg-inline-block d-xl-inline-block">
            <!--<h2><a [routerLink]="['/']">{{AppConfig.productName}}</a></h2>-->
            <img src="assets/images/fx-white-100x100.png" class="logo" height="65" [routerLink]="['/']" />
        </div>

        <div class="top-nav-left">
            <ul class="list-unstyled list-inline list-inline-item">
                <li routerLinkActive="active">
                    <button mat-button class="md-button header-btn" [routerLink]="['/app/projects']">
                        <mat-icon>home</mat-icon>
                    </button>
                </li>
            </ul>
        </div>

        <div class="top-nav-right">
            <ul class="list-unstyled float-right">
                <li>
                    <button mat-button [matMenuTriggerFor]="menu" class="md-button header-btn">
                        <mat-icon>
                            person_outline
                        </mat-icon>
                        <span>{{entry.users.name}} ({{entry.org.name}})</span>
                    </button>
                </li>
            </ul>
        </div>

        <mat-menu #menu="matMenu" [overlapTrigger]="false" xPosition="after">
            <ul class="list-unstyled float-right">
                <li>
                    <!-- <button mat-menu-item [routerLink]="['/app/accounts']">
                        <mat-icon>vpn_key</mat-icon>
                        <span>Credentials</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/app/vault']">
                        <mat-icon>security</mat-icon>
                        <span>Vault</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/app/messages']">
                        <mat-icon>notifications_none</mat-icon>
                        <span>Tasks</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/app/regions']">
                        <mat-icon>cloud_queue</mat-icon>
                        <span>Test Bots</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/app/marketplace']">
                        <mat-icon>shopping_cart</mat-icon>
                        <span>Marketplace</span>
                    </button>
                    <button mat-menu-item [routerLink]="['/app/orgs']">
                        <mat-icon>domain</mat-icon>
                        <span>Orgs</span>
                    </button>
                    <button mat-menu-item href="/logout"><i class="material-icons">power_settings_new</i>&nbsp; &nbsp; 
                        <span class="nav-text">Sign out</span></button> -->
                    <a href="/logout" mat-menu-item>
                        <mat-icon>power_settings_new</mat-icon>
                        <span>Sign out</span>
                    </a>
                </li>
            </ul>
        </mat-menu>

    </div>
    <mat-progress-bar *ngIf="AppConfig.isLoadingResults" mode="indeterminate"></mat-progress-bar>
</section>