<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <!--<h2 class="article-title">Continuous Test Automation for REST APIs. Ship fast, high-quality, & secure releases.</h2>-->
        <h2 class="article-title">.
            <button mat-button color="primary" class="btn-w-md pull-right" [routerLink]="['/app/projects/new']">
                <mat-icon class="material-icons">add</mat-icon>
                NEW PROJECT
            </button>
            <span class="space space-md"></span>
            <span class="space space-md"></span>
        </h2>

        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Auto-Code</th>
                    <th class="mdl-data-table__cell--non-numeric">Repo-Type</th>
                    <th class="mdl-data-table__cell--non-numeric">Create-Date</th>
                    <!--<th class="mdl-data-table__cell--non-numeric">Jobs</th>-->
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td class="mdl-data-table__cell--non-numeric bold">{{project.org.name}}/{{project.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{project.genPolicy}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{project.cloudAccount.accountType}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{project.createdDate | date:'shortDate'}}</td>
                    <!--<td class="mdl-data-table__cell--non-numeric"><a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a></td>-->
                    <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;"
                                                                     [routerLink]="['/app/projects', project.id]">Edit</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>
</section>
