<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">Projects
            <button mat-raised-button color="primary" class="btn-w-md pull-right" [routerLink]="['/app/projects/new']">New Project</button><div class="divider divider-sm"></div>
        </h2>

        <div class="box box-default table-box mdl-shadow--2dp">
            <table class="mdl-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Name</th>
                    <th class="mdl-data-table__cell--non-numeric">Visibility</th>
                    <th class="mdl-data-table__cell--non-numeric">Create-Date</th>
                    <th class="mdl-data-table__cell--non-numeric">Jobs</th>
                    <th class="mdl-data-table__cell--non-numeric"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let project of projects">
                    <td class="mdl-data-table__cell--non-numeric bold">{{project.org.name}}/{{project.name}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{project.visibility}}</td>
                    <td class="mdl-data-table__cell--non-numeric">{{project.createdDate | date:'shortDate'}}</td>
                    <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">Jobs</a></td>
                    <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;" [routerLink]="['/app/projects', project.id]">Edit</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </article>
</section>
