<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/orgs']">Orgs </a>
                &nbsp;<span class="text-muted"> > </span>&nbsp;
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">{{org.name}}</a>
                &nbsp;<span class="text-muted"> > </span>&nbsp;
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">Users</a>
                &nbsp;<span class="text-muted"> > </span>&nbsp; New
            </section>
        </article>
    </div>
</div>
<!-- <div class="box box-default"> 
        <div class="box-body">
                <a href="javascript:;" [routerLink]="['/app/orgs']">Organiztions</a>
                <span class="text-muted"> > </span>
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">{{org.name}}</a>
                <span class="text-muted"> > </span> 
                <a href="javascript:;" [routerLink]="['/app/orgs', org.id, 'users']">Users</a>                           
                <span class="text-muted"> > </span> New
        </div> 
    </div>  -->
<section class="container-fluid with-maxwidth chapter">
        <br>
    <article class="article">
        <div class="box box-default">
            <div class="box-body padding-xl">
                <div class="box-body">
                <form role="form" #heroForm="ngForm">

                    <div class="form-group row">
                        <label for="name" class="col-md-0 control-label"></label>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="entry.name" name="name" id="name"
                                       matInput placeholder="Name">
                            </mat-input-container>
                        </div>
                    </div>

                    <!--<div class="form-group row">
                      <label for="username" class="col-md-2 control-label"></label>
                      <div class="col-md-8">
                        <mat-input-container class="full-width">
                          <input required [(ngModel)]="entry.username" name="username" id="username"
                                 matInput placeholder="Username">
                        </mat-input-container>
                      </div>
                    </div>-->

                    <div class="form-group row">
                        <label for="email" class="col-md-0 control-label"></label>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="entry.email" name="email" id="email" type="email"
                                       matInput placeholder="Email">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-0 control-label"></label>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="entry.password" name="pass" id="pass" type="password"
                                       matInput placeholder="Password" min="8">
                            </mat-input-container>
                        </div>
                        <div class="col-md-5">
                            <mat-input-container class="full-width">
                                <input required [(ngModel)]="entry.confirmPassword" name="confirmPassword" id="confirmPassword"
                                       type="password"
                                       matInput placeholder="Confirm password" min="8">
                            </mat-input-container>
                        </div>
                    </div>


                    <div class="form-group row">
                        <label class="col-md-0 control-label">
                        </label>
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <mat-select placeholder="Role" required [(ngModel)]="entry.orgRole" name="roles">
                                    <mat-option  *ngFor="let role of roles" [value]="role">
                                        {{role}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>
                                    Role 'ADMIN' can manage all the resources in the Org. <br/>
                                    Role 'PROJECT_MANAGER' can manage everything except Accounts and Users. <br/>
                                    Role 'USER' has View & Run access only. <br/>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group pull-right">
                            <button mat-raised-button color="primary" (click)="create();"
                                    class="btn-w-md no-margin-left" [disabled]="!heroForm.valid">Create User
                            </button>
                            <button mat-button type="button" color="primary" class="btn-w-md"
                                    [routerLink]="['/app/orgs', org.id, 'users']">Cancel
                            </button>
                    </div>

                </form>
                </div>
            </div>
        </div>
    </article>
</section>
