<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <span>&nbsp; Usage Reports</span>
            </section>
        </article>
    </div>
</div>

<section class="container-fluid with-maxwidth no-breadcrumbs page-dashboard chapter">

    <article class="article">
        <div class="row">
            <div class="col-md-12">
                <span class="float-right">
                <a (click)="getPrevMonth()" href="javascript:void(0);"> <i class="fa fa-chevron-left" *ngIf="prevMonth"></i></a>
                <a><i class="fa fa-chevron-left" *ngIf="!prevMonth"></i></a>&nbsp;<b> {{selectedMonth}},</b>&nbsp;<b>{{yy}}</b>
                &nbsp;
                <a (click)="getNextMonth()" href="javascript:void(0);"><i class="fa fa-chevron-right" *ngIf="nextMonth"></i></a>
                <a><i class="fa fa-chevron-right" *ngIf="!nextMonth"></i></a></span>
            </div><br /> <br />
            <!-- Stats -->
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">code</i>
                    </div>
                    <div class="box-info">
                        <span>Projects</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{projects}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">devices</i>
                    </div>
                    <div class="box-info">
                        <span>Environments</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{envs}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">alarm</i>
                    </div>
                    <div class="box-info">
                        <span>Jobs</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{jobs}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-info">assignment</i>
                    </div>
                    <div class="box-info">
                        <span>Test-Suites</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{suites}} </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">directions_run</i>
                    </div>
                    <div class="box-info">
                        <span>Total Runs</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{runs}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">check</i>
                    </div>
                    <div class="box-info">
                        <span>Test Execution Units ( TEU ) </span>
                    </div>
                    <div class="box-bottom">
                        <span>{{tests}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">av_timer</i>
                    </div>
                    <div class="box-info">
                        <span>Total Time</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{time | mstoDuration}}</span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-warning">data_usage</i>
                    </div>
                    <div class="box-info">
                        <span>Data</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{bytes | byteFormat}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-success">cloud_queue</i>
                    </div>
                    <div class="box-info">
                        <span>Test Bots</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{eBots}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-success">bug_report</i>
                    </div>
                    <div class="box-info">
                        <span>Auto Bug Units ( ABU ) </span>
                    </div>
                    <div class="box-bottom">
                        <span>{{iTracker}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-success">add_alert</i>
                    </div>
                    <div class="box-info">
                        <span>Notification Channels</span>
                    </div>
                    <div class="box-bottom">
                        <span>{{channels}} </span>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6">
                <div class="box box-default">
                    <div class="box-top">
                        <i class="material-icons color-success">attach_money</i>
                    </div>
                    <div class="box-info">
                        <span>Balance</span>
                    </div>
                    <div class="box-bottom">
                        <span>-</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>