.mdl-data-table {
    border: 0px solid rgba(0, 0, 0, 0.1);
}
.mat-column-region {
    flex: 0 0 200px;
}
.mat-column-date {
    flex: 0 0 150px;
}

.mat-column-status {
    flex: 0 0 150px;
}

.mat-column-bugs {
    flex: 0 0 150px;
}
.mat-column-totaltime {
    flex: 0 0 100px;
}
.mat-column-passfail {
    flex: 0 0 150px;
}
.mat-column-success {
    flex: 0 0 80px;
}
.mat-column-data {
    flex: 0 0 80px;
}
.mat-raised-button-custom{
    background-color: #eeb856; 
    color: #ffffff;
    margin-bottom: 10px;
}
.p-custom{
    margin-bottom: 5px;
}
.callout-custom{
    margin: 6px 0px 6px 0px; 
    padding: 2px 0px 0px 12px;
}
.button-custom{
    margin-bottom: 12px;
}