<section class="container-fluid with-maxwidth chapter">

    <article class="article">
        <h2 class="article-title">
            <a href="javascript:;" >/</a> Logged-in Status
        </h2>
        <div class="box box-default">
            <div class="box-body padding-xl">

                <form role="form" #heroForm="ngForm">

                    <div class="form-group row">
                        <label for="username" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.org.name" name="org"
                                       id="org"
                                       matInput placeholder="Logged-in Org">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="username" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.users.username" name="username"
                                       id="username"
                                       matInput placeholder="Username">
                            </mat-input-container>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-md-1 control-label"></label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.users.name" name="name" id="name"
                                       matInput placeholder="Name">
                            </mat-input-container>
                        </div>
                    </div>

                    <!--<div class="form-group row">
                      <label for="email" class="col-md-2 control-label"></label>
                      <div class="col-md-8">
                        <mat-input-container class="full-width">
                          <input required disabled [(ngModel)]="entry.users.email" name="email" id="email" type="email"
                                 matInput placeholder="Email">
                        </mat-input-container>
                      </div>
                    </div>-->

                    <div class="form-group row">
                        <label class="col-md-1 control-label">
                        </label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.orgRole" name="orgRole" id="orgRole"
                                       matInput placeholder="Role">
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>
                                    Role 'ADMIN' can manage all the resources in the Org. <br/>
                                    Role 'PROJECT_MANAGER' can manage everything except Accounts and Users. <br/>
                                    Role 'USER' has View & Run access only.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 control-label">
                        </label>
                        <div class="col-md-4">
                            <mat-input-container class="full-width">
                                <input required disabled [(ngModel)]="entry.status" name="status" id="status"
                                       matInput placeholder="Status">
                            </mat-input-container>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p>
                                    'INACTIVE' status looses all access to the Org.
                                </p>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </article>
</section>
