<section class="container-fluid with-maxwidth chapter">

  <article class="article">

    <h2 class="article-title">New Cloud-Account</h2>
    <div class="box box-default">
      <div class="box-body padding-xl">

        <form role="form" #heroForm="ngForm">
          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-icon matSuffix class="material-icons">perm_identity</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Owner" required [(ngModel)]="entry.org.id" name="type">
                  <mat-option *ngFor="let org of orgs" [value]="org.org.id">
                    {{org.org.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-icon matSuffix class="material-icons">lock_outline</mat-icon>
              <mat-form-field>
                <mat-select placeholder="Access level" [(ngModel)]="entry.visibility" name="Access level">
                  <mat-option *ngFor="let visibility of visibilities" [value]="visibility">
                    {{visibility}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="divider divider-dashed divider-lg pull-in"></div>

          <div class="form-group row">
            <label for="name" class="col-md-1 control-label"></label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.name" name="name" id="name"
                       matInput placeholder="Name">
              </mat-input-container>
            </div>
          </div>



          <div class="form-group row">
            <label class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-form-field>
                <mat-select placeholder="Account Type" required [(ngModel)]="entry.accountType" name="type">
                  <mat-option *ngFor="let type of accountTypes" [value]="type">
                    {{type}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="form-group row" [hidden]="entry.accountType === 'Microsoft_TFS_Git' || entry.accountType === 'GitHub' || entry.accountType === 'Slack' || entry.accountType === 'Email' || !entry.accountType || entry.accountType === 'Local'">
            <label for="accessKey" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="accessKey"
                       matInput type="text" placeholder="Access-Key/Username">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row" [hidden]="entry.accountType === 'Microsoft_TFS_Git' || entry.accountType === 'GitHub' || entry.accountType === 'Slack' || entry.accountType === 'Email' || entry.accountType === 'Local' || !entry.accountType">
            <label for="secret" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="secret"
                       matInput type="password" placeholder="Secret-Key/Password">
              </mat-input-container>
            </div>
          </div>
          <!-- Microsoft TFS  Start    -->
          <div class="form-group row" [hidden]="entry.accountType !== 'Microsoft_TFS_Git' || !entry.accountType">
            <label for="microsoftTfsAccessKey" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="microsoftTfsAccessKey"
                       matInput type="text" placeholder="Access-Key/Username">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>Team Foundation Server from Microsoft provides a set of collaborative software development tools that integrate with your existing IDE or editor thus enabling your cross-functional team to work effectively on software projects of all sizes.
                  <br/><a target="_blank"
                          href="https://www.visualstudio.com/tfs/">Click here to know more<i class="material-icons"
                                                                                                                      style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" [hidden]="entry.accountType !== 'Microsoft_TFS_Git' || !entry.accountType">
            <label for="microsoftTfsSecret" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="microsoftTfsSecret"
                       matInput type="password" placeholder="Secret-Key/Password">
              </mat-input-container>
            </div>
          </div>
          <!-- Microsoft TFS  End    -->
          <!-- GitHub Start  -->
          <div class="form-group row" [hidden]="entry.accountType !== 'GitHub' || !entry.accountType">
            <label for="gitHubAccessKey" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.accessKey" name="accessKey" id="gitHubAccessKey"
                       matInput type="text" placeholder="Access-Key/Username">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>GitHub is a code hosting platform for version control and collaboration. It lets you and others work together on projects from anywhere.
                  <br/><a target="_blank"
                                           href="https://github.com/join?source=header-home">Click here to create account on Github <i class="material-icons"
                                  style="font-size: 18px;">open_in_new</i></a>
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" [hidden]="entry.accountType !== 'GitHub' || !entry.accountType">
            <label for="gitHubSecret" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="gitHubSecret"
                       matInput type="password" placeholder="Secret-Key/Password">
              </mat-input-container>
            </div>
          </div>
          <!-- GitHub End  -->

          <div class="form-group row" [hidden]="entry.accountType !== 'Slack' || !entry.accountType">
            <label for="secret_slack" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="secret" id="secret_slack"
                       matInput type="password" placeholder="Slack token">
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>
                  Slack is where work happens. It’s a digital workspace that powers your organization — all the pieces and the people — so you can get things done.<br/>
                  <a target="_blank"
                     href="https://api.slack.com/custom-integrations/legacy-tokens">Click here for token<i class="material-icons"
                                                                                                           style="font-size: 18px;">open_in_new</i></a>T
                </p>
              </div>
            </div>
          </div>

          <div class="form-group row" [hidden]="entry.accountType !== 'Email'">
            <label for="secret" class="col-md-1 control-label">
            </label>
            <div class="col-md-4">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="entry.secretKey" name="from" id="email"
                       matInput type="text" placeholder="From:">
              </mat-input-container>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-1"></div>
            <div class="col-md-8">
              <button mat-raised-button color="primary" (click)="create();"
                      class="btn-w-md no-margin-left">Add
              </button>
              <button mat-button type="button" color="primary" class="btn-w-md" [routerLink]="['/app/cloud-accounts']">Cancel
              </button>
            </div>
          </div>

        </form>

      </div>
    </div>
  </article>
</section>
