<div class="box box-default">
    <div class="box-body">
        <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
        &nbsp;<span class="text-muted"> > </span> &nbsp;{{project.name}}
        <!--&nbsp;<span class="text-muted"> > </span> &nbsp;Jobs -->
    </div>
</div>
<section class="container-fluid with-maxwidth chapter">
    <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>API Environment</ng-template>

        <div class="form-group row"></div>

        <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
                <mat-input-container class="full-width">
                    <input required [(ngModel)]="env.name" formControlName="nameCtrl"
                           matInput placeholder="Env name">
                </mat-input-container>
            </div>
        </div>

        <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
                <mat-input-container class="full-width">
                    <input required [(ngModel)]="env.baseUrl" formControlName="urlCtrl"
                           matInput placeholder="Base URL">
                </mat-input-container>
            </div>
            <div class="col-md-7">
                <div class="callout1 text-muted callout-info1">
                    <p>e.g. https://myapp/api/v1.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
                <mat-form-field>
                    <mat-select placeholder="Authentication Type" required
                                [(ngModel)]="env.auths[0].authType" formControlName="authTypeCtrl"
                                name="type">
                        <mat-option *ngFor="let type of authTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div *ngIf="env.auths[0].authType === 'Basic'">
            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].username" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="Username">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].password" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="Password">
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div *ngIf="env.auths[0].authType === 'OAuth_2_0'">

            <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-select placeholder="Authentication Type"
                                    [(ngModel)]="env.auths[0].grantType" [ngModelOptions]="{standalone: true}"
                                    name="type">
                            <mat-option *ngFor="let grant of grantTypes" [value]="grant">
                                {{grant}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div *ngIf="env.grantType === 'password'">
                <div class="form-group row">
                    <label for="name" class="col-md-0 control-label"></label>
                    <div class="col-md-5">
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="env.auths[0].username"
                                   [ngModelOptions]="{standalone: true}"
                                   matInput placeholder="Username">
                        </mat-input-container>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-md-0 control-label"></label>
                    <div class="col-md-5">
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="env.auths[0].password"
                                   [ngModelOptions]="{standalone: true}"
                                   matInput placeholder="Password">
                        </mat-input-container>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].clientId" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="ClientId">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].clientSecret" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="ClientSecret">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].id" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="Id">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].accessTokenUri" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="AccessToken Uri">
                    </mat-input-container>
                </div>
                <div class="col-md-7">
                    <div class="callout1 text-muted callout-info1">
                        <p>e.g. http://<>/token
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].userAuthorizationUri" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="UserAuthorization Uri">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-select placeholder="Client Authentication Scheme"
                                    [(ngModel)]="env.auths[0].clientAuthenticationScheme" [ngModelOptions]="{standalone: true}"
                                    name="type">
                            <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                {{scheme}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-select placeholder="Authorization Scheme"
                                    [(ngModel)]="env.auths[0].authorizationScheme" [ngModelOptions]="{standalone: true}"
                                    name="type">
                            <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                {{scheme}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-form-field>
                        <mat-select placeholder="Scope"
                                    [(ngModel)]="env.auths[0].scope" [ngModelOptions]="{standalone: true}"
                                    name="type">
                            <mat-option *ngFor="let scope of scopeTypes" [value]="scope">
                                {{scope}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>


        </div>

        <div *ngIf="env.auths[0].authType === 'Token'">
            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].header_1" [ngModelOptions]="{standalone: true}"
                               matInput placeholder="Header 1">
                    </mat-input-container>
                </div>
                <div class="col-md-7">
                    <div class="callout1 text-muted callout-info1">
                        <p>e.g. cookie: JWTTOKEN=Token or Authorization: key
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="name" class="col-md-0 control-label"></label>
                <div class="col-md-5">
                    <mat-input-container class="full-width">
                        <input [(ngModel)]="env.auths[0].header_2"
                               [ngModelOptions]="{standalone: true}" matInput
                               placeholder="Header 2">
                    </mat-input-container>
                </div>
            </div>
        </div>

        <div>
            <mat-card-actions>
                <button mat-raised-button color="primary"
                        class="nav-btn"
                        [disabled]="thirdFormGroup.invalid"
                        (click)="saveEnv();">Save & Complete
                </button>
            </mat-card-actions>
            <button mat-button matStepperPrevious>Back</button>
        </div>
    </form>
</section>