<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']">{{project.name}}</a>
                <span class="text-muted">&nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp;</span>
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"> Jobs </a>&nbsp;
                <span class="text-muted"> <i class="fa fa-chevron-right"></i> </span>
                Environments
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [active]="true" [routerLink]="['/app/projects', id, 'jobs']">Jobs
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']">
            <i class="material-icons">code</i> &nbsp;Code</label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">
            <i class="fa fa-line-chart"></i> &nbsp;&nbsp;Insights
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'recommendations']">
            <i class="material-icons text-danger" >lightbulb_outline</i> &nbsp;
            <span class="text-danger">Recommendations</span></label>
    </nav>
    <!--<br />-->

    <article class="article">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-7">
                        <mat-button-toggle-group #group="matButtonToggleGroup" value="environment" >
                            <mat-button-toggle value="jobs" [routerLink]="['/app/projects', id, 'jobs']">&nbsp;&nbsp;&nbsp;&nbsp; Jobs &nbsp;&nbsp;&nbsp;&nbsp;
                            </mat-button-toggle>
                            <mat-button-toggle value="environment"  [routerLink]="['/app/projects', id, 'environments']">Environments
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'environments', 'new']">
                            <i class="fa fa-plus"></i>
                            New Environment
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>
                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let env"> <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments', env.id, 'edit']">{{env.name}}</a>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="baseUrl">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Base URL </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.baseUrl}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="authCount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> AuthCount </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.auths.length}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.modifiedDate | date}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>
            </div>
        </div>

        <!-- <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)" [length]="length">
        </mat-paginator> -->

    </article>

</section>