<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <!-- <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
                &nbsp;
                <span class="text-muted"> > </span> &nbsp; -->
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">{{project.name}}</a>
                &nbsp;
                <span class="text-muted"> > </span> &nbsp;Environments
            </section>
        </article>
    </div>
</div>
<!-- <div class="box box-default">
  <div class="box-body">
    <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
    &nbsp;<span class="text-muted"> > </span> &nbsp;{{project.name}}
    
  </div>
</div> -->

<section class="container-fluid with-maxwidth chapter">

  <mat-toolbar class="rounded">
    <span style="flex: 1 1 auto;"></span>
    <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">
    <small class="space">Jobs</small>
  </a>
    
  &nbsp;&nbsp; <small>Environments</small>
    &nbsp;&nbsp;

    <!--a href="javascript:;" [routerLink]="['/app/projects', id, 'manage']">
      <small>Environment</small>
    </a-->

    <a href="javascript:;" [routerLink]="['/app/projects', id, 'test-suites']">
      <small>Test Suites</small>
    </a> &nbsp;&nbsp;

      <a href="javascript:;" [routerLink]="['/app/projects', id, 'api-coverage']">
          <small>Coverage</small>
      </a> &nbsp;&nbsp;

      <a href="javascript:;" [routerLink]="['/app/projects', id, 'manage']">
      <small>Edit</small>
    </a> &nbsp;&nbsp;
  </mat-toolbar>
  <article class="article">
    <div class="box box-default">
        <div class="box-body">
            <div class="row">
                <div class="col-md-10">
                    <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'environments', 'new']">
                        <i class="fa fa-plus"></i>
                        New Environment
                    </button>
                </div>
                <div class="col-md-2">
                    <p class="text-muted float-right">Total ({{length}})</p>
                </div>
            </div>
            <div class="box box-default table-box mdl-shadow--2dp">
                <table class="mdl-data-table">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric">Name</th>
                        <th class="mdl-data-table__cell--non-numeric">Base URL</th>
                        
                        <th class="mdl-data-table__cell--non-numeric">AuthCount</th>
                        <th class="mdl-data-table__cell--non-numeric">Created Date</th>
                        <!--th class="mdl-data-table__cell--non-numeric">Next-Fire</th>
                        <th class="mdl-data-table__cell--non-numeric"></th-->
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let env of envs">
                        <td class="mdl-data-table__cell--non-numeric">
                            <a href="javascript:;"
                               [routerLink]="['/app/projects', id, 'environments', env.id, 'edit']">{{env.name}}</a></td>
                        <td class="mdl-data-table__cell--non-numeric">{{env.baseUrl}}</td>
                        <td class="mdl-data-table__cell--non-numeric">{{env.auths.length}}</td>                        
                        <td class="mdl-data-table__cell--non-numeric">{{env.modifiedDate | date}}</td>
                        <!--td class="mdl-data-table__cell--non-numeric">{{job.nextFire | date:'short'}}</td>
                        <td class="mdl-data-table__cell--non-numeric">
                            <a href="javascript:;" (click)="advRun(job)">Run</a> &nbsp;
                            <a href="javascript:;" [routerLink]="['/app/projects' , id, 'jobs' , job.id, 'runs']">History</a>
                            &nbsp;
                        </td-->
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <mat-paginator [hidden]="length <= pageSize"
                   [pageSize]="pageSize"
                   hidePageSize="true"
                   (page)="change($event)"
                   [length]="length"
    >
    </mat-paginator>

</article>

</section>