<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">{{project.name}}</a>
                <span class="text-muted">&nbsp;&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;&nbsp;</span>
                Environments
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [routerLink]="['/app/projects', project.id, 'jobs']">Jobs
        </label>
        <label mat-tab-link [active]="true">Environments
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']">Test Suites
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">Coverage
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'configuration']">Configuration</label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'manage']">Git</label>
    </nav>
    <br />

    <article class="article">
        <div class="box box-default">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-10">
                        <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/projects', id, 'environments', 'new']">
                            <i class="fa fa-plus"></i>
                            New Environment
                        </button>
                    </div>
                    <div class="col-md-2">
                        <p class="text-muted float-right">Total ({{length}})</p>
                    </div>
                </div>

                <div class="mat-elevation-z8 box-default">
                    <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                        matSortDirection="desc">
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                            <mat-cell *matCellDef="let env"> <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments', env.id, 'edit']">{{env.name}}</a>
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="baseUrl">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Base URL </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.baseUrl}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="authCount">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> AuthCount </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.auths.length}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdDate">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </mat-header-cell>
                            <mat-cell *matCellDef="let env"> {{env.modifiedDate | date}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                    <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)"
                        [length]="length">
                    </mat-paginator>
                </div>

                <!-- <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                            <tr>
                                <th class="mdl-data-table__cell--non-numeric">Name</th>
                                <th class="mdl-data-table__cell--non-numeric">Base URL</th>

                                <th class="mdl-data-table__cell--non-numeric">AuthCount</th>
                                <th class="mdl-data-table__cell--non-numeric">Created Date</th>
                                <!--th class="mdl-data-table__cell--non-numeric">Next-Fire</th>
                        <th class="mdl-data-table__cell--non-numeric"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let env of envs">
                                <td class="mdl-data-table__cell--non-numeric">
                                    <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments', env.id, 'edit']">{{env.name}}</a></td>
                                <td class="mdl-data-table__cell--non-numeric">{{env.baseUrl}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{env.auths.length}}</td>
                                <td class="mdl-data-table__cell--non-numeric">{{env.modifiedDate | date}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div> -->
            </div>
        </div>

        <!-- <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true" (page)="change($event)" [length]="length">
        </mat-paginator> -->

    </article>

</section>