<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']">{{project.name}}</a>
                &nbsp;
                <span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;
                <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments']"> Environments </a>
                &nbsp;
                <span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;{{env.name}} &nbsp;
                <span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp; Edit
            </section>
        </article>
    </div>
</div>
<br/>
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [routerLink]="['/app/projects', project.id, 'jobs']">Jobs
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'environments']" [active]="true">Environments
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']">Test Suites
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">Coverage
        </label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'configuration']">AutoCode</label>
        <label mat-tab-link [routerLink]="['/app/projects', id, 'manage']">Git</label>

        <button mat-button color="warn" class="btn-w-sm text-danger pull-right" (click)="delete();">Delete
        </button>
        <button mat-button color="primary" class="btn-w-sm text-primary pull-right" (click)="cloneEnv()">Clone
        </button>
    </nav>
    <br/>
    <article class="article">
        <div class="box box-default">

            <div class="box-body ml-4">
                <form [formGroup]="thirdFormGroup" class="px-4">
                    <h6 class="mat-step-label-selected pb-4">Environment Details</h6>
                    <div class="form-group row"></div>
                    <div class="form-group row">
                        <!--label for="name" class="col-md-0 control-label"></label-->
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input required [(ngModel)]="env.name" formControlName="nameCtrl" matInput placeholder="Env name" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4"> e.g. Dev, Stg, QA, UAT, or Nightly etc
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <!--label for="name" class="col-md-0 control-label"></label-->
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input required [(ngModel)]="env.baseUrl" formControlName="urlCtrl" matInput placeholder="Base URL" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>

                        <div class="col-md-7">
                            <div class="callout1 text-muted callout-info1">
                                <p class="mt-4">e.g. https://myapp
                                </p>
                            </div>
                        </div>
                    </div>

                    <hr>
                    <div formArrayName="items" *ngFor="let item of thirdFormGroup.get('items')['controls']; let i = index;">
                        <div [formGroupName]="i">
                            <!--input formControlName="authType" placeholder="Item name"-->


                            <div class="form-group row">

                                <div class="col-md-5">
                                    <small>Authentication #{{i+1}}</small>
                                </div>
                                <div class="col-md-7">
                                    <span>
                                        <a href="javascript:;" (click)="removeItem(i)">
                                            <i class="fa fa-minus"></i> Remove
                                        </a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">

                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input required formControlName="name" matInput placeholder="Name" autocomplete="off">
                                        <mat-error>Required</mat-error>
                                    </mat-input-container>
                                </div>
                                <div class="col-md-7">
                                    <div class="callout1 text-muted callout-info1">
                                        <p class="mt-4">Note: Every environment should have "Default" and "Invalid_Auth"
                                            authentications
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-5">
                                    <mat-form-field class="full-width">
                                        <mat-select placeholder="Authentication Type" required formControlName="authType" name="authType">
                                            <mat-option *ngFor="let type of authTypes" [value]="type">
                                                {{type}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error>Required</mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-7"></div>
                            </div>


                            <!-- Basic -->
                            <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value == 'Basic'">
                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input required formControlName="username" matInput placeholder="Username" autocomplete="off">
                                            <mat-error>Required</mat-error>
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input required type="password" formControlName="password" matInput placeholder="Password" autocomplete="off">
                                            <mat-error>Required</mat-error>
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>
                            </div>

                            <!--OAUTH -->
                            <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value  == 'OAuth_2_0'">

                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="grantTypes Type" formControlName="grantType" name="type">
                                                <mat-option *ngFor="let grant of authTypesgrantTypes" [value]="grant">
                                                    {{grant}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value == 'password'">
                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="username" matInput placeholder="Username">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7"></div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="password" matInput placeholder="Password">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7"></div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="clientId" matInput placeholder="ClientId">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="clientSecret" matInput placeholder="ClientSecret">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="id" matInput placeholder="Id">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="accessTokenUri" matInput placeholder="AccessToken Uri">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="callout1 text-muted callout-info1">
                                            <p>e.g. http://
                                                <>/token
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="userAuthorizationUri" matInput placeholder="UserAuthorization Uri">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="Client Authentication Scheme" formControlName="clientAuthenticationScheme" name="type">
                                                <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                                    {{scheme}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="Authorization Scheme" formControlName="authorizationScheme" name="type">
                                                <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                                    {{scheme}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>

                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-form-field class="full-width">
                                            <mat-select placeholder="Scope" formControlName="scope" name="type">
                                                <mat-option *ngFor="let scope of scopeTypes" [value]="scope">
                                                    {{scope}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>


                            </div>

                            <!-- Token -->
                            <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value  == 'Token'">
                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="header_1" matInput placeholder="Header 1">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="callout1 text-muted callout-info1">
                                            <p>e.g. cookie: JWTTOKEN=Token or Authorization: key
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">

                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="header_2" matInput placeholder="Header 2">
                                        </mat-input-container>
                                    </div>
                                    <div class="col-md-7"></div>
                                </div>
                            </div>

                            <!-- Auth0 Start -->

                            <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value == 'Auth0'">
                                <br/>
                                <div class="form-group row">
                                    <label class="col-md-0 control-label">
                                    </label>
                                    <div class="col-md-5">
                                        Grant Type &nbsp; &nbsp;
                                        <mat-radio-group class="ui-md-radio-group-inline" [(ngModel)]="thirdFormGroup.controls.items.controls[i].controls.grantType.value"
                                            [ngModelOptions]="{standalone: true}">
                                            <mat-radio-button *ngFor="let grant of auth0GrantTypes" [value]="grant" color="primary">{{grant}}
                                                &nbsp; &nbsp; </mat-radio-button>
                                        </mat-radio-group>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="callout1 text-muted callout-info1">
                                            <p class="mt-4">Auth0 documentation <a href="https://auth0.com/docs/">https://auth0.com/docs/</a></p>
                                            <p *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value === 'client_credentials'">This
                                                is the OAuth 2.0 grant that server processes utilize in order to access an
                                                API. Use this endpoint to directly request an access_token by using the Client
                                                Credentials (a Client Id and a Client Secret).</p>
                                            <p *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value === 'password'">This
                                                is the OAuth 2.0 grant that highly trusted apps utilize in order to access
                                                an API. In this flow the end-user is asked to fill in credentials (username/password)
                                                typically using an interactive form. This information is later on sent to
                                                the Client and the Authorization Server. It is therefore imperative that
                                                the Client is absolutely trusted with this information.</p>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value === 'client_credentials'">

                                    <div class="form-group row">
                                        <!--<label for="name" class="col-md-0 control-label"></label>-->
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="accessTokenUri" matInput placeholder="Access Token URI">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. https://mycompany.auth0.com/oauth/token
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="clientId" matInput placeholder="Client ID">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. teTeLzG1fSOiAkMAwhO4gX9Tv2qpi6ge</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="clientSecret" matInput placeholder="Client Secret">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. 9nPlaiR9UPhEtRCLRr71BKcWjClAjAy9joInYPflhgn3vTCxyW2fiT99xTdpBGos</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-0 control-label"></label>
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="id" matInput placeholder="Audience">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. https://test/</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value === 'password'">
                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="accessTokenUri" matInput placeholder="Access Token URI">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. https://mycompany.auth0.com/oauth/token
                                                </p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="clientId" matInput placeholder="Client ID">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. teTeLzG1fSOiAkMAwhO4gX9Tv2qpi6ge</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="id" matInput placeholder="Audience">
                                            </mat-input-container>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="callout1 text-muted callout-info1">
                                                <p class="mt-4">e.g. https://test/</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="username" matInput placeholder="Username">
                                            </mat-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="password" matInput placeholder="Password">
                                            </mat-input-container>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-5">
                                            <mat-input-container class="full-width">
                                                <input formControlName="scope" matInput placeholder="Scope">
                                            </mat-input-container>
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <!-- Auth0 End -->

                        </div>
                    </div>
                    <div class="form-group row">

                        <div class="col-md-5">
                            <small></small>
                        </div>
                        <div class="col-md-7">
                            <a href="javascript:;" (click)="addItem()"><i class="fa fa-plus"></i> Add</a>
                        </div>
                    </div>


                    <div>
                        <mat-card-actions>
                            <br>
                            <button mat-raised-button color="primary" class="nav-btn" [disabled]="thirdFormGroup.invalid || thirdFormGroup.pristine"
                                (click)="saveEnv(thirdFormGroup);">Save
                            </button>
                            <button mat-button class="nav-btn" [routerLink]="['/app/projects', id, 'environments']">Cancel
                            </button>
                            <!-- <button mat-button color="warn" class="nav-btn" (click)="delete();">Delete
                            </button> -->
                            <!--"-->
                        </mat-card-actions>
                    </div>
                </form>

            </div>
        </div>
    </article>
</section>