<div class="box box-default">
        <div>
            <article>
                <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                        <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a> 
      &nbsp;<span class="text-muted"> > </span> &nbsp;
      <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']">{{project.name}}</a>
      &nbsp;<span class="text-muted"> > </span> &nbsp;
      <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments']"> Environments </a>
      &nbsp;<span class="text-muted"> > </span> &nbsp;{{env.name}}
      &nbsp;<span class="text-muted"> > </span> &nbsp; Edit
                </section>
            </article>
        </div>
    </div>

<!-- <div class="box box-default">
    <div class="box-body">
      <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs', 'new']"> Projects </a> 
      &nbsp;<span class="text-muted"> > </span> &nbsp;
      <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']">{{project.name}}</a>
      &nbsp;<span class="text-muted"> > </span> &nbsp;
      <a href="javascript:;" [routerLink]="['/app/projects', id, 'environments']"> Enironment </a>
      &nbsp;<span class="text-muted"> > </span> &nbsp;
      &nbsp; Edit
    </div>
  </div> -->
  
  <section class="container-fluid with-maxwidth chapter">
  
    <br/>
    <article class="article">
      <div class="box box-default">
        <div class="box-body">
  
            <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>API Environment</ng-template>
              
                <div class="form-group row"></div>
              
                <div class="form-group row">
                    <!--label for="name" class="col-md-0 control-label"></label-->
                    <div class="col-md-5">
                        <mat-form-field class="full-width">
                            <input required [(ngModel)]="env.name" formControlName="nameCtrl"
                                   matInput placeholder="Env name" autocomplete="off">
                            <mat-error>Required</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-7">
                        <div class="callout1 text-muted callout-info1">
                            <p> e.g. Dev, Stg, QA, UAT, or Nightly etc
                            </p>
                        </div>
                    </div>
                </div>
              
                <div class="form-group row">
                    <!--label for="name" class="col-md-0 control-label"></label-->
                    <div class="col-md-5">
                        <mat-form-field class="full-width">
                            <input required [(ngModel)]="env.baseUrl" formControlName="urlCtrl"
                                   matInput placeholder="Base URL" autocomplete="off">
                            <mat-error>Required</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="col-md-7">
                        <div class="callout1 text-muted callout-info1">
                            <p>e.g. https://myapp
                            </p>
                        </div>
                    </div>
                </div>

                <div formArrayName="items"
                     *ngFor="let item of thirdFormGroup.get('items').controls; let i = index;">
                    <div [formGroupName]="i">
                    <!--input formControlName="authType" placeholder="Item name"-->


                        <div class="form-group row">
                            <label  class="col-md-0 control-label"></label>
                            <div class="col-md-5">
                                <span >{{i+1}}# Authentication.... </span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label  class="col-md-0 control-label"></label>
                            <div class="col-md-5">
                                <mat-input-container class="full-width">
                                    <input required formControlName="name"
                                            matInput placeholder="Name" autocomplete="off">
                                    <mat-error>Required</mat-error>
                                </mat-input-container>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-0 control-label">
                            </label>
                            <div class="col-md-5">
                                <mat-form-field>
                                    <mat-select placeholder="Authentication Type" required
                                                formControlName="authType"
                                                name="authType">
                                        <mat-option *ngFor="let type of authTypes" [value]="type">
                                            {{type}}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error>Required</mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value == 'Basic'">
                            <div class="form-group row">
                                <label  class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input required formControlName="username"
                                               matInput placeholder="Username" autocomplete="off">
                                        <mat-error>Required</mat-error>
                                    </mat-input-container>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label  class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input required type="password"  formControlName="password"
                                               matInput placeholder="Password" autocomplete="off">
                                        <mat-error>Required</mat-error>
                                    </mat-input-container>
                                </div>
                            </div>
                        </div>
<!--OAUTH -->

                        <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value  == 'OAuth_2_0'">

                            <div class="form-group row">
                                <label class="col-md-0 control-label">
                                </label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select placeholder="grantTypes Type"
                                                    formControlName="grantType"
                                                    name="type">
                                            <mat-option *ngFor="let grant of authTypesgrantTypes" [value]="grant">
                                                {{grant}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.grantType.value == 'password'">
                                <div class="form-group row">
                                    <label for="name" class="col-md-0 control-label"></label>
                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="username"
                                                   matInput placeholder="Username">
                                        </mat-input-container>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="name" class="col-md-0 control-label"></label>
                                    <div class="col-md-5">
                                        <mat-input-container class="full-width">
                                            <input formControlName="password"
                                                   matInput placeholder="Password">
                                        </mat-input-container>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input formControlName="clientId"
                                               matInput placeholder="ClientId">
                                    </mat-input-container>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input formControlName="clientSecret"
                                               matInput placeholder="ClientSecret">
                                    </mat-input-container>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input formControlName="id"
                                               matInput placeholder="Id">
                                    </mat-input-container>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input formControlName="accessTokenUri"
                                               matInput placeholder="AccessToken Uri">
                                    </mat-input-container>
                                </div>
                                <div class="col-md-7">
                                    <div class="callout1 text-muted callout-info1">
                                        <p>e.g. http://<>/token
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input  formControlName="userAuthorizationUri"
                                               matInput placeholder="UserAuthorization Uri">
                                    </mat-input-container>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select placeholder="Client Authentication Scheme"
                                                    formControlName="clientAuthenticationScheme"
                                                    name="type">
                                            <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                                {{scheme}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select placeholder="Authorization Scheme"
                                                    formControlName="authorizationScheme"
                                                    name="type">
                                            <mat-option *ngFor="let scheme of schemeTypes" [value]="scheme">
                                                {{scheme}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-form-field>
                                        <mat-select placeholder="Scope"
                                                    formControlName="scope"
                                                    name="type">
                                            <mat-option *ngFor="let scope of scopeTypes" [value]="scope">
                                                {{scope}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                            </div>


                        </div>
                        <div *ngIf="thirdFormGroup.controls.items.controls[i].controls.authType.value  == 'Token'">
                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input  formControlName="header_1"
                                               matInput placeholder="Header 1">
                                    </mat-input-container>
                                </div>
                                <div class="col-md-7">
                                    <div class="callout1 text-muted callout-info1">
                                        <p>e.g. cookie: JWTTOKEN=Token or Authorization: key
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="name" class="col-md-0 control-label"></label>
                                <div class="col-md-5">
                                    <mat-input-container class="full-width">
                                        <input  formControlName="header_2"
                                               matInput
                                               placeholder="Header 2">
                                    </mat-input-container>
                                </div>
                            </div>
                        </div>
                        <!--End For Loop -->
                        <button mat-button color="primary" class="btn-w-md m-l-27"  (click)="removeItem(i)"
                        >
                            <i class="fa fa-minus"></i>
                            Remove Authentication
                        </button>
                    </div>
                </div>

                <div>
                    <mat-card-actions>
                        <button mat-button color="primary" class="btn-w-md"  (click)="addItem()"
                        >
                            <i class="fa fa-plus"></i>
                            Add Authentication
                        </button>
                        <button mat-raised-button color="primary"
                                class="nav-btn"
                                [disabled]="thirdFormGroup.invalid || thirdFormGroup.pristine"
                                (click)="saveEnv(thirdFormGroup);">Save & Complete
                        </button>
                        <!--"-->
                    </mat-card-actions>
                </div>
              </form>

        </div>
      </div>
    </article>
  </section>