<div class="row">
    <div class="col-md-8 overflow-hidden">
        <h6 mat-dialog-title class="text-primary">{{currentSuiteName}}</h6>
    </div>
    <div class="col-md-4">
        <a class="float-right" href="javascript:;;" (click)="dialogRef.close()"><i class="material-icons">
                close
            </i></a>
    </div>
</div>
<br>
<button mat-raised-button class="float-right" (click)="nextSuite()">
    Next<i class="material-icons">keyboard_arrow_right</i></button>
<button mat-raised-button class="float-right" (click)="previousSuite()">
    <i class="material-icons">keyboard_arrow_left</i>Previous</button>
<p>
    <span class="text-success h6"><b>{{passed}}</b></span>&nbsp;<span class="text-success small">Passed</span>&nbsp;
    <span *ngIf="failed != 0"><span class="text-danger h6"><b>{{failed}}</b></span>&nbsp;<span class="text-danger small">Failed</span>&nbsp;</span>
</p>


<mat-dialog-content class="mat-typography">
    <!-- <p class="fluid-container" style="white-space: pre;">{{data}}</p> -->
    <ace-editor class="col-md-12 border editor" id="editor" [(text)]="logData" [theme]="'github'" [mode]="'yaml'"
        [options]="{maxLines: 'Infinity', minLines: '25', showPrintMargin: false}" [readOnly]="false"
        [autoUpdateContent]="true" [durationBeforeCallback]="1000" #editor>
    </ace-editor>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Ok</button>
</mat-dialog-actions>