<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                <a href="javascript:;" [routerLink]="['/app/projects']">{{project.name}}</a>
                <span class="text-muted">&nbsp; &nbsp;<i class="fa fa-chevron-right"></i> &nbsp;&nbsp;</span>Edit
            </section>
        </article>
    </div>
</div>
<br />
<section class="container-fluid with-maxwidth chapter">
    <nav mat-tab-nav-bar>
        <label mat-tab-link [routerLink]="['/app/projects', project.id, 'issue']"> &nbsp; Issues</label>
        <label mat-tab-link [routerLink]="['/app/projects', project.id]" [active]="true"> &nbsp;&nbsp; Edit </label>
        <button mat-button color="warn" class="btn-w-xs text-danger pull-right" (click)="delete()"><i class="material-icons">delete</i>Delete
        </button>
    </nav>

    <article class="article">
        <div class="box box-default">
            <div class="box-body">
                <hr>
                <form [formGroup]="firstFormGroup">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input required [(ngModel)]="project.name" formControlName="nameCtrl" id="name"
                                    matInput placeholder="Project name" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- Repository details -->
                    <div class="form-group row">
                        <div class="col-md-5">
                            <mat-form-field class="full-width">
                                <input [(ngModel)]="project.description" [ngModelOptions]="{standalone: true}" id="repo"
                                    matInput placeholder="Description (Optional)" autocomplete="off">
                                <mat-error>Required</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <mat-card-actions class="pull-right">
                            <button mat-raised-button color="primary" class="nav-btn" [disabled]="firstFormGroup.invalid"
                                (click)="updateProject();">Update
                            </button>
                        </mat-card-actions>
                    </div>
                </form>
            </div>
        </div>
    </article>
</section>