<div class="box box-default">
    <div class="box-body">
        <a href="javascript:;" [routerLink]="['/app/projects']"> Projects </a>
        <span class="text-muted"> > </span> {{project.name}} <span class="text-muted"> > </span> Test Suites
    </div>
</div>

<section class="container-fluid with-maxwidth chapter">

    <mat-toolbar class="rounded">
        <span style="flex: 1 1 auto;"></span>
        <a href="javascript:;" [routerLink]="['/app/projects', id, 'jobs']"><small>Jobs</small></a> &nbsp;&nbsp;

        <a href="javascript:;" [routerLink]="['/app/projects', id, 'manage']"><small>Environment</small></a> &nbsp;&nbsp;

        <small>Test Suites</small> &nbsp;&nbsp;

        <a href="javascript:;" [routerLink]="['/app/projects', id, 'manage']"><small >Edit</small></a>&nbsp;&nbsp;
    </mat-toolbar>

    <article class="article">
        <div class="box box-default">
            <div class="box-body">

                <mat-tab-group (selectedTabChange)="tabChanged($event)">

                    <mat-tab label="Test Suites">
                        <section class="box box-transparent">
                            <div class="box-body padding-xl1">
                                <div class="box box-transparent">
                                    <div class="box-body no-padding-h">
                                        <div class="row">
                                            <div class="col-lg-12 mb-2">
                                                <button mat-raised-button color="primary"
                                                        (click)="projectSynchronization();"
                                                        class="btn-w-md float-right">
                                                    <i class="material-icons">autorenew</i> &ngsp; AutoCode Sync
                                                </button>
                                            </div>
                                        </div>
                                        <div class="box box-default table-box mdl-shadow--2dp">
                                            <table class="mdl-data-table">
                                                <thead>
                                                <tr>
                                                    <!-- <th class="mdl-data-table__cell&#45;&#45;non-numeric">#</th>-->
                                                    <th class="mdl-data-table__cell--non-numeric">File-Name</th>
                                                    <!--<th class="mdl-data-table__cell&#45;&#45;non-numeric">Category</th>-->
                                                    <th class="mdl-data-table__cell--non-numeric">Updated-date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let suiteData of suiteFile">
                                                    <!-- <td class="mdl-data-table__cell&#45;&#45;non-numeric">1</td>-->
                                                    <td class="mdl-data-table__cell--non-numeric bold">
                                                        <a href="javascript:;" (click)="getFileDetail(suiteData.id)">{{suiteData.filename}}</a>
                                                    </td>
                                                    <td class="mdl-data-table__cell--non-numeric">
                                                        {{suiteData.modifiedDate | date:'medium'}}
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <mat-paginator
                                    [pageSize]="pageSize"
                                    hidePageSize="true"
                                    (page)="change($event)"
                                    [length]="length">
                            </mat-paginator>
                        </section>
                    </mat-tab>

                    <mat-tab label="Savings">
                        <section class="box box-transparent">
                            <div class="box-body padding-xl">
                                <div class="box box-transparent">
                                    <div class="box-body no-padding-h">

                                        <div class="box box-default table-box mdl-shadow--2dp">
                                            <table class="mdl-data-table">
                                                <thead>
                                                <tr>
                                                    <th class="mdl-data-table__cell--non-numeric">#</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Type</th>
                                                    <th class="mdl-data-table__cell--non-numeric">Formula</th>
                                                    <th>Savings</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td class="mdl-data-table__cell--non-numeric">1</td>
                                                    <td class="mdl-data-table__cell--non-numeric">AutoCode Coverage</td>
                                                    <td class="mdl-data-table__cell--non-numeric text-muted">Total
                                                        test-suites checked-in by AutoCode
                                                    </td>
                                                    <td> {{ TestSuite?.autoGenAllSuites }}</td>
                                                </tr>
                                                <tr>
                                                    <td class="mdl-data-table__cell--non-numeric">2</td>
                                                    <td class="mdl-data-table__cell--non-numeric">Time savings</td>
                                                    <td class="mdl-data-table__cell--non-numeric text-muted">~(20
                                                        integration test per month per developer)
                                                    </td>
                                                    <td> {{ TestSuite?.totalTimeSaving | number }} hrs</td>
                                                </tr>
                                                <tr>
                                                    <td class="mdl-data-table__cell--non-numeric">3</td>
                                                    <td class="mdl-data-table__cell--non-numeric">Cost savings</td>
                                                    <td class="mdl-data-table__cell--non-numeric text-muted">~$50/hr per
                                                        developer
                                                    </td>
                                                    <td> ${{ TestSuite?.totalCostSaving | number}}</td>
                                                </tr>
                                                <tr class="bg-color-info font-weight-bold">
                                                    <td class="mdl-data-table__cell--non-numeric"></td>
                                                    <td class="mdl-data-table__cell--non-numeric">Total Value</td>
                                                    <td class="mdl-data-table__cell--non-numeric">Time saving + Cost
                                                        saving
                                                    </td>
                                                    <td>${{ TestSuite?.totalCostSaving | number}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </mat-tab>

                </mat-tab-group>

            </div>
        </div>

    </article>

</section>
