<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Bot Hub</h1>
        </div>
        <p class="text-muted">Launch test execution bots across private/public cloud regions.
            Test from regions where your customers are.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">

        <div class="container-fluid with-maxwidth chapter">

            <article class="article">
                <h2 class="article-title1">
                    <!--[routerLink]="['/app/regions/new']" -->
                    <button mat-button color="primary" class="btn-w-md" [routerLink]="['/app/regions/new']">
                        <mat-icon class="material-icons">add</mat-icon>
                        DEPLOY BOTS
                    </button>
                    <span class="space"></span>
                    <button mat-raised-button color="warn" class="btn-w-md"
                            [routerLink]="['/app/superbotnetwork']">SuperBotNetwork
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Region</th>
                            <th class="mdl-data-table__cell--non-numeric">Create-Date</th>
                            <!--<th class="mdl-data-table__cell--non-numeric">Visibility</th>-->
                            <th class="mdl-data-table__cell--non-numeric">Count</th>
                            <th class="mdl-data-table__cell--non-numeric">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list">
                            <td class="mdl-data-table__cell--non-numeric">
                                <a href="javascript:;"
                                   [routerLink]="['/app/regions', item.id]">{{item.org.name}}/{{item.name}}</a></td>
                            <td class="mdl-data-table__cell--non-numeric" [hidden]="item.manual">{{item.region}}</td>
                            <td class="mdl-data-table__cell--non-numeric" [hidden]="!item.manual">Registered</td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.createdDate | date:'shortDate'}}</td>
                            <!--<td class="mdl-data-table__cell--non-numeric">{{item.visibility}}</td>-->
                            <td class="mdl-data-table__cell--non-numeric">{{item.min}} <span
                                    matTooltip="10 virtual bots!" matTooltipPosition="above"><small>x10</small></span>
                            </td>
                            <td class="mdl-data-table__cell--non-numeric text-success">OK</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>

        </div>

        <mat-paginator [hidden]="length <= pageSize"
                       [pageSize]="pageSize"
                       hidePageSize="true"
                       (page)="change($event)"
                       [length]="length"
        >
        </mat-paginator>

    </article>
</section>
