<div class="box box-default">
    <div>
        <article>
            <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
                Test Bots
            </section>
        </article>
    </div>
</div>
<br />
<section class="chapter page-terms">

    <article class="article padding-lg-v1">

        <div class="container-fluid with-maxwidth chapter">
            <nav mat-tab-nav-bar>
                <label mat-tab-link [active]="true" [routerLink]="['/app/regions']">My Bots
                </label>
                <label mat-tab-link [routerLink]="['/app/superbotnetwork']">Super-Bot-Network
                </label>
            </nav>
            <br>
            <article class="article">
                <div class="box box-default">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-9">
                                <button mat-button color="primary" class="btn-w-md pull-left text-justify mt-3"
                                    [routerLink]="['/app/regions/new']">
                                    <i class="fa fa-plus"></i>
                                    New Test Bot
                                </button>
                            </div>
                            <div class="col-md-3">
                                <mat-input-container class="ml-8">
                                    <input [(ngModel)]="keyword" name="search" id="search" matInput type="search"
                                        placeholder="Search by name..." (keyup)="searchBot()">
                                     <mat-icon matSuffix class="text-muted">search</mat-icon>
                                </mat-input-container>
                                <p class="text-muted float-right mt-3">Total ({{length}})</p>
                            </div>
                        </div>
                        <div class="mat-elevation-z8 box-default">
                            <mat-table [dataSource]="dataSource" matSort matSortActive="name" matSortDisableClear
                                matSortDirection="desc">
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> <a href="javascript:;" [routerLink]="['/app/regions', item.id]">{{item.name}}</a>
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="region">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Region </mat-header-cell>
                                    <mat-cell *matCellDef="let item" [hidden]="item.manual"> {{item.region}} </mat-cell>
                                    <mat-cell *matCellDef="let item" [hidden]="!item.manual"> Registered </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="createdDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Create-date </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.createdDate | date:'shortDate'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="count">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Cluster Size </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> {{item.min}} <span matTooltip="10 virtual bots!"
                                            matTooltipPosition="above"><small>x10</small></span> </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                                    <mat-cell *matCellDef="let item"> Ok </mat-cell>
                                </ng-container>
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            </mat-table>

                            <mat-paginator [hidden]="length <= pageSize" [pageSize]="pageSize" hidePageSize="true"
                                (page)="change($event)" [length]="length">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </article>
</section>