<div class="box box-default">
  <div>
    <article>
      <section class="container-fluid with-maxwidth no-breadcrumbs chapter">
        <a href="javascript:;" [routerLink]="['/app/projects', project.id, 'jobs']">{{project.name}}</a>
          &nbsp;<span class="text-muted">&nbsp;<i class="fa fa-chevron-right"></i>&nbsp;</span>
          <a href="javascript:;" [routerLink]="['/app/projects', id, 'test-suites']"> Code </a>
        &nbsp; <span class="text-muted">&nbsp;<i class="fa fa-chevron-right text-muted"></i>&nbsp;</span> &nbsp;Git

      </section>
    </article>
  </div>
</div>
<br/>
<section class="container-fluid with-maxwidth chapter">
  <nav mat-tab-nav-bar>
    <label mat-tab-link [routerLink]="['/app/projects', project.id, 'jobs']">Jobs
    </label>
    <label mat-tab-link [routerLink]="['/app/projects', id, 'test-suites']" [active]="true">
      <i class="material-icons">code</i> &nbsp;Code</label>
    <label mat-tab-link [routerLink]="['/app/projects', id, 'api-coverage']">
      <i class="fa fa-line-chart"></i> &nbsp;&nbsp;Insights
    </label>
    <label mat-tab-link [routerLink]="['/app/projects', id, 'recommendations']">
      <i class="material-icons text-danger" >lightbulb_outline</i> &nbsp;
      <span class="text-danger">Recommendations</span></label>

      <button mat-button color="warn" class="nav-btn pull-right" (click)="delete();"><i class="material-icons">delete</i>Delete Project
    </button>
  </nav>
  <!--<br />-->

  <article class="article">

    <div class="box box-default">
      <div class="box-body">
          <div class="row">
              <div class="col-md-7">
                  <mat-button-toggle-group #group="matButtonToggleGroup" value="git" >
                      <mat-button-toggle value="testsuites" [routerLink]="['/app/projects', id, 'test-suites']">Test Suites
                      </mat-button-toggle>
                      <mat-button-toggle value="configuration"  [routerLink]="['/app/projects', id, 'configuration']">AutoCode
                      </mat-button-toggle>
                      <mat-button-toggle value="git"  [routerLink]="['/app/projects', id, 'manage']">Git
                      </mat-button-toggle>
                  </mat-button-toggle-group>
              </div>
          </div>
          <hr>

          <!--<mat-horizontal-stepper [linear]="true" #stepper>-->
        <!--<mat-step [stepControl]="firstFormGroup">-->
        <form [formGroup]="firstFormGroup">
          <!--<ng-template matStepLabel>Project Registration</ng-template>-->
          <div class="form-group row"></div>
          <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input required [(ngModel)]="project.name" formControlName="nameCtrl" id="name" matInput placeholder="Project name"
                  autocomplete="off">
                <mat-error>Required</mat-error>
              </mat-input-container>
            </div>
            <!--<div class="col-md-7">-->
            <!--<div class="callout1 text-muted callout-info1">-->
            <!--<p class="mt-4">e.g. MyApp-->
            <!--</p>-->
            <!--</div>-->
            <!--</div>-->
          </div>
          <!-- Repository details -->

          <div class="form-group row">
            <label class="col-md-0 control-label"></label>
            <div class="col-md-5">
              <mat-input-container class="full-width">
                <input [(ngModel)]="project.url" [ngModelOptions]="{standalone: true}" id="repo" matInput placeholder="Version Control URL (Optional)"
                  autocomplete="off">
                <mat-error>Required</mat-error>
              </mat-input-container>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <div class="mt-4">
                  <p class="callout callout-info">Recommended: FX Cloud uses Git repository as single source of truth
                    for test scripts and configuration files. Developers can add/edit test scripts from FX Cloud UI or
                    make direct changes in the Git repository using their favorite IDE.
                    <br />Note: Repository should be new and initialized (empty README file).
                    <br />e.g. 'https://github.com/username/MyApp' or 'git@github.com:username/MyApp.git' if using SSH
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group row" *ngIf="project.url">
            <label class="col-md-0 control-label">
            </label>
            <div class="col-md-5">
              <mat-form-field class="full-width">
                <mat-select placeholder="Version Control Credentials" [(ngModel)]="project.account.id" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let account of accounts" [value]="account.id">
                    {{account.name}} ({{account.accountType}})
                  </mat-option>
                </mat-select>
                <mat-error>Required</mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-7">
              <div class="callout1 text-muted callout-info1">
                <p>
                  <button mat-raised-button class="btn-w-md text-primary" (click)="openDialog()"><i class="fa fa-plus"></i>&nbsp;&nbsp;
                    New Version Control Credentials</button>
                  <br /> A user with read/write access to the test repository. <br /> Note: You can create a new 'FX'
                  user
                  with read/write access to the test repository.
                </p>
              </div>
            </div>
          </div>

          <div>
            <mat-card-actions class="pull-right">
              <button mat-raised-button color="primary" class="nav-btn" [disabled]="firstFormGroup.invalid" (click)="save();">Save
              </button>
              <!--<button mat-button (click)="gotoAutoCode(stepper);">Next</button>-->
            </mat-card-actions>
          </div>
        </form>

      </div>
    </div>
  </article>
</section>