<section class="chapter page-terms">

  <section class="hero">
    <div class="hero-content">
      <h1 class="hero-title">Marketplace</h1>
    </div>
    <p class="text-muted">Discover - Expert exchange, Skills, Test-Suites, & Services.</p>
  </section>

  <article class="article padding-lg-v article-dark article-bordered">
    <div class="container-fluid with-maxwidth chapter">

      <div class="box box-default table-box mdl-shadow--2dp">
        <!--<table class="mdl-data-table">
          <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Name</th>
            <th class="mdl-data-table__cell--non-numeric">Location</th>
            <th class="mdl-data-table__cell--non-numeric">Visibility</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of list">
            <td class="mdl-data-table__cell--non-numeric">{{item.org.name}}/{{item.name}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{item.region}}</td>
            <td class="mdl-data-table__cell--non-numeric">{{item.visibility}}</td>
          </tr>
          </tbody>
        </table>-->
      </div>

    </div>
  </article>
</section>
