<section class="chapter page-terms">

    <section class="hero">
        <div class="hero-content">
            <h1 class="hero-title">Bot Hub</h1>
        </div>
        <p class="text-muted">Launch and manage test execution bots across private/public clouds.</p>
    </section>

    <article class="article padding-lg-v1 article-dark article-bordered">

        <div class="container-fluid with-maxwidth chapter">

            <article class="article">
                <h2 class="article-title">
                    <!--[routerLink]="['/app/regions/new']" -->
                    <button mat-raised-button color="primary" class="btn-w-md pull-right" [routerLink]="['/app/regions/new']">Launch Bots
                    </button>
                    <div class="divider divider-sm"></div>
                </h2>
                <br/>

                <div class="box box-default table-box mdl-shadow--2dp">
                    <table class="mdl-data-table">
                        <thead>
                        <tr>
                            <th class="mdl-data-table__cell--non-numeric">Name</th>
                            <th class="mdl-data-table__cell--non-numeric">Location</th>
                            <th class="mdl-data-table__cell--non-numeric">Visibility</th>
                            <th class="mdl-data-table__cell--non-numeric"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let item of list">
                            <td class="mdl-data-table__cell--non-numeric">{{item.org.name}}/{{item.name}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.region}}</td>
                            <td class="mdl-data-table__cell--non-numeric">{{item.visibility}}</td>
                            <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;" [routerLink]="['/app/regions', item.id]">Edit</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </article>

        </div>
    </article>
</section>
