<section class="app-footer">
  <div class="container-fluid">
    <span class="float-left">
      <span>Copyright © <a class="brand" target="_blank" [href]="AppConfig.copyright">{{AppConfig.brand}}</a> {{AppConfig.year}}</span>
    </span>
    <span class="float-right">
      <a class="brand text-muted" target="_blank" href="https://fxlabs.io/pricing/">Pricing</a> &nbsp;&nbsp; | &nbsp;&nbsp;
      <a class="brand text-muted" target="_blank" [href]="AppConfig.docLink">Documentation</a> &nbsp;&nbsp; | &nbsp;&nbsp;
      <a class="brand text-muted" target="_blank" [href]="AppConfig.apiLink">REST API</a> &nbsp;&nbsp; | &nbsp;&nbsp;
      <a class="brand text-muted" target="_blank" [href]="AppConfig.cliLink">FX cli</a>
    </span>
  </div>
</section>
