<h2 mat-dialog-title>New Cloud Credentials</h2>

<mat-dialog-content class="mat-typography">
    <form role="form" #heroForm="ngForm">

        <!-- Registration Form on Modal Dialog Box Start -->

        <!-- Name Start -->
        <div class="form-group row">
            <label for="name" class="col-md-0 control-label"></label>
            <div class="col-md-6">
                <mat-input-container class="full-width">
                    <input required [(ngModel)]="entry.name" name="name" id="name" matInput placeholder="Name"
                        autocomplete="off">
                    <mat-error>Required</mat-error>
                </mat-input-container>
            </div>
            <div class="col-md-6">
                <div class="callout1 text-muted callout-info1">
                    <p class="mt-4">
                        e.g. Developer-FX
                    </p>
                </div>
            </div>
        </div>
        <!-- Name End -->

        <!-- Conditional Select Field for Different Account Types. Eg. Git, Bitbucket, GitLab, Github -->
        <div class="form-group row">
            <label class="col-md-0 control-label">
            </label>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <mat-select placeholder="Cloud Type" required [(ngModel)]="entry.accountType" name="type"
                        (change)="changeValue(true)">
                        <mat-option *ngFor="let type of accountTypes" [value]="type">
                            {{type}}
                        </mat-option>
                    </mat-select>
                    <mat-error>Required</mat-error>
                </mat-form-field>
            </div>
        </div>
        <!-- Conditional Select Field for Different Account Types. Eg. Git, Bitbucket, GitLab, Github End -->

        <!-- AWS  Start  -->
        <div *ngIf="entry.accountType === 'AWS'">

            <div class="form-group row">
                <label for="awsAccessKey" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width" *ngIf="entry.accountType != 'Slack'">
                        <input required [(ngModel)]="entry.accessKey" name="accessKey" id="awsAccessKey" matInput type="text"
                            placeholder="Access-Key">
                    </mat-input-container>
                </div>
                <div class="col-md-6">
                    <div class="callout1 text-muted callout-info1">
                        <p>AWS access keys
                            <a target="_blank" href="https://docs.aws.amazon.com/general/latest/gr/managing-aws-access-keys.html">&nbsp;learn
                                more <i class="material-icons" style="font-size: 18px;">open_in_new</i></a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <label for="awsSecret" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width">
                        <input required [(ngModel)]="entry.secretKey" name="secret" id="awsSecret" matInput type="password"
                            placeholder="Secret-Key">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <a href="javascript:;" (click)="toggleCloud()">Advanced section</a>
                </div>
            </div>

            <div [hidden]="cloudShow">

                <div class="form-group row">
                    <label class="col-md-0 control-label">
                    </label>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Available regions" [(ngModel)]="entry.allowedRegions" name="region"
                                multiple>
                                <mat-option *ngFor="let region of AWSREGIONS" [value]="region">
                                    {{region}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Restrict users from deploying bots across non available regions.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="name" class="col-md-0 control-label"></label>
                    <div class="col-md-6">
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="entry.prop1" name="prop1" id="privateKey" matInput placeholder="Key-Pair">
                        </mat-input-container>
                    </div>
                    <div class="col-md-6">
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Optional. The system will look for 'fx-kp' key-pair in the selected region.
                                If the key-pair is missing it will create one with the above name. Override
                                value to
                                provide your own key-pair.
                            </p>
                        </div>
                    </div>
                </div>
                <!--prop2 -->
                <div class="form-group row">
                    <label for="name" class="col-md-0 control-label"></label>
                    <div class="col-md-6">
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="entry.prop2" name="prop2" id="fxsg" matInput placeholder="Security Group name">
                        </mat-input-container>
                    </div>
                    <div class="col-md-6">
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Optional. The system will use default security-group in the selected region.
                                Override value to provide your own security-group.
                            </p>
                        </div>
                    </div>
                </div>
                <!--prop3 -->
                <div class="form-group row">
                    <label for="name" class="col-md-0 control-label"></label>
                    <div class="col-md-6">
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="entry.prop3" name="prop3" id="fxsubnet" matInput placeholder="Subnet name or id">
                        </mat-input-container>
                    </div>
                    <div class="col-md-6">
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Optional. The system will use default subnet in the selected region.
                                Override value to provide your own subnet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- AWS  End    -->

        <!-- Azure starts -->
        <div *ngIf="entry.accountType === 'AZURE'">

            <div class="form-group row">
                <label for="client" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width">
                        <input required [(ngModel)]="entry.accessKey" name="client" id="client" matInput type="text"
                            placeholder="Client ID">
                    </mat-input-container>
                </div>
                <div class="col-md-6 mt-4 callout1 text-muted callout-info1">
                    <p>Setting up a Client ID, Client Secret Key and Tenant ID for Azure
                        <a target="_blank" href="https://docs.bmc.com/docs/cloudlifecyclemanagement/46/setting-up-a-tenant-id-client-id-and-client-secret-for-azure-resource-manager-provisioning-669202145.html">&nbsp;learn
                            more <i class="material-icons" style="font-size: 18px;">open_in_new</i></a>
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label for="azureSecretKey" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width">
                        <input required [(ngModel)]="entry.secretKey" name="azureSecretKey" id="azureSecretKey"
                            matInput type="password" placeholder="Client Secret Key">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="tenantId" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width">
                        <input required [(ngModel)]="entry.prop2" name="tenant" id="tenant" matInput type="text"
                            placeholder="Tenant ID">
                    </mat-input-container>
                </div>
            </div>

            <div class="form-group row">
                <label for="subscriptionId" class="col-md-0 control-label">
                </label>
                <div class="col-md-6">
                    <mat-input-container class="full-width">
                        <input required [(ngModel)]="entry.prop1" name="subscriptionId" id="subscriptionId" matInput
                            type="text" placeholder="Subscription ID">
                    </mat-input-container>
                </div>
                <div class="col-md-6 callout1 text-muted callout-info1 mt-4">
                    <p> Subscription ID
                        <a target="_blank" href="https://blogs.msdn.microsoft.com/mschray/2016/03/18/getting-your-azure-subscription-guid-new-portal/">&nbsp;learn
                            more <i class="material-icons" style="font-size: 18px;">open_in_new</i></a>
                    </p>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-0 control-label">
                </label>
                <div class="col-md-5">
                    <a href="javascript:;" (click)="toggleCloud()">Advanced section</a>
                </div>
            </div>

            <div [hidden]="cloudShow">

                <div class="form-group row">
                    <label class="col-md-0 control-label">
                    </label>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Available regions" [(ngModel)]="entry.allowedRegions" name="region"
                                multiple>
                                <mat-option *ngFor="let region of AZUREREGIONS" [value]="region">
                                    {{region}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="callout1 text-muted callout-info1">
                            <p>
                                Restrict users from deploying bots across non available regions.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!-- Azure Ends -->

        <div class="form-group row">
            <div class="col-md-0"></div>
            <div class="col-md-8">

            </div>
        </div>

    </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button type="button" color="primary" class="btn-w-md" (click)="onClose();">Cancel
    </button>
    <button [disabled]="!heroForm.valid" mat-raised-button color="primary" (click)="create();" class="btn-w-md no-margin-left">Add
    </button>
</mat-dialog-actions>