
<section class="container-fluid with-maxwidth chapter">

  <article class="article">
    <h2 class="article-title">
      <a href="javascript:;" [routerLink]="['/app/orgs']"> / </a> {{org.name}} / Users
      <button mat-raised-button color="primary" class="btn-w-md pull-right" [routerLink]="['/app/orgs', org.id, 'users', 'new']">Add Member</button><div class="divider divider-sm"></div>
    </h2>
    <div class="box box-default table-box mdl-shadow--2dp">
      <table class="mdl-data-table">
        <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Name</th>
          <!--<th class="mdl-data-table__cell--non-numeric">Username</th>
          <th class="mdl-data-table__cell--non-numeric">Active</th>-->
          <th class="mdl-data-table__cell--non-numeric">Role</th>
          <th class="mdl-data-table__cell--non-numeric">Status</th>
          <th class="mdl-data-table__cell--non-numeric">Since</th>
          <th class="mdl-data-table__cell--non-numeric"></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let orgUser of orgUsers">
          <td class="mdl-data-table__cell--non-numeric">{{orgUser.users.name}}</td>
          <!--<td class="mdl-data-table__cell--non-numeric">{{orgUser.users.username}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{!orgUser.users.inactive}}</td>-->
          <td class="mdl-data-table__cell--non-numeric">{{orgUser.orgRole}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{orgUser.status}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{orgUser.createdDate | date:'shortDate'}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="javascript:;" [routerLink]="['/app/orgs/', org.id, 'users', orgUser.id]">Edit</a></td>
        </tr>
        </tbody>
      </table>
    </div>

    <mat-paginator [hidden]="length <= pageSize"
                   [pageSize]="pageSize"
                   hidePageSize="true"
                   (page)="change($event)"
                   [length]="length"
    >
    </mat-paginator>

  </article>
</section>
