<h6 mat-dialog-title>{{currentSuiteName}}</h6>
<button mat-button color="warn" class="btn-w-sm text-danger pull-right" (click)="deleteSuite();">Delete & Commit
</button>
<button mat-button color="primary" class="btn-w-sm text-primary pull-right" (click)="cloneTestSuite()">Clone
</button>
<p>Test Suite Details</p>



<mat-dialog-content class="mat-typography">
  <!-- <p class="fluid-container" style="white-space: pre;">{{data}}</p> -->
  <form [formGroup]="firstFormGroup">
  <ace-editor class="col-md-12 border editor" [(text)]="testSuite.yaml" [theme]="'github'" [mode]="'yaml'"
              [options]="{maxLines: 'Infinity', minLines: '25', showPrintMargin: false, fontSize:'11pt',
                        enableBasicAutocompletion: true}"
              [readOnly]="false" [autoUpdateContent]="true" [durationBeforeCallback]="1000" #editor>
  </ace-editor>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button color="primary" class="float-right" (click)="run();">Run</button>
  <button mat-raised-button color="primary" class="nav-btn" (click)="saveTestSuite();">
    Save & Commit</button>
  <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
</mat-dialog-actions>
